#content .node .title a:link { border-bottom: none; }
#footer { width: 788px; }
.main-inner { padding: 0; }
#main h1.title { border-bottom:2px ridge #0066CC;
color:#002783;
font-family:Georiga,"Times New Roman",Times,serif;
font-size:1.8em;
letter-spacing:-1px;
line-height:normal;
margin:1.25em 0 0.5em; }
fieldset { padding: 4px 10px; margin: 10px 0; }
#content legend a:link { padding-left: 20px; border-bottom: none; line-height: 1em;}
.left #sidebar-left { font-size: .85em; }
input { margin: 3px; }