input, textarea {
    background: rgba(255,255,255,1);
}

.required:before {
    content:" *";
    color: red;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.tooltip {
    z-index: 10000;
}

.form-group {
    width: 75%;
}

#sidebar {
    padding: 0px;
}