input, textarea {
    background: rgba(255,255,255,1);
}

.form-group {
    width: 87%;
}

.dropdown-menu {
    max-height: 36em;
    overflow-y: auto;
}

.tooltip {
    z-index: 10000;
}

.disabled {
  color: #ccc;
}

#sidebar {
    padding: 0;
}

.removable {
  float:left; 
  width:95%
}

.remover {
  display:none; 
  float:right; 
  width:5%
}

.format-remover {
    display: none;
    width:5%
}

.format-removable {
    float:left; 
    width:95%
  }

.input-group-addon {
  padding:5px;
}

.map-btn {
  margin:5px 5px 5px 20px;
  padding:3px;
}

.window-header {
    padding: 10px;
    cursor: move;
    z-index: 61;
    background-color: #92b9c5;
    color: #000;
}

#geometry {
  background: #fff;
  border: 2px solid #000;
  position: absolute;
  font-family: arial;
  height: 360px;
  padding: 0.5em;
  top: -1000px;
  left: -1000px;
  width: 318px;
  z-index: 1000;
}

#proj_alert {
  display: none;
  background: #fff;
  border: 4px solid red;
  position: absolute;
  font-family: arial;
  height: 180px;
  padding: 0.5em;
  width: 400px;
  left: 10%;
  top: 5%;
  z-index: 1000;
}

.close_btn {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    cursor: pointer;
}

.close_btn:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}

#map {
    position: relative;
    margin: auto;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    z-index: 1;
}

.confirm-btn {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left:-75px;  
  z-index: 99;
}

#proj_alert_confirm_btn {
  position: absolute;
  left: 45%;
  z-index: 99;
  margin: 0;
}

.right-caret > .caret {
    position: absolute;
    left: 85%;
    top: 16px;
}

#crossref {
  background: #fff;
  border: 2px solid #000;
  position: absolute;
  font-family: arial;
  height: 460px;
  padding: 0.5em;
  top: -1000px;
  left: -1000px;
  width: 800px;
  z-index: 1000;
}

#crossref_body {
  padding: 10px;
  height:365px;
  overflow: auto;
}

#crossref_btn {
  display: none;
}

/* Hide the arrows on number input boxes */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.coord-element {
  width: 50px;
}

.add-format {
    height: 34px;
    padding: 5px;  
    clear: both;     
}

.question {
    font-size: 1em;
    margin-left: 0;
}