#content h3{ display:inline; }
#content ul{ margin-top:1em; }

#map {
    position: relative;
    margin: auto;
    width:57.6em;
    height:57.6em;
    border:2px solid black;
}
.ol-mouse-position {
    position: absolute;
    left: 3.6em;
}
.layer-switcher .panel {
    font-size: 0.9em;
    opacity: 0.85;
}
.layer-switcher button{
    width:1.4em;
    height:1.4em;
    background-size: 100%;
    background-position: center;
}
.map-container {
    margin:auto; 
    width:100%;
}
.map-btn-container {
    margin: auto;
    width:57.6em;
    /*height:34px;*/
}
.map-text-container {
    width:2.88em;
    float:right;
    font-size:0.95em;
    padding-top: 0.288em;
    line-height: 1em;
}
/*.ol-zoom {
    position: absolute;
    top: 10px;
    left: 10px;
}*/