#content iframe#map {
    margin:0 0.5em 2em 1em ;
    padding:0;
    width:456px;
    height:460px;
    border:0;
    position:relative;
    float:right;
}
    
#content h3{ display:inline; }
#content ul{ margin-top:1em; }

#map {
    position: relative;
    margin: auto;
    width:800px;
    height:800px;
    border:2px solid black;
}
.ol-mouse-position {
    position: absolute;
    left: 50px;
}
.layer-switcher .panel {
    font-size: 0.9em;
    opacity: 0.85;
}
.layer-switcher button{
    width:22px;
    height:22px;
    background-size: 100%;
    background-position: center;
}
.map-container {
    margin:auto; 
    width:100%;
}
.map-btn-container {
    margin: auto;
    width:800px;
    /*height:34px;*/
}
.map-text-container {
    width:290px;
    float:right;
    font-size:0.95em;
    padding-top: 4px;
    line-height: 1em;
}
/*.ol-zoom {
    position: absolute;
    top: 10px;
    left: 10px;
}*/