
#map {
    position: relative;
    margin:0.72em;
    width:23em;
    height:23em;
    border:2px solid black;
    z-index: 1;
}

.lprow-no-margin {
    position: relative;
    margin-left: 1.44em;
}

.lprow {
    position: relative;
    margin-left: 1.44em;
    margin-bottom: 0.72em;
    margin-top: 0.72em;
}

.lprow2 {
  position: relative;
  min-height: 2.88em;
  margin-left: 1.44em;
  margin-bottom: 0.72em;
}

.title {
    font-size: 1.4em;
    color: #024a61;
    margin-bottom: 0.4em;
}

.field {
    font-weight: bold;
    font-style: italic;
    display:inline-block
}

.value-inline {
    display:inline-block
}

.value {
    display:block;
}

.col1 {
text-align: center;
margin-left: 0.72em;
width: 7.2em;
position: absolute;  
}

.col2_short {
  text-align: center;
  margin-left: 9em;
  width: 7.2em;
  position: absolute;
}
 
.col2 {
margin-left: 10.8em;
width: 10.8em;
position: absolute;
}

.col3 {
margin-left: 18em;
/* width: 45em; */
position: absolute;
font-weight: bold;

}

.col4 {
margin-left: 43.2em;
width: 10.8em;
}

.download {
background-color: #008ab8;
color: white;
font-weight: 200;
padding: 0.21em 0.72em 0.21em 0.72em;
font-family: "Open Sans", "Segoe UI", Arial, Helvetica, sans-serif;
font-size: 0.7em;
border-radius: 0.72em;
cursor: pointer;
}

.value li {
display: list-item;
list-style: circle;
}

#file-rows {
max-height: 28.8em;
overflow-x: auto;
}

.header {
color: white;
font-family: Georiga,"Times New Roman",Times,serif;
font-size: 1.8em;
letter-spacing: -1px;
line-height: normal;
font-weight: normal;
padding: 0.36em;
background-color: #92b9c5;
margin: 0.72em;
position: relative;
}

.header.small {
font-size: 1.3em;
}

.layer-switcher {
    font-size: 0.8em;
}

.layer-switcher button{
    width:1.7em;
    height:1.7em;
    background-size: 100%;
    background-position: center;
}

.borderless-table td {
    border: none;
    padding-right: 20px;
}

.data-table td, th { 
  border: solid;
  border-width: 1px 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.data-table th {
    background-color: lightgrey;
}
.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
  padding-left: 0;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  text-decoration: underline
}
.link-button:hover {
  text-decoration: underline
}


.ck-button {
    margin:4px;
    background-color:white;
    border-radius:25px;
    border:1px solid #757575;
    overflow:auto;
    float:left;
}

.ck-button a:hover {
  text-decoration: none;
}

.ck-button label {
    float:left;
    margin: 0;
}

.ck-button label span {
    text-align:center;
    padding: 3px 7px 2px 7px;
    display:block;
}

.ck-button:hover {
    background-color: #92B9C5;
    color:#fff;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px 17px 17px 17px;
  border: 1px solid #888;
  width: 340px;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#complete_download {
  margin:0 53px;
  width: 190px;
  font-size:medium;
}

.file_info {
  font-size: 12px;
  color: rgb(0,169,234);
  font-weight: normal;
}