/* create cross-browser defaults */
/* @import url(/static/css/undohtml.css); */

/*
global elements
*/
/* html, body, #wrapper{ margin:0 auto; } */

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans";
  color: #024a61;
}

body{
	/*background:transparent url(/static/imgs/bg_design.gif) top left repeat-x;*/
	/*font:0.85em/1.3 Helvetica, Arial, sans-serif;*/
	font-family: '1.3 Helvetica', sans-serif;
	line-height:1.6em;
  color: black;
}

.wrapper {
    position:relative;
    /*width:950px;*/
    padding-top:1.8em;
    padding-left:4.9em;
  }

#wrapper {
/*  width:950px;*/
  margin: 2.16em;
}

.fixed-width {
  width:70em;
}

.usap-dc-banner{ 
  background: url('/static/imgs/header/2009-Nitsche_Frank-544.jpg') no-repeat;
  background-position: center 25%;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:25em;
  width: 100%;
  margin: 0;
  margin-top:1.4em;
  padding-top:2.2em;
  left: 0;
}


.ieda-header {
    text-align: center;
    height: 9em;
    position: relative;
    background-color: white;
    min-width:74.5em;

}
.ieda-header ieda-banner {
    float: left;
    padding: 1px 15px;
}

.ieda-header h1 {
      font-size: 2.3em;
      font-family: "Optima Bold";
}

#usap-dc-banner{
	  /*position:relative;*/
    height:200%;
    /*width:100%;*/
}

#page-header {
  text-align: left;
  float:left;
  margin-top: 0.14em;
  height: 5em;
  position: relative;
  margin: auto;
}

#page-header  h1 a{
	color: #024a61;
  font-size: 1.3em;
	text-decoration:none;
}

#page-header h4{
  color: #024a61;
  text-decoration:none;
}

#page-header a:hover{
	border-bottom: 1px dotted;
}
	


/*
menu
*/
div#ieda-menu-wrap {
  background-color: #92b9c5;
  padding: 0;
  border: 0;
  float: left;
  width: 100%;
  height: 3.6em;
  z-index: 999;
  position: relative;
}
ul#ieda-menu {
  height: 3em;
  list-style: none;
  padding-left: 15px;
  /*margin-left: 2.9em;*/
  font: 100 1.18em/1em Open-Sans, Helvetica-Neue, Helvetica, Arial, sans-serif;
  background-color: #245494;
}
ul#ieda-menu li {
  /*margin: 0 0.15em;*/
  float: left;
  position: relative;
  z-index: 999;
  line-height: 3em;
}
ul#ieda-menu li a {
  padding: 0 1em 0 1em;
  border: 0;
  color: white;
  display: block;
}

ul#ieda-menu li a[disabled] {
  pointer-events: none;
  color: grey;
}

ul#ieda-menu li a img {
  margin-left: -0.5em;
  vertical-align: baseline;
}
ul#ieda-menu li ul {
  margin-left: 0;
  list-style: none;
  padding: 0.7em 0;
  border-top: none;
  text-align: left;
  position: absolute;
  left: -999em;
  z-index: 999;
  background-color: #92b9c5;
  /*#224488;*/
  border-radius: 0 0 0.5em 0.5em;
}
ul#ieda-menu li ul li {
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 999;
  line-height: 1em;
}
ul#ieda-menu li ul li a {
  margin: 0.1em 0;
  padding: 0.2em 0 0.4em 1.25em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 0;
  /* &:hover, &.cur {
                        border-top:1px solid #1c357b;
                        border-bottom:1px solid #1c357b;
                    }*/
}
ul#ieda-menu li a:hover,
ul#ieda-menu > li:hover > a,
ul#ieda-menu li a.cur {
  color: #fff;
  background-color:#326c83;
}
/*Old rules for IE*/
ul#ieda-menu li ul,
ul#ieda-menu li ul li {
  width: 14em;
}
ul#ieda-menu li:hover ul,
ul#ieda-menu li.submenu ul {
  left: 0;
  min-height: 0;
}
/*#menu_search_link {
	float: right;
	margin-right: 10px;
}*/
#menu_search_button_link:hover {
  background: none !important;
}
#menu_search_button {
  background-color: #A0A0A0 ;
  padding-left: 1.1em;
  padding-right: 1.1em;
  margin-top: 0.72em;
  height: 2.2em;
  line-height: 2.2em;
  color: #fff;
  font-size: 1.3em;
  display: block;
  border-radius: 0.36em;
}
#menu_search_button:hover {
  background-color: #3b839b;
}
#menu_search_button ul#ieda-menu li a:hover,
#menu_search_button ul#ieda-menu > li:hover > a,
#menu_search_button ul#ieda-menu li a.cur {
  background-image: none;
}

.border{
  width: 100%;
  color: #555;
  border: 0.22em solid #92b9c5;
  border-radius: 0.72em;
}

/* homepage big icons*/
.shadow-container {
  float: center;
  left: 0.36em;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  margin-right: 1.8em;
  margin-left: 1.8em;
  height: 14.4em;
  position: relative;
  text-align: center;
  align: center;
  border: 0.72em;
  padding-bottom: 2.88em;
}
.shadow-container .container {
  position: relative;
  height: 14.4em;
  padding: 1.44em;
  width: 18em;
  border-color: #245484;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  /* #7e4d17;*/
}
.shadow-container p {
  color: #245484;
  font-size: 200%;
}
.shadow-container a.image {
  text-decoration: none !important;
  border: none !important;
  padding: 0 !important;
}
.shadow-container a.image:hover {
  background-color: transparent !important;
  border: none !important;
  text-decoration: none !important;
}


/*
footer
*/
#footer {
  margin-top: 1.44em;
  padding: 0.36em 0.72em;
  background-color: #92b9c5;
  text-align: left;
  font: 100 0.9em Helvetica-Neue, Helvetica, Arial, sans-serif;
  clear: both;
}
#footer a {
  padding: 0 1px 0 1px;
}
#footer a:link {
  text-decoration: none;
  color: #337ab7;
}
#footer a:visited {
  text-decoration: none;
  border-bottom: 1px solid #337ab7;
  color: #337ab7;
}
#footer a:hover {
  text-decoration: none;
  color: #337ab7;
  background-color: #e9f0ff;
}
#footer a.information {
  text-decoration: none;
  padding-right: 0.86em;
  padding-top: 0.72em;
  background: transparent url(/imgs/icons/question.png) center right no-repeat;
}
#footer a.information span {
  margin: 0;
  padding: 0 0 0.29em 0;
  width: 1.22em;
  height: 1em;
  display: inline-block;
  background: transparent url(/imgs/icons/question.png) center right no-repeat;
  vertical-align: bottom;
}
#footer a.external {
  padding-right: 0.94em;
  background: transparent url(/imgs/external.gif) center right no-repeat;
}
#footer a.external span {
  margin: 0;
  padding: 0 0 0.29em 0;
  width: 0.72em;
  height: 1em;
  vertical-align: bottom;
}
#footer a.top {
  margin: 0;
  padding: 0 0.14em 0 1.3em;
  border-bottom: 1px dotted;
  text-align: right;
  font-size: 0.85em;
  background: transparent url(/imgs/top_icon.gif) top left no-repeat;
}
#footer a.noline {
  text-decoration: none;
  border: none;
  color: #337ab7;
  /*color:#039;*/
}
#footer p {
  margin: 0.25em auto;
  text-align: left;
}
#footer p.legal a {
  margin: 0 0.5em;
}
#footer acronym {
  cursor: help;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.content {
  margin: 0.72em 2.16em 0.72em 2.16em;
}

/*
content area & common elements
*/
#content {
  position: relative;
  margin: 0.72em 2.16em 0.72em 2.16em;
  padding: 0.72em;
  padding-top: 1.8em;
  text-align: left;
  z-index: 1;
  clear: left;
  width: 68.76em;
  overflow-x: visible;
  background-color: #FFFFFF;
  border-radius: 0.5em;
}
#content p {
  margin: 0.5em 0 1em 0;
}
#content h2 {
  margin: 0.3em 0 0.5em 0;
  border-bottom: 1px solid ;
  /*#002783;*/
  text-decoration: none;
  font: 100 2.3em/1em Helvetica-Neue, Helvetica, Arial, sans-serif;
  letter-spacing: -0.072em;
  padding-bottom: 0.144em;
  color: #245484;
  font-weight: 350;
}
#content h3 {
  margin: 1.2em 0 0.5em 0;
  padding-bottom: 0.15em;
  border-bottom: 1px dotted;
  /* #002288;*/
  font: 100 1.5em/1em Helvetica-Neue, Helvetica, Arial, sans-serif;
  color: #024a61;
  font-weight: 400;
}
#content h4 {
  margin: 1em 0 0.25em 0;
  font: 500 1.25em/1em Helvetica-Neue, Helvetica, Arial, sans-serif;
  color: #333;
  /*border-bottom: 1px solid #A7B7DE*/
}
#content info_text {
  margin: 1em 0 0.25em 0;
  font: italic 0.95em Helvetica-Neue, Helvetica, Arial, sans-serif;
  color: grey;
}
#content ul,
#content ol,
#content dl {
  margin-left: 3.5em;
}
#content ul {
  list-style: circle outside;
}
#content ul#toc {
  list-style: none;
}
#content ul#toc li {
  margin-bottom: 0.25em;
  list-style: decimal outside;
}
#content ul#norm_tabs {
  list-style: none !important;
}
#content ol {
  list-style: lower-roman outside;
}
#content ol ol {
  list-style: lower-alpha outside;
}
#content li {
  margin-bottom: 0.3em;
}
#content dl dt {
  padding-bottom: 0.5em;
  float: left;
  color: #002783;
  width: 8em;
  text-align: right;
}
#content dl dd {
  padding-bottom: 0.5em;
  margin-left: 9em;
}


/* table theming */

#dif-browser-table table {
  width:100%;
  border:0.144em solid #024161;
  border-collapse: separate;
  padding:0;
  margin:0.36em 0.36em 0.72em 0.36em;
  table-layout: fixed;
}

#dif-browser-table table th {
  background-color:rgb(171, 193, 216);
  color: rgb(36, 84, 148);
  text-align: left;
  padding-right: 1em; 
  padding: 0.14em 0.36em;
  line-height:1.5em; 
  border:1px solid white;
  word-wrap: break-word;
}

#dif-browser-table table tr {
  padding: 0.14em 0.36em;
  line-height:1.5em;
   
}

#dif-browser-table table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dif-browser-table table td {
  padding:0.14em;
  border:1px solid white;
  word-wrap: break-word;
}

#content table {
  margin: 0.5em 0 1em 0;
  border-collapse: collapse;
}
#content table caption {
  color: #002783;
  font-style: italic;
  font-size: 0.95em;
}
#content table th,
#content table tfoot {
  color: #002783;
}
#content table td,
#content table th {
  padding: 0.25em 0.75em;
}
#content table thead th,
#content table tfoot td {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  padding: 0.15em 0.75em;
}
#content table.left_header {
  border-top: 1px dotted;
}
#content table.left_header tfoot td {
  border-bottom: 0;
}
#content a {
  padding: 0 1px 0 1px;
}
#content a:link {
  text-decoration: none;
  color: #337ab7;
}
#content a:visited {
  text-decoration: none;
  border-bottom: 1px solid #337ab7;
  color: #337ab7;
}
#content a:hover {
  text-decoration: none;
  color: #337ab7;
  background-color: #e9f0ff;
}
#content a.information {
  text-decoration: none;
  padding-right: 0.864em;
  padding-top: 0.72em;
  background: transparent url(/imgs/icons/question.png) center right no-repeat;
}
#content a.information span {
  margin: 0;
  padding: 0 0 0.288em 0;
  width: 1.22em;
  height: 1em;
  display: inline-block;
  background: transparent url(/imgs/icons/question.png) center right no-repeat;
  vertical-align: bottom;
}
#content a.external {
  padding-right: 0.936em;
  background: transparent url(/imgs/external.gif) center right no-repeat;
}
#content a.external span {
  margin: 0;
  padding: 0 0 0.288em 0;
  width: 0.72em;
  height: 1em;
  vertical-align: bottom;
}
#content a.top {
  margin: 0;
  padding: 0 0.14em 0 1.3em;
  border-bottom: 1px dotted;
  text-align: right;
  font-size: 0.85em;
  background: transparent url(/imgs/top_icon.gif) top left no-repeat;
}
#content a.noline {
  text-decoration: none;
  border: none;
  color: #337ab7;
  /*color:#039;*/
}
#content acronym {
  cursor: help;
}
#content blockquote {
  margin: 0.5em 4em 0.5em 8em;
  padding-left: 1em;
  border-left: 1px dotted #ccc;
  font-size: 0.95em;
}
#content pre {
  font-size: 1.1em;
}
#content .indent {
  margin-left: 1.5em;
}
#content #home_main {
  margin-right: 15.5em;
}
#content #home_panel {
  width: 13.5em;
  float: right;
}
#content #home_panel h3 {
  margin-top: 0;
}
#content #home_panel ul {
  margin-bottom: 2em;
  margin-left: 2.5em;
}
.read-more-button {
  background-color: rgba(255, 255, 255, 0.5);
  height: 3em;
  width: 12em;
  color: #245484;
  border-color: #245484;
  border-radius:15px;
  border-width: 2px;
  border-style: solid;
  vertical-align: center;
  font-size: 0.96em;
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 1em 1em 1em 1em;
}



/*this is for the home page 2 columns used on new index page */
.split {
  width: 100%;
  /*height:600px;*/
  margin-top: 0.72em;
}
.left {
  width: 33%;
  float: left;
}
.right {
  width: 65%;
  float: right;
}
.banner-left {
  width: 45%;
  float: left;
}
.banner-right {
  width: 45%;
  float: right;
}
.split h3 {
  margin: 0 0 0.5em 0;
  padding-bottom: 0.15em;
  border-bottom: 1px dotted;
  font-weight: 400;
}
.split h5 {
  display: inline;
}
.split ul {
  list-style: circle outside;
  padding-left: 20px;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 1.08em 0 3.31em;
  border: none;
  text-align: left;
  line-height: 2.45em;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1.15em;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.45em;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 2.3em rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
  width: 12.96em;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url(/static/imgs/Google-post-60x60.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.3em;
 /* background: url(../imgs/icon_google.png) 6px 6px no-repeat;*/
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/* Orcid */
.loginBtn--orcid {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: rgb(166,206,57);
  width: 12.96em;
}
.loginBtn--orcid:before {
  border-right: #728f24 1px solid;
  background: url(/static/imgs/orcid_logo.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.3em ;
}
.loginBtn--orcid:hover,
.loginBtn--orcid:focus {
  background: rgb(170,210,61);
}

.scrollable-window {
  height: 400px;
  width: 90%;
  overflow: auto;
  font-size: 10px;
  margin-left:3em;
  margin-bottom: 10px;
}

.stats-text {
    font-family: Arial;
    font-size: 15;
    font-weight: bold;
    stroke: none;
    stroke-width: 0;
    fill: rgb(0, 0, 0);
    margin-left:2em;
}

.search-stats {
  display:inline-block;
  height: 400px;
  width: 150px;
  overflow: auto;
  font-size: 10px;
  margin-left:3em;
  margin-bottom: 10px;
}

.referer-stats {
  width: 600px;
  border: 1px solid black;
  padding: 20px;
}

.referer-table {
  max-height: 380px;
  width: 600px;
  overflow: auto;
  font-size: 10px;
}

textarea[disabled], input[disabled], textarea[readonly], input[readonly], div[disabled]{
    background-color: #eee;
    opacity: 1;
    cursor: default;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.form-group {
    width: 95%;
}

.required:before {
    content:" *";
    color: red;
}

.question {
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.2em;
  color: #337ab7;
}

.answer {
  margin-left: 20px;
}

.stats-limits-div {
  margin: 10px 0 30px 127px;
}

.stats-limits-div input[type=number] {
  width:80px;
}

.card {
  width: 350px;
  color: white;
  background-color:  #337ab7;
  font-size: 22px;
  padding: 15px;
}

.icon {
  height: 40px;
  margin-right:5px;
  margin-bottom: 5px;
}

.ohnohoney {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.justify {
  text-align:justify;
}

.plot_header {
  margin-bottom: -9px;
  margin-top: 50px;
  margin-left: 100px;
}

.plot_header h4, h5 {
  color: black;
  font-weight: bolder;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

element.style {
    color: #FFFFFF;
    background-color: #428bca;
}

.treeview .icon {
    height:fit-content;
    -webkit-text-stroke: 1px white;
}

.treeview .list-group-item {
    padding: 4px;
}

  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.selected_item {
    width: 500px;
    margin-top: 0px;
}