/* create cross-browser defaults */
@import url(/static/css/undohtml.css);

/*
global elements
*/
/* html, body, #wrapper{ margin:0 auto; } */

h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans";
  color: #024a61;
}

body{
	/*background:transparent url(/static/imgs/bg_design.gif) top left repeat-x;*/
	/*font:0.85em/1.3 Helvetica, Arial, sans-serif;*/
	font-family: '1.3 Helvetica', sans-serif;
	line-height:1.6em;
  color: black;
}

.wrapper {
    position:relative;
    width:1000px;
    padding-top:25px;
    padding-left:68px;
  }

#wrapper {
  margin: 30px;
}

.usap-dc-banner{ 
  background: url('/static/imgs/header/2009-Nitsche_Frank-544.jpg') no-repeat;
  background-position: center 25%;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:25em;
  width: 100%;
  margin: 0;
  margin-top:30px;
  padding-top: 30px;
  left: 0;
}


.ieda-header {
    text-align: center;
    height: 9em;
    position: relative;
    background-color: white;
    min-width:950px;

}
.ieda-header ieda-banner {
    float: right;
    display: block;
    width:200px;
}

.ieda-header ieda-banner img {
    width:80%;
    height:80%;
}
.ieda-header h1 {
      font-size: 2.3em;
      font-family: "Optima Bold";
}
#usap-dc-banner{
	  /*position:relative;*/
    height:200%;
    /*width:100%;*/
}


#mgds-header ieda_logo {
  float: right;
  display: block;
  height: 69px;
  position: relative;
  width: 150px;
  padding-right: 20px;
}
#mgds-header ieda_logo a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}


#page-header {
  padding: 0px 30px;
  text-align: left;
  float:left;
  margin-top: 2px;
  height: 69px;
  position: relative;
  margin: auto;
}

#page-header  h1 a{
	color: #024a61;
  font-size: 1.3em;
	text-decoration:none;
}

#page-header h4{
  color: #024a61;
  text-decoration:none;
}

#page-header a:hover{
	border-bottom:1px dotted;
}
	



/*
menu
*/
div#ieda-menu-wrap {
  background-color: #92b9c5;
  padding: 0px;
  border: 0;
  float: left;
  width: 100%;
  height: 50px;
  z-index: 999;
  position: relative;
}
ul#ieda-menu {
  height: 50px;
  list-style: none;
  margin-left: 40px;
  font: 100 1.2em/1em Open-Sans, Helvetica-Neue, Helvetica, Arial, sans-serif;
  background-color: #92b9c5;
}
ul#ieda-menu li {
  margin: 0 0.15em;
  float: left;
  position: relative;
  z-index: 999;
  line-height: 50px;
}
ul#ieda-menu li a {
  padding: 0 1.25em 0 1.25em;
  border: 0;
  color: white;
  display: block;
}

ul#ieda-menu li a[disabled] {
  pointer-events: none;
  color: grey;
}

ul#ieda-menu li a img {
  margin-left: -0.5em;
  vertical-align: baseline;
}
ul#ieda-menu li ul {
  margin-left: 0;
  padding: 0;
  list-style: none;
  padding: 0.7em 0;
  border-top: none;
  text-align: left;
  position: absolute;
  left: -999em;
  z-index: 999;
  background-color: #92b9c5;
  /*#224488;*/
  border-radius: 0px 0px 7px 7px;
}
ul#ieda-menu li ul li {
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 999;
  line-height: 1em;
}
ul#ieda-menu li ul li a {
  margin: 0.1em 0;
  padding: 0.2em 0 0.4em 1.25em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 0;
  /* &:hover, &.cur {
                        border-top:1px solid #1c357b;
                        border-bottom:1px solid #1c357b;
                    }*/
}
ul#ieda-menu li a:hover,
ul#ieda-menu > li:hover > a,
ul#ieda-menu li a.cur {
  color: #fff;
  background: transparent url('/imgs/menu_hover_bg.gif') repeat top left;
}
/*Old rules for IE*/
ul#ieda-menu li ul,
ul#ieda-menu li ul li {
  width: 14em;
}
ul#ieda-menu li:hover ul,
ul#ieda-menu li.submenu ul {
  left: 0;
  min-height: 0;
}
/*#menu_search_link {
	float: right;
	margin-right: 10px;
}*/
#menu_search_button_link:hover {
  background: none !important;
}
#menu_search_button {
  background-color: #A0A0A0 ;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 18px;
  display: block;
  border-radius: 5px;
}
#menu_search_button:hover {
  background-color: #3b839b;
}
#menu_search_button ul#ieda-menu li a:hover,
#menu_search_button ul#ieda-menu > li:hover > a,
#menu_search_button ul#ieda-menu li a.cur {
  background-image: none;
}

.border{
  width: 100%;
  color: #555;
  border: 3px solid #92b9c5;
  border-radius: 10px;
}

/* homepage big icons*/
.shadow-container {
  float: center;
  left: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;
  height: 200px;
  position: relative;
  text-align: center;
  align: center;
  border: 10 px;
  padding-bottom: 40px;
}
.shadow-container .container {
  position: relative;
  height: 200px;
  padding: 20px;
  width: 250px;
  background-color: #024a61;
  /* #7e4d17;*/
}
.shadow-container p {
  color: #fff;
  font-size: 200%;
}
.shadow-container a.image {
  text-decoration: none !important;
  border: none !important;
  padding: 0px !important;
}
.shadow-container a.image:hover {
  background-color: transparent !important;
  border: none !important;
  text-decoration: none !important;
}

/*ul#menu{
	width:864px;
	height:22px;
	background:transparent url(/static/imgs/menu.gif) top left no-repeat;
	list-style:none;
	bottom:0;
	left:0;
}
	ul#menu li {
		position:absolute;
		top:0;
	}
	ul#menu li, ul#menu li a{
		display:block;
		height:22px;
	}
	ul#menu li a{
		text-decoration:none;
		text-indent:-9999px;
		line-height:22px;
	}
	html ul#menu li>a{ overflow:hidden; }*/
	
	/*dimensions & position*/
/*	#mn0{ left:0px; width:66px; }
	#mn1{ left:86px; width:74px; }
	#mn2{ left:180px; width:114px; }
	#mn3{ left:314px; width:92px; }
	#mn4{ left:428px; width:97px; }
	#mn5{ left:545px; width:83px; }
	#mn6{ left:626px; width:238px; }*/
	
	/*psuedo-rollover*/
/*	#mn0 a:hover, #mn0 a.cur{ background:transparent url(/static/imgs/menu.gif) -0px -22px no-repeat;}
	#mn1 a:hover, #mn1 a.cur{ background:transparent url(/static/imgs/menu.gif) -86px -22px no-repeat;}
	#mn2 a:hover, #mn2 a.cur{ background:transparent url(/static/imgs/menu.gif) -180px -22px no-repeat;}
	#mn3 a:hover, #mn3 a.cur{ background:transparent url(/static/imgs/menu.gif) -314px -22px no-repeat;}
	#mn4 a:hover, #mn4 a.cur{ background:transparent url(/static/imgs/menu.gif) -428px -22px no-repeat;}
	#mn5 a:hover, #mn5 a.cur{ background:transparent url(/static/imgs/menu.gif) -545px -22px no-repeat;}
	#mn6 a:hover, #mn6 a.cur{ background:transparent url(/static/imgs/menu.gif) -626px -22px no-repeat;}
	*/


/*
footer
*/
#footer {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #92b9c5;
  text-align: left;
  font: 100 0.9em Helvetica-Neue, Helvetica, Arial, sans-serif;
  clear: both;
}
#footer a {
  padding: 0 1px 0 1px;
}
#footer a:link {
  text-decoration: none;
  color: #337ab7;
}
#footer a:visited {
  text-decoration: none;
  border-bottom: 1px solid #337ab7;
  color: #337ab7;
}
#footer a:hover {
  text-decoration: none;
  color: #337ab7;
  background-color: #e9f0ff;
}
#footer a.information {
  text-decoration: none;
  padding-right: 12px;
  padding-top: 10px;
  background: transparent url(/imgs/icons/question.png) center right no-repeat;
}
#footer a.information span {
  margin: 0;
  padding: 0 0 4px 0;
  width: 17px;
  height: 14px;
  display: inline-block;
  background: transparent url(/imgs/icons/question.png) center right no-repeat;
  vertical-align: bottom;
}
#footer a.external {
  padding-right: 13px;
  background: transparent url(/imgs/external.gif) center right no-repeat;
}
#footer a.external span {
  margin: 0;
  padding: 0 0 4px 0;
  width: 10px;
  height: 14px;
  vertical-align: bottom;
}
#footer a.top {
  margin: 0;
  padding: 0 2px 0 18px;
  border-bottom: 1px dotted;
  text-align: right;
  font-size: 0.85em;
  background: transparent url(/imgs/top_icon.gif) top left no-repeat;
}
#footer a.noline {
  text-decoration: none;
  border: none;
  color: #337ab7;
  /*color:#039;*/
}
#footer p {
  margin: 0.25em auto;
  text-align: left;
}
#footer p.legal a {
  margin: 0 0.5em;
}
#footer acronym {
  cursor: help;
}




.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.content {
  margin: 10px 30px 10px 30px;
}




/*
content area & common elements
*/
#content {
  position: relative;
  margin: 10px 30px 10px 30px;
  padding: 10px;
  padding-top: 25px;
  text-align: left;
  z-index: 1;
  clear: left;
  width: 955px;
  overflow-x: visible;
  background-color: #FFFFFF;
  border-radius: 7px;
}
#content p {
  margin: 0.5em 0 1em 0;
}
#content h2 {
  margin: 0.3em 0 0.5em 0;
  border-bottom: 1px solid ;
  /*#002783;*/
  text-decoration: none;
  font: 100 2.3em/1em Helvetica-Neue, Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  padding-bottom: 2px;
  color: #024a61;
  font-weight: 350;
}
#content h3 {
  margin: 1.2em 0 0.5em 0;
  padding-bottom: 0.15em;
  border-bottom: 1px dotted;
  /* #002288;*/
  font: 100 1.5em/1em Helvetica-Neue, Helvetica, Arial, sans-serif;
  color: #024a61;
  font-weight: 400;
}
#content h4 {
  margin: 1em 0 0.25em 0;
  font: 500 1.25em/1em Helvetica-Neue, Helvetica, Arial, sans-serif;
  color: #333;
  /*border-bottom: 1px solid #A7B7DE*/
}
#content info_text {
  margin: 1em 0 0.25em 0;
  font: italic 0.95em Helvetica-Neue, Helvetica, Arial, sans-serif;
  color: grey;
}
#content ul,
#content ol,
#content dl {
  margin-left: 3.5em;
}
#content ul {
  list-style: circle outside;
}
#content ul#toc {
  list-style: none;
}
#content ul#toc li {
  margin-bottom: 0.25em;
  list-style: decimal outside;
}
#content ul#norm_tabs {
  list-style: none !important;
}
#content ol {
  list-style: lower-roman outside;
}
#content ol ol {
  list-style: lower-alpha outside;
}
#content li {
  margin-bottom: 0.3em;
}
#content dl dt {
  padding-bottom: 0.5em;
  float: left;
  color: #002783;
  width: 8em;
  text-align: right;
}
#content dl dd {
  padding-bottom: 0.5em;
  margin-left: 9em;
}
#content table {
  margin: 0.5em 0 1em 0;
  border-collapse: collapse;
}
#content table caption {
  color: #002783;
  font-style: italic;
  font-size: 0.95em;
}
#content table th,
#content table tfoot {
  color: #002783;
}
#content table td,
#content table th {
  padding: 0.25em 0.75em;
}
#content table thead th,
#content table tfoot td {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  padding: 0.15em 0.75em;
}
#content table.left_header {
  border-top: 1px dotted;
}
#content table.left_header tfoot td {
  border-bottom: 0;
}
#content a {
  padding: 0 1px 0 1px;
}
#content a:link {
  text-decoration: none;
  color: #337ab7;
}
#content a:visited {
  text-decoration: none;
  border-bottom: 1px solid #337ab7;
  color: #337ab7;
}
#content a:hover {
  text-decoration: none;
  color: #337ab7;
  background-color: #e9f0ff;
}
#content a.information {
  text-decoration: none;
  padding-right: 12px;
  padding-top: 10px;
  background: transparent url(/imgs/icons/question.png) center right no-repeat;
}
#content a.information span {
  margin: 0;
  padding: 0 0 4px 0;
  width: 17px;
  height: 14px;
  display: inline-block;
  background: transparent url(/imgs/icons/question.png) center right no-repeat;
  vertical-align: bottom;
}
#content a.external {
  padding-right: 13px;
  background: transparent url(/imgs/external.gif) center right no-repeat;
}
#content a.external span {
  margin: 0;
  padding: 0 0 4px 0;
  width: 10px;
  height: 14px;
  vertical-align: bottom;
}
#content a.top {
  margin: 0;
  padding: 0 2px 0 18px;
  border-bottom: 1px dotted;
  text-align: right;
  font-size: 0.85em;
  background: transparent url(/imgs/top_icon.gif) top left no-repeat;
}
#content a.noline {
  text-decoration: none;
  border: none;
  color: #337ab7;
  /*color:#039;*/
}
#content acronym {
  cursor: help;
}
#content blockquote {
  margin: 0.5em 4em 0.5em 8em;
  padding-left: 1em;
  border-left: 1px dotted #ccc;
  font-size: 0.95em;
}
#content pre {
  font-size: 1.1em;
}
#content .indent {
  margin-left: 1.5em;
}
#content #home_main {
  margin-right: 15.5em;
}
#content #home_panel {
  width: 13.5em;
  float: right;
}
#content #home_panel h3 {
  margin-top: 0;
}
#content #home_panel ul {
  margin-bottom: 2em;
  margin-left: 2.5em;
}
#read-more-button {
  background-color: #92b9c5;
  height: 180 px;
  width: 200px;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 23px;
}



/*this is for the home page 2 columns used on new index page */
#split {
  width: 100%;
  /*height:600px;*/
  margin-top: 10 px;
}
.left {
  width: 45%;
  float: left;
}
.right {
  width: 45%;
  float: right;
}
#split h3 {
  margin: 1.2em 0 0.5em 0;
  padding-bottom: 0.15em;
  border-bottom: 1px dotted;
  font-weight: 400;
}
#split h5 {
  display: inline;
}
#split ul {
  list-style: circle outside;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
  width: 180px;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url(/static/imgs/Google-post-60x60.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px ;
 /* background: url(../imgs/icon_google.png) 6px 6px no-repeat;*/
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/* Orcid */
.loginBtn--orcid {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: rgb(166,206,57);
  width: 180px;
}
.loginBtn--orcid:before {
  border-right: #728f24 1px solid;
  background: url(/static/imgs/orcid_logo.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px ;
}
.loginBtn--orcid:hover,
.loginBtn--orcid:focus {
  background: rgb(170,210,61);
}