/* create cross-browser defaults */
@import url(/static/css/undohtml.css);

/*
global elements
*/
/* html, body, #wrapper{ margin:0 auto; } */

body{
	background:transparent url(/static/imgs/bg_design.gif) top left repeat-x;
	/*font:0.85em/1.3 Helvetica, Arial, sans-serif;
	font-family: 'Raleway', sans-serif;*/
	line-height:1.6em;
	color:#005dd0;
}

#wrapper {
    width:866px;
    margin: 0px 0px 0px 25px;
}

/*
global ieda header: title, search
*/

#ieda-header-banner{
	position:absolute;
}

#ieda-header {
	height: 36px;
	margin-bottom: 5px;
	position: relative;
	width: 866px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#page-header{
	margin: 10px auto 0 auto;
	width:864px;
	height:130px;
	/*font:normal 1em Georgia, "Times New Roman", Times, serif;*/
	text-align:center;
	position:absolute;
}

#page-header h1{
	padding:2px 0 0 0;
	/*font:normal 2em Georgia, "Times New Roman", Times, serif*/
}
#page-header h1 a{
	color:#002783;
	text-decoration:none;
}

#page-header a:hover{
	border-bottom:1px dotted;
}
	
/*
menu
*/
ul#menu{
	width:864px;
	height:22px;
	background:transparent url(/static/imgs/menu.gif) top left no-repeat;
	list-style:none;
	bottom:0;
	left:0;
}
	ul#menu li {
		position:absolute;
		top:0;
	}
	ul#menu li, ul#menu li a{
		display:block;
		height:22px;
	}
	ul#menu li a{
		text-decoration:none;
		text-indent:-9999px;
		line-height:22px;
	}
	html ul#menu li>a{ overflow:hidden; }
	
	/*dimensions & position*/
	#mn0{ left:0px; width:66px; }
	#mn1{ left:86px; width:74px; }
	#mn2{ left:180px; width:114px; }
	#mn3{ left:314px; width:92px; }
	#mn4{ left:428px; width:97px; }
	#mn5{ left:545px; width:83px; }
	#mn6{ left:626px; width:238px; }
	
	/*psuedo-rollover*/
	#mn0 a:hover, #mn0 a.cur{ background:transparent url(/static/imgs/menu.gif) -0px -22px no-repeat;}
	#mn1 a:hover, #mn1 a.cur{ background:transparent url(/static/imgs/menu.gif) -86px -22px no-repeat;}
	#mn2 a:hover, #mn2 a.cur{ background:transparent url(/static/imgs/menu.gif) -180px -22px no-repeat;}
	#mn3 a:hover, #mn3 a.cur{ background:transparent url(/static/imgs/menu.gif) -314px -22px no-repeat;}
	#mn4 a:hover, #mn4 a.cur{ background:transparent url(/static/imgs/menu.gif) -428px -22px no-repeat;}
	#mn5 a:hover, #mn5 a.cur{ background:transparent url(/static/imgs/menu.gif) -545px -22px no-repeat;}
	#mn6 a:hover, #mn6 a.cur{ background:transparent url(/static/imgs/menu.gif) -626px -22px no-repeat;}
	
/*
footer
*/
#footer{
	margin:0 auto 1em auto;
	padding:0.8em 0 0 7em;
	border:0;
	background:transparent url(/static/imgs/footer_design.gif) top left no-repeat;
	text-align:center;
	font-size:0.825em;
	height:63px;
	clear:both;
}
	#footer p{
		margin:0.25em auto;
	}
	#footer p.legal a{
		margin:0 0.5em;
	}

/*button, input[type="submit"], input[type="reset"] {
    background:    #3d85c6;
    border-radius: 5px;
    color:         #fff;
    display:       inline-block;
    padding:       5px 5px;
    font:          normal 700 12px/1;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
}*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.content {
    margin: 10px 30px 10px 30px;
}