#apiKeyPopup, #apiKeyHistoryPopup {
    display: none;
    max-height: 50%;
    padding-bottom: 10px;
    background-color: rgb(227, 236, 255);
    position: absolute;
    z-index:101;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#popupContainer {
    display: flex;
    justify-content: center;
}

#popupHeader, #historyHeader {
    display: block;
    width: 100%;
    text-align: right;
}

#popupBody > table td, #popupBody > table th, #historyBody > table td, #historyBody > table th {
    padding: 0px 15px;
}

#popupBody, #historyBody {
    max-height: 340px;
    overflow-y: scroll;
}

#popupCloseBtn, #popupReloadBtn, .updateAliasBtn, #historyCloseBtn, #historyReloadBtn {
    background: none;
    border: none;
}

#popupCloseBtn, #popupReloadBtn, #historyCloseBtn, #historyReloadBtn {
    font-size: 1.5em;
}

.updateAliasBtn {
    float: left;
}

.copyable {
    color: inherit;
}

.copyable:hover {
    cursor: pointer;
    color: rgb(29, 65, 112);
}

