/* create cross-browser defaults */
@import url(/static/css/undohtml.css);

/*
global elements
*/
html, body, #wrapper{ margin:0 auto; }

body{
	font:0.85em/1.3 Helvetica, Arial, sans-serif;
	line-height:1.6em;
	color:#000;
}

#wrapper{ width:98%; }

/*
global ieda header: title, search
*/
#ieda-header{
	margin:0 auto;
}
	#ieda-header h1 a{
		font:normal 2em Georgia, "Times New Roman", Times, serif
	}
	#ieda-header form{
		display:none !important;
	}
/*
usapdc header: banner & menu
*/
	#usapdc-header h1{
		padding:2px 0 0 0;
		font:normal 2.3em Georgia, "Times New Roman", Times, serif
	}
	#usapdc-header h1 a{
		color:#002783;
		text-decoration:none;
	}

/*
menu
*/
ul#menu{
	display:none !important;
}
/*
content area & common elements
*/
#content{
	margin:0 auto 2.5em auto;
	padding:0 0.75em;
}
	#content p {
		margin:0 0 1em 1.2em;
		text-align: justify;
	}

	#content h2{
		margin:1.25em 0 0.5em 0;
		border-bottom:2px ridge #06c;
		font:normal 1.8em Georiga, "Times New Roman", Times, serif;
		letter-spacing:-1px;
		color:#002783;
	}
	#content h3{
		margin:1.2em 0 0.5em 0.75em;
		padding-bottom:0.15em;
		border-bottom:1px dotted #005dd0;
		font:normal 1.3em Georgia, "Times New Roman", Times, serif;
		color:#304983;
	}
	#content ul, #content ol{
		margin-left:3.5em;
	}
	#content ul{ list-style:disc outside; }
	#content ol{ list-style:decimal outside; }
		#content ol ol {list-style:lower-alpha outside; }
		#content li{
			margin-bottom:0.5em;
		}
	#content ul#toc{
		list-style:none;
	}
		#content ul#toc li{
			margin-bottom:0.25em;
			list-style:decimal outside;
		}
	
	/* links */
	#content a, #footer a{
		padding:0 1px 0 1px;
		text-decoration:underline;
	}
		#content a:link, #footer a:link{
			text-decoration:none;
			border-bottom:1px solid #506da8;
			color:#039;
		}
		#content a:visited, #footer a:visited{
			text-decoration:none;
			border-bottom:1px solid #8969cc;
			color:#63c;
		}
		#content a.top{
			margin:0;
			padding:0 2px 0 18px;
			border-bottom:1px dotted;
			text-align:right;
			font-size:0.85em;
			background:transparent url(/imgs/top_icon.gif) top left no-repeat;
		}
		
		/* must go last to override any other settings */
		#content a:hover, #footer a:hover{
			text-decoration:none;
			border-bottom:1px solid #aac9ef;
			color:#285179;
			background-color:#e9f0ff;
		}
		
	/* acronyms */
	#content acronym, #footer acronym{
		cursor:help;
	}

/*
footer
*/
#footer{
	margin:0 auto 1em auto;
	padding:0.8em 0 0 7em;
	border:0;
	background:transparent url(/imgs/footer_design.gif) top left no-repeat;
	text-align:center;
	font-size:0.825em;
	height:63px;
	clear:both;
}
	#footer p{
		margin:0.25em auto;
	}
	#footer p.legal a{
		margin:0 0.5em;
	}