.select-editable-award {
   position:relative;
   background-color:white;
   /*border:solid grey 1px;*/
   width:7.2em;
   height:2.1em;
}
.select-editable-award select {
   /*position:absolute;*/
   top:0px;
   left:0px;
   font-size:1em;
   /*border:none;*/
   width:7.2em;
   margin:0;
   background-color:white;
}
.select-editable-award input {
   position:absolute;
   top:0;
   left:0.21em;
   width:5.7em;
   height:1.2em;
   padding:1px;
   font-size:1em;
   border:none;
   background-color:white;
}
.select-editable-award select:focus, .select-editable input:focus {
   outline:none;
}

.select-editable-dif-id {
   position:relative;
   background-color:white;
   /*border:solid grey 1px;*/
   width:21.6em;
   height:2.1em;
}
.select-editable-dif-id select {
   /*position:absolute;*/
   top:0px;
   left:0px;
   font-size:1em;
   /*border:none;*/
   width:21.6em;
   margin:0;
   background-color:white;
}
.select-editable-dif-id input {
   position:absolute;
   top:0px;
   left:0.21em;
   width:20.16em;
   height:1.22em;
   padding:1px;
   font-size:1em;
   border:none;
   background-color:white;
}
.select-editable-dif-id select:focus, .select-editable input:focus {
   outline:none;
}

.in-table-button {
  background:none!important;
  color:#069;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

#abstract {
  background: #fff;
  border: 2px solid #000;
  position: absolute;
  font-family: arial;
  height: 27em;
  padding: 0.5em;
  width: 50em;
  z-index: 1000;
  overflow: hidden;  
  resize: both;
  min-height:24em;
  min-width:22em;
}

#abstract_text {
  line-height: 1.7em;
  position: absolute;
  height: 82%;
  overflow: auto; 
  padding: 10px;
}

.window-header {
    padding: 10px;
    cursor: move;
    z-index: 61;
    background-color: #92b9c5;
    color: #000;
}

#geometry {
  background: #fff;
  border: 2px solid #000;
  position: absolute;
  font-family: arial;
  height: 360px;
  padding: 0.5em;
  top: -1000px;
  left: -1000px;
  width: 318px;
  z-index: 1000;
}

#map_help {
  background: #fff;
  border: 2px solid #000;
  position: absolute;
  font-family: arial;
  height: 700px;
  padding: 10px;
  width: 1000px;
  z-index: 1000;
  overflow: hidden;  
  resize: both;
  min-height:24em;
  min-width:22em;
}

.close_btn {
    float:right;
    padding:2px 5px;
    background:#ccc;
    cursor: pointer;
}

.close_btn:hover {
    float:right;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}

#show_on_map {
    position: relative;
    margin: auto;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    z-index: 1;
}

.bordered_div {
  border: 1px dotted black;
  padding: 5px;
  width: 500px;
}

div.two_col{
  margin:0 1% 0 0;
  padding:0 0 3em 0;
  width:49%;
  float:left;
}
div.one_col{
  margin:0 1% 0 0;
  padding:0 0 3em 0;
  width:99%;
  float:left;
}

.content a {
border-bottom: none !important;
}

.content a:hover {
text-decoration:none;
color:#000000;
background-color: rgba(0,0,0,0);
}

.content .ui-state-active a:hover {
color: #ffffff !important;
}

.form-group {
width: 100%;
}

.free_text_search {
  /*width:15em; */
  height:1.7em; 
  /*font-size: 1.5em;*/
  margin-bottom: 40px;
}

.row0 {
 position: static;
 min-height: 2.9em;
 margin-left: 0;
 margin-bottom: 2em;
}

.row1 {
 position: static;
 min-height: 2.9em;
 margin-left: 0;
 margin-bottom: 1.9em;
}

.row2 {
 position: static;
 min-height: 2.9em;
 margin-left: 0;
 margin-bottom: 1.9em;

}

.row3 {
 position: static;
 min-height: 2.9em;
 margin-left: 0;
 /* margin-top: 7em; */
 margin-bottom: 3.9em;
}

.row4 {
 position: static;
 min-height: 2.9em;
 margin-left: 0;
 margin-top: -1.5em;
 margin-bottom: 3.9em;
}

.row4_no_mbot {
 position: static;
 min-height: 2.9em;
 margin-left: 0;
 margin-top: -1.5em;
}

.col1_long {
  text-align: left;
margin-left: 0;
width: 37em;
position: absolute; 
}

.col1 {
  text-align: left;
  margin-left: 0;
  width: 16.2em;
  position: absolute; 
}

.col2 {
margin-left: 20.7em;
width: 10.8em;
position: absolute;
}

.col3 {
margin-left: 41.4em;
width: 21.6em;
position: absolute;
}

.col3btns {
margin-left: 41.4em;
margin-top: 2.2em;
width: 21.6em;
position: absolute;
}


.modal, .modal-body, .modal-content, .modal-dialog, .modal-footer, .modal-header {
padding: 0;
margin: 0;
}


.modal-content {
margin:0 auto;
float: none;
}

#modal-contents {
position: relative;
top: 3.6em;
}

.modal-footer {
border-top: none;
}


#modal-buttons {
width: 8.64em;
display: flex;
justify-content: space-around;
}

#modal-mapbox {
width:28.8em;
height:28.8em;
}

.dropdown-menu {
max-height: 36em;
overflow-y: auto;
}

.tooltip {
z-index: 10000;
}

button.dropdown-toggle {
min-width: 14.4em;
}

html.wait, html.wait * { cursor: wait !important; }


/* set button background-color to always be white */
.btn-default:hover,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover, 
.open > .dropdown-toggle:focus, 
.open > .dropdown-toggle.btn-default:focus {
  background-color: white;
}

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 0 0 white;
  -webkit-box-shadow: inset 0 0 0 white;
}

.select-editable {
   position:relative;
   background-color:white;
   /*border:solid grey 1px;*/
   width:16.2em;
   height:2.16em;
}

.select-editable select {
   /*position:absolute;*/
   top:0;
   left:0;
   font-size:1em;
   /*border:none;*/
   width:16.2em;
   margin:0;
   background-color:blue;
}
.select-editable input {
   position:absolute;
   top:2px;
   left:1px;
   width:14.2em;
   height:2.01em;
   padding:0.43em;
   font-size:1em;
   border:0;
   background-color:white;
   z-index:2;
}


.select-editable select:focus, .select-editable input:focus {
  /*background-color:lightgrey;*/
   outline:1px;
   /*z-index:1;*/
}

div.autocomplete {
  position:absolute;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
#content div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
#content div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:0 2px;
  cursor:pointer;
  font-size: .90em;

}

.title { margin-top: 0.72em;}
.category,.investigator,.term,.dataseturl { padding-left: 1.8em;}
.radio { margin-left: 1.44em;}
#id, #title { width: 28.1em; }
.paginator { padding: 0.36em;}
.results {clear:both;}
.navigation { padding-top: 0.36em; }

#drawing-buttons {
    border-radius: 2px;
    height: 2.3em;
    background: white;
    position:absolute;
    right: 25%;
    margin: 10px;
    z-index: 99;
}

.drawing-button {
    padding: 0.144em;
    padding-top: 0.288em;
    height: 2.3em;
    display:inline-block;
    border-radius: 2px;
}

.drawing-button:hover {
    background: rgb(240,240,240);
}

.drawing-button.draw-active {
    background: rgb(200,200,200);
}

#map {
    width:28.8em;
    height:28.8em;
}

#map-bounds {
    float: left;
    margin: 0.72em;
    margin-top: 1.58em;
}

#mouse-position .ol-mouse-position {
    position: absolute;
    right: 2.16em;
}

#map-footer {
    margin:0.72em;
    display: block;
    clear:both;
    width:28.8em;
    position: relative;
}

.tooltip-inner {
    width: 21.6em;
}

.dropdown div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    display: block;
}

.nested_table {
 border-collapse: collapse !important;
 border:none !important;
}

.nested_table tr {
  background-color: transparent !important;
}
.nested_table tr:nth-child(even) {
  background-color: inherit !important;
}

.nested_table td{
  border:1px solid rgb(163, 161, 161) !important;
}

.nested_table th{
  border:1px solid lightgrey !important;
  background: rgb(240,240,240);
}

.square {
  height: 1.2em;
  width: 1.2em;
  background-color: blue;
  display: inline-block;
}

#results_map_div {
  margin: auto;
  width: 80%;
  border: 3px solid black;
  border-radius: 2px;
}

#boundaries {
  position: absolute;
  color: black;
  background: rgba(200,200,200,0.8);
  border-radius: 10px;
  left: 46%;
  z-index: 99;
  padding:5px 10px;
  margin: 10px;
}

#geom_btn {
  margin: 10px 0;
}

.selected-row:nth-child(odd) {
  background-color: rgba(255, 0, 0, .15) !important;;
}

.selected-row:nth-child(even) {
  background-color: rgba(150, 10, 10, 0.15) !important;;
}

.visible-row:nth-child(odd) {
  background-color: rgba(0, 0, 255, .15) !important;
}

.visible-row:nth-child(even) {
  background-color: rgba(10, 10, 150, 0.15) !important;
}

#clear-search-buttons {
  position: absolute;
  /* top: 1em; */
  right: 14%;
  z-index: 99;
  margin:10px;
}

.ol-mouse-position {
  position: absolute;
  left: 3.6em;
}

.ol-popup {
  z-index: 100;
}

.oval_list {
    list-style-type: none;

}

.oval_list > li {
    background-color: rgba(36, 84, 128, 0.5);
    color: rgb(36, 84, 128);
    border-color: rgb(36, 84, 128);
    border-radius: 5px;
    min-width: 1px;
    padding: 2px 5px;
    margin: 1px;
    display: inline-block;
}

.oval_list > li > button {
    border: none;
    color: inherit;
    background-color: transparent;
}