div.two_col{
	margin:0 1% 0 0;
	padding:0 0 3em 0;
	width:49%;
	float:left;
}
div.one_col{
	margin:0 1% 0 0;
	padding:0 0 3em 0;
	width:99%;
	float:left;
}
/*
#data_link fieldset{
	margin:0 0 0.5em 0;
	padding:1em 0.5em;
}
	#data_link fieldset label{ display:block; }
	#data_link fieldset table{
		text-align:center;
		border-collapse:collapse;
	}
		#data_link fieldset table input{
			margin:0 2em 0 0;
			width:4em;
		}
		#data_link fieldset table label{ margin-right:2em; }
	#data_link fieldset em{
		margin:-1.5em 0 1em 0;
		display:block;
		font-size:0.8em;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#304983;
	}
	#data_link fieldset div.toggle_visible{
		margin-left:1.5em;
		padding-left:1em;
		border-left:1px dotted #a4c6ef;
	}
	#data_link fieldset legend{
		padding:0 0.25em;
		font:normal 1.2em Georgia, "Times New Roman", Times, serif;
		color:#304983;
	}
	#data_link fieldset legend a:link, #data_link fieldset legend a:visited, #data_link fieldset legend a:hover{
		border-bottom:none;
	}
		#data_link fieldset fieldset{  padding:0.5em 0.5em 0 0.5em; }
		#data_link fieldset fieldset legend{
			padding:0 0.25em;
			font:inherit;
			color:#005dd0;
		}
	#data_link fieldset input, #data_link fieldset select{ margin-bottom:1.25em; }

	#data_link fieldset ul.horz_radio_btns{
		margin:0 0 1.25em 0;
		padding:0;
		list-style:none;
	}
		#data_link fieldset ul.horz_radio_btns li{
			display:inline;
			margin-right:2em;
		}
			#data_link fieldset ul.horz_radio_btns li input{
				margin:0;
				vertical-align:middle;
			}
			#data_link fieldset ul.horz_radio_btns li label{
				padding:0 0.25em;
				display:inline;
			}
	#data_link div.center{
		margin:1em auto;
		padding:0.5em;
		text-align:center;
	}
	#data_link div.right{
		margin:1em auto;
		padding:0.5em;
		text-align:right;
	}
	#data_link div.toggle_message{
		text-align:center;
		font:normal 1.2em Georgia, "Times New Roman", Times, serif;
		color:#7DA8DF;
	}
*/
	


/* set button background-color to always be white */
.btn-default:hover,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover, 
.open > .dropdown-toggle:focus, 
.open > .dropdown-toggle.btn-default:focus {
	background-color: white;
}

.btn-group.open .dropdown-toggle {
	box-shadow: inset 0 0 0 white;
	-webkit-box-shadow: inset 0 0 0 white;
}

.select-editable {
   position:relative;
   background-color:white;
   /*border:solid grey 1px;*/
   width:225px;
   height:30px;
}

.select-editable select {
   /*position:absolute;*/
   top:0px;
   left:0px;
   font-size:14px;
   /*border:none;*/
   width:225;
   margin:0;
   background-color:blue;
}
.select-editable input {
   position:absolute;
   top:2px;
   left:1px;
   width:198px;
   height:28px;
   padding:6px;
   font-size:14px;
   border:0;
   background-color:white;
   z-index:2;
}


.select-editable select:focus, .select-editable input:focus {
  /*background-color:lightgrey;*/
   outline:1px;
   /*z-index:1;*/
}

div.autocomplete {
  position:absolute;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
#content div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
#content div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:0 2px;
  cursor:pointer;
  font-size: .90em;

}

.title { margin-top: 10px;}
.category,.investigator,.term,.dataseturl { padding-left: 25px;}
.radio { margin-left: 20px;}
#id, #title { width: 390px; }
.paginator { padding: 5px;}
.results {clear:both;}
.navigation { padding-top: 5px; }

#drawing-buttons {
    border-radius: 2px;
    background: white;
    position:absolute;
    top: 1em;
    left: 40%;
    z-index: 99;
}

.drawing-button {
    padding: 2px;
    padding-top: 4px;
    display:inline-block;
    border-radius: 2px;
}

.drawing-button:hover {
    background: rgb(240,240,240);
}

.drawing-button.draw-active {
    background: rgb(200,200,200);
}

#map {
    width:400px;
    height:400px;
}

#map-bounds {
    float: left;
    margin: 10px;
    margin-top: 25px;
}

#mouse-position .ol-mouse-position {
    position: absolute;
    right: 30px;
}

#map-footer {
    margin:10px;
    display: block;
    clear:both;
    width:400px;
    position: relative;
}

.tooltip-inner {
    width: 300px;
}

.dropdown div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    display: block;
}