{% extends "layout.html" %}
{% set cur = "help" %}
{% block body %}

<div class="container"> 
	<h1 class="title">About the AMD</h1>    
    <p>
        The <a href="https://search.earthdata.nasa.gov/portal/amd/" target="_blank">Antarctic Master Directory</a> is part of NASA's Global Change Master Directory (GCMD) and is a central 
        catalog of metadata about datasets, research programs and data resources for the international community. 
        As such the AMD is not a repository of actual data but instead contains links to data as provided by the 
        submitting scientist or data repository. The AMD serves as a central platform for member countries of 
        the Antarctic Treaty to provide information about data collected in Antarctica. Hence it serves as a 
        central resource for scientists to find data acquired in Antarctica internationally.
    </p>
</div>

{% endblock body %}