{% extends "layout.html" %}
{% set cur="collection" %}
{% block body %}
<h1>Collection {{collection_id}}{% if err %}<br>ERROR: {{err}}</h1>{% else %}{% if collection_name %}: {{collection_name}}{% endif %}</h1>{% if description %}
<p>{{description}}</p>{% endif %}
<h2>Owner{% if 1 < owners|length %}s{% endif %}</h2>{% for owner in owners %}
{% if owner['id_orcid'] %}<a href="https://orcid.org/{{owner['id_orcid']}}">{% else %}<p style="display:inline">{% endif %}{{getName(owner)}}{% if not owner['id_orcid'] %}</p>{% else %}</a>{% endif %}{% if not loop.last %}, {% endif %}
{% endfor %}{% if 0 < collaborators|length %}
<h2>Collaborator{% if 1 < collaborators|length %}s{% endif %}</h2>{% for clbrtr in collaborators %}
{% if clbrtr['id_orcid'] %}<a href="https://orcid.org/{{clbrtr['id_orcid']}}">{% else %}<p style="display:inline">{% endif %}{{getName(clbrtr)}}{% if not clbrtr['id_orcid'] %}</p>{% else %}</a>{% endif %}{% if not loop.last %}, {% endif %}
{% endfor %}{% endif %}
{% if 0 < parents_html|length %}
<h3>Inherits from:</h3>
{% for parent in parents_html %}<p>{{parent|safe}}</p>{% endfor %}
{% endif %}

<button onclick="createNewCollection(['{{collection_id}}'])">Create New Collection From This One</button>
<h2>Projects</h2>
{% if projects %}
<table id="projectTable" class="collectionTable">
    <tbody>
        <tr><th>Title</th><th>Description</th></tr>
        {% for prj in projects %}
        <tr><td>
            <a href="/view/project/{{prj['proj_uid']}}">{{prj['title']}}</a>{% if prj['inherited_from'] %}<button class="blend" onclick="toggleAncestors(this)" title="Show inheritance hierarchy">+</button><br>
            {{ inheritance_tree(prj['inherited_from']) | safe}}
        {% endif %}</td>
            <td>{{truncate(prj['description'], 100)}}
        </td></tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<button onclick="addProject('{{collection_id}}')">Add Project</button>
<h2>Datasets</h2>
{% if datasets %}
<table id="dsTable" class="collectionTable">
    <tbody>
        <tr><th>Title</th><th>Abstract</th></tr>
        {% for ds in datasets %}
        <tr><td><a href="/view/dataset/{{ds['id']}}">{{ds['title']}}</a>{% if ds['inherited_from'] %}<button class="blend" onclick="toggleAncestors(this)" title="Show inheritance hierarchy">+</button><br>
            {{ inheritance_tree(ds['inherited_from']) | safe}}
        {% endif %}</td><td>{{truncate(ds['abstract'], 100)}}</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<button onclick="addDataset('{{collection_id}}')">Add Dataset</button>
{% endif %}
<br>{{ inherited }}
{% endblock body %}