{% extends "layout.html" %}
{% set cur="collection" %}
{% block body %}
<h1>Collection {{collection_id}}{% if collection_name %}: {{collection_name}}{% endif %}</h1>{% if description %}
<p>{{description}}</p>{% endif %}
<h2>Owner: {{owner}}</h2>{% if 0 < collaborators|length %}
<h2>Collaborators:</h2>{% for clbr in collaborators %}
<h2>{{clbr}}</h2>{% endfor %}{% endif %}
<button onclick="createNewCollection('{{collection_id}}')">Create New Collection From This One</button>
<h2>Projects</h2>
<table id="projectTable">
    <tbody>
        <tr><th>Title</th><th>Owner(s)</th><th>Collaborators</th></tr>
    {% for prj in projects %}
    {% endfor %}
    </tbody>
</table>
<button onclick="addProject('{{collection_id}}')">Add Project</button>
<h2>Datasets</h2>
{% for ds in datasets %}
{% endfor %}
<button onclick="addDataset('{{collection_id}}')">Add Dataset</button>
{% endblock body %}