{% extends "layout.html" %}
{% set cur = "contact" %}
{% block body %}

<div class="content fixed-width">
		
	<!-- InstanceBeginEditable name="pageHeader" -->
	<h3>Contact Us</h3>
	<!-- InstanceEndEditable -->
	<div id="info">
    <!-- InstanceBeginEditable name="ContactInfo" -->
		<p><b>Email:</b><br>
		&nbsp; <a href="mailto:info@usap-dc.org">info@usap-dc.org</a></p>
		<p><b>Post:</b><br>
		&nbsp; Lamont-Doherty Earth Observatory<br>
		&nbsp; Attn: Frank Nitsche, USAP-DC Manager<br>
		&nbsp; 61 Route 9W<br>
		&nbsp; Palisades, NY 10964 USA
		</p>
	<!-- InstanceEndEditable -->
	</div><!-- info end -->

</div>
{% endblock body %}