{% extends "layout.html" %}
{% set cur = "contact" %}
{% block body %}

<div class="content">
		
			<!-- InstanceBeginEditable name="pageHeader" -->
			<h3>Contact Us</h3>
			<!-- InstanceEndEditable -->
			<div id="info">
		    <!-- InstanceBeginEditable name="ContactInfo" -->
				<p>Use the Web form at the right to send a message.</p>
				<p><b>Email:</b><br>
				&nbsp; <a href="mailto:info@usap-dc.org">info[at]usap-dc.org</a></p>
				<p><b>Post:</b><br>
				&nbsp; Lamont-Doherty Earth Observatory<br>
				&nbsp; Attn: Frank Nitsche, USAP-DC Manager<br>
				&nbsp; 61 Route 9W<br>
				&nbsp; Palisades, NY 10964 USA
				</p>
			<!-- InstanceEndEditable -->
			</div><!-- info end -->
<form id="contact" action="/contact" method="post">
		<table>
		<tbody><tr>
			<td><label for="name">Name:</label></td>
			<td><input class="textfield" id="name" name="name" value="" type="text" size="40"></td>
		</tr>
		<tr>
			<td><label for="email">Email:</label></td>
			<td><input class="textfield" id="email" name="email" value="" type="text" size="40"></td>
		</tr>
		<tr>
			<td><label for="subj">Subject:</label></td>
			<td><input class="textfield" id="subj" name="subj" value="" type="text" size="40"></td>
		</tr>
		  <tr>
		    <td><label for="msg">Message:</label></td>
		    <td><textarea id="msg" name="msg" cols="30" rows="10"></textarea></td>
		  </tr>
		  <tr>
		    <td></td>
		    <td>
		   
		      <div class="g-recaptcha" data-sitekey="{{secret}}"/></td>

		  </tr>
		  <tr>
		    <td></td>
		    <td style=text-align:center> <input class="submit" type="submit" name="Submit" value="Send Email"></td>
		 </tr>
		</tbody></table>
</form>		
		</div>
{% endblock body %}