{% extends "layout.html" %}
{% set cur = "curator" %}
{% block body %}

<div class="border">
<div class="content">

<h2 style="float:left;">Curator Page</h2>
<a target="_blank" style="float:right; margin-top: 20px;" href="{{url_for('curator_help')}}" class="btn btn-primary">Help</a>
<div style="clear:both"></div>

{% for msg in message %}
  <div class="alert alert-success" style="width:800;">
    <h4>{{msg}}</h4>
  </div>
{% endfor %}
{% if landing_page %}
  <div class="alert alert-success" style="width:800;">
    <h4><a target="_blank" href="{{landing_page}}">Click here to view landing page</a></h4>
  </div>
{% endif %}
{% if error %}
  <div class="alert alert-danger" style="width:800;">
    <h4>{{error}}</h4>
  </div>
{% endif %}

{% if need_login %}
    
<div class="container">
      
  <h4>Curator Login </h4>

  <div id="container">
    <h5>
      Sign in using an authorized curator account
    </h5>
    <div id="buttons">
      <a href="{{ url_for('login_google') }}" class="loginBtn loginBtn--google w3-btn w3-round w3-text-shadow">
        Google
      </a>
      <a href="{{ url_for('login_orcid') }}" class="loginBtn loginBtn--orcid w3-btn w3-round w3-text-shadow">
        <span style="color:gray; font-weight:bolder">ORC</span>iD
      </a>
    </div>
  </div>

      
{% else %}
  <a href="{{url_for('logout', type='curator')}}" style="float:right">Log out</a>

  {% if json %}

    <a onclick="waitCursor()" href="{{url_for('curator')}}">Back to list</a>
      <div class="tab">
        {% if type == 'dataset' %}
          <button class="tablinks" onclick="openTab(event, 'jsonTab')" {% if tab == 'json' %} id="defaultOpen" {% endif %}>JSON</button>
          <button class="tablinks" onclick="openTab(event, 'sqlTab')" {% if tab == 'sql' %} id="defaultOpen" {% endif %}>SQL</button>
          <button class="tablinks" onclick="openTab(event, 'readmeTab')"  {% if tab == 'readme' %} id="defaultOpen" {% endif %}>README</button>
          <button class="tablinks" onclick="openTab(event, 'keywordsTab')"  {% if tab == 'keywords' %} id="defaultOpen" {% endif %}>Assign Keywords</button>
          <button class="tablinks" onclick="openTab(event, 'spatialTab')"  {% if tab == 'spatial' %} id="defaultOpen" {% endif %}>Update Spatial Bounds</button>
          <button class="tablinks" onclick="openTab(event, 'dcxmlTab')"  {% if tab == 'dcxml' %} id="defaultOpen" {% endif %}>DataCite XML</button>
          <button class="tablinks" onclick="openTab(event, 'isoxmlTab')"  {% if tab == 'isoxml' %} id="defaultOpen" {% endif %}>ISO XML</button>
        {% elif type == 'project' %}
          <button class="tablinks" onclick="openTab(event, 'projectJsonTab')" {% if tab == 'project_json' %} id="defaultOpen" {% endif %}>JSON</button>
          <button class="tablinks" onclick="openTab(event, 'projectSqlTab')" {% if tab == 'project_sql' %} id="defaultOpen" {% endif %}>SQL</button>
        {% endif %}

      </div>
    <form method="post" enctype="multipart/form-data">

      <div id="jsonTab", class="tabcontent active">
          <h4>{{filename}}</h4>
        <button type="submit" name="submit" value="make_sql" onclick="waitCursor()">Create SQL and Readme</button>
        <table>
        <tr>
           <td>
               <textarea id="json" name="json" cols="130" rows="50">{{ json }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="sqlTab", class="tabcontent">
        <h4>SQL for {{filename}}</h4>
        <button type="submit" name="submit" value="import_to_db" title="Import to DB and copy uploaded files" onclick="waitCursor()">Import to Database Only</button>
        <button type="submit" name="submit" value="full_workflow" title="Import to DB, copy uploaded files, DataCite XML generation and DataCite submission, ISO XML generation and copying to watch dir." onclick="waitCursor()">Full Workflow</button>
        <table>
        <tr>
           <td>
               <textarea id="sql" name="sql" cols="130" rows="50">{{ sql }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="readmeTab", class="tabcontent">
        <h4>Read Me text for {{readme_file}}</h4>
        <input type="hidden" name="readme_file" value="{{readme_file}}">
        <button type="submit" name="submit" value="save_readme" onclick="waitCursor()">Save Readme File</button>
        <table>
        <tr>
           <td>
               <textarea id="readme" name="readme" cols="130" rows="50">{{ readme }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="keywordsTab", class="tabcontent">
        {% if db_imported %}
          <div id="add_keyword_div" hidden>
            <div id="add_keyword_header" class="window-header">
              <span id="add_keyword_title"></span>
            </div>
            <div class="add_keyword_body">
                Label:<input id="new_keyword_label" class="form-control" type="text" name="label"/>
                Description:<textarea id="new_keyword_description" rows="2" class="form-control" type="text" name="description"></textarea>
                Type ID:<input id="new_keyword_type_id" class="form-control" type="text" value=""/>
                Source:<input id="new_keyword_source" class="form-control" type="text" value="Curator Keyword"/>
                <button type="button" id="kw_cancel_btn" class='cancel-add-keyword-btn'>Cancel</button>
                <button type="button" id="kw_add_btn" class='do-add-keyword-btn'>Add</button>
            </div>
            
          </div>

          <h4>Assign keywords for {{uid}}</h4>
          <div class="bordered-div">
            <div id="assigned">
              <h5>Selected keywords:</h5>
              <i>Keywords already in the database are shown in grey and can not be removed</i><br/>
              {% for kw in dataset_keywords %}
                <span class="assigned_kw_db">{{kw.keyword_label}}</span>
              {% endfor %}  
            </div>
            <br/>
            <button type="submit" name="submit" value="assign_keywords" onclick="waitCursor()">Add to Database</button>
          </div>
          {% for kw_type in keywords %}
            <button type="button" id="btn_{{kw_type.id|safe}}" class="btn kw-type-btn">
              <span style="color:white" data-toggle="popover" data-placement="right" data-content="<b>Description:</b> {{kw_type.keyword_type_description}} <br/><b>Source:</b> {{kw_type.keyword_type_source}}">{{kw_type.keyword_type_label}}</span>
            </button>
            <br/>
            <div id="{{kw_type.id|safe}}" class="w3-container w3-hide">
              <div id="kw_button_wrapper_{{kw_type.keyword_type_id|safe}}">
                {% for kw in kw_type.keywords if kw.keyword_id not in dataset_keywords|safe %}
                  <div id="kw_button_div" class="ck-button" data-toggle="popover" data-placement="top" data-content="<b>Description:</b> {{kw.keyword_description}}">
                    <label>
                      <input type="checkbox" name="assigned_keyword" id="{{kw.keyword_id|safe}}" value="{{kw.keyword_id|safe}}" label="{{kw.keyword_label|safe}}" class="kw-btn">
                        <span>{{kw.keyword_label}}</span>
                      </input>
                    </label>
                  </div>
                {% endfor %}
                {% for kw in kw_type.keywords if kw.keyword_id in dataset_keywords|safe %}
                  <span class="assigned_kw_db">{{kw.keyword_label}}</span>
                {% endfor %}
              </div>
              <div style="clear:both"></div>
              <button type="button" class="add-keyword-btn" id="add_{{kw_type.keyword_type_id}}_btn" name="{{kw_type.keyword_type_label}}"><b>Add keyword</b></button>
            </div>
          {% endfor %}
        {% else %}
          <h4>You will be able to assign keywords after Database import</h4>
        {% endif %}
      </div>

      <div id="spatialTab", class="tabcontent">
        {% if db_imported %}
          <div>
            <b>Spatial Bounds of Data</b> <br/>Use decimal degrees. Longitudes must be in -180 to 180 range. Example:<br /> Ross Sea is between 160 and -150
            <table style="border:0">
              <tbody>
                <tr>
                  <td align="center">
                    &nbsp;N: <input type="text" name="geo_n" id="geo_n" size="5" value="{{coords.get('geo_n','')}}"> <br>
                    W: <input type="text" name="geo_w" id="geo_w" size="6" value="{{coords.get('geo_w','')}}"> &nbsp; &nbsp; &nbsp;&nbsp; E: <input type="text" name="geo_e" id="geo_e" size="6" value="{{coords.get('geo_e','')}}"> <br>
                    S: <input type="text" name="geo_s" id="geo_s" size="5" value="{{coords.get('geo_s','')}}">
                  </td>
                  <td>
                    <span style="margin: 20px">
                      <input type="checkbox" name="entire_region"> Entire Antarctic Region</input><br/>
                    </span>
                    <span style="margin: 20px">
                     <input type="checkbox" name="cross_dateline" {% if coords.get('cross_dateline') %}checked{% endif %}> Check if your bounds cross the International Date Line</input>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <br/>
            <button type="submit" name="submit" value="spatial_bounds" onclick="waitCursor()">Update Database</button>
          </div>
        {% else %}
          <h4>You will be able to update spatial bounds after Database import</h4>
        {% endif %}
      </div>

      <div id="dcxmlTab", class="tabcontent">
        <h4>DataCite XML for {{uid}}</h4>
        <input type="hidden" name="dcxml_file" value="{{dcxml_file}}">
        <button type="submit" name="submit" value="generate_dcxml" onclick="waitCursor()">Generate DataCite XML from DB</button>
        <button type="submit" name="submit" value="submit_to_datacite" onclick="waitCursor()">Submit To DataCite</button>
        <table>
        <tr>
           <td>
               <textarea id="dcxml" name="dcxml" cols="130" rows="50">{{ dcxml }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="isoxmlTab", class="tabcontent">
        <h4>ISO XML for {{uid}}</h4>
        <input type="hidden" name="isoxml_file" value="{{isoxml_file}}">
        <button type="submit" name="submit" value="generate_isoxml" onclick="waitCursor()">Generate ISO XML from Datacite XML</button>
        <button type="submit" name="submit" value="save_isoxml" onclick="waitCursor()">Save in Watch Directory</button>
        <table>
        <tr>
           <td>
               <textarea id="isoxml" name="isoxml" cols="130" rows="50"> {{ isoxml }}</textarea>
           </td>
        </tr>
        </table>
      </div>




      <div id="projectJsonTab", class="tabcontent active">
          <h4>{{filename}}</h4>
        <button type="submit" name="submit" value="make_project_sql" onclick="waitCursor()">Create SQL</button>
        <table>
        <tr>
           <td>
               <textarea id="json" name="json" cols="130" rows="50">{{ json }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="projectSqlTab", class="tabcontent">
        <h4>SQL for {{filename}}</h4>
        <button type="submit" name="submit" value="import_project_to_db" title="Import to DB" onclick="waitCursor()">Import to Database</button>
        <table>
        <tr>
           <td>
               <textarea id="sql" name="sql" cols="130" rows="50">{{ sql }}</textarea>
           </td>
        </tr>
        </table>
      </div>



    </form>

  {% else %}
    
    <div id='dif-browser-table'>
      <table class='sortable' >
           <thead class="w3-striped w3-bordered w3-hoverable">
            <tr>
              <th>Submission</th>
              <th>Status</th>
              <th>Landing Page</th>
            </tr>
          </thead>

          {% for sub in submissions %}
              <tr {% if sub['status'] != 'Completed' %} style="font-weight: bold" {% endif %}>
                  <td><a onclick="waitCursor()" href="{{url_for('curator',uid=sub['id'])}}">{{sub['id']}} </a></td>
                  <td>{{sub['status']}}</td>
                  <td>{% if sub['landing_page'] %} <a target="_blank" href={{sub['landing_page']}}>{{sub['landing_page']}}</a> {% endif %}</td>
              </tr>
          {% endfor %}
      </table>
    </div>
    {% endif %}
  
{% endif %}

</div>
</div>

<script>

  $(document).ready(function(){
    //for keywords tab
    $('[data-toggle="popover"]').popover({html: true, container: 'body', trigger:"hover"});
    new_kw_counter = 1;

    //for spatial bounds tab
    var check = $('input[name="entire_region"]');
    var w = $('input[name="geo_w"]');
    var e = $('input[name="geo_e"]');
    var s = $('input[name="geo_s"]');
    var n = $('input[name="geo_n"]');
    check.on('click', function() {
      if (check.prop('checked')) {
        w.val('-180');
        e.val('180');
        s.val('-90');
        n.val('-60');
      } else {
          w.val('');
          e.val('');
          s.val('');
          n.val('');
      }
    });
  });

  function waitCursor() {
    $("html").addClass("wait");
  }

  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  // Get the element with id="defaultOpen" and click on it
  if (document.getElementById("defaultOpen")) document.getElementById("defaultOpen").click();

  //accordian function for keyword types
  function keywordAccordian(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
  }

  function assignKeyword(id, label) {
    var wrapper = $('#assigned');
    var kw_btn = $('#'+id);
    if (kw_btn.is(':checked')) {
      var kw = $('<span/>', {'class' : 'assigned_kw', 'id': 'as_'+id, 'html': label});
      $(wrapper).append(kw);
    } else {
      $('#as_'+id).remove();
    }
  }

  $('.kw-type-btn').each(function(){
    $(this).click(function(){
      keywordAccordian($(this).attr('id').replace('btn_',''));
    });
  });

  $('.kw-btn').each(function(){
    $(this).click(function(e){
       assignKeyword($(this).attr('id'), $(this).attr('label'));
    });
  });

  // open add keyword window
  $('.add-keyword-btn').click(function(event) {
    $("#add_keyword_title").text("Add new keyword for keyword type: " + $(this).attr('name'));
    $('#new_keyword_label').val('');
    $('#new_keyword_description').val('');
    var type_id = $(this).attr('id').replace('add_','').replace('_btn', '');
    $("#new_keyword_type_id").attr('value', type_id);

    var x = event.pageX;
    var y = event.pageY;
    $("#add_keyword_div").css({top:y-400+"px", left:x+"px"}).show();
  });


  // add new keyword button
  $('#kw_add_btn').click(function() {
    var label = $('#new_keyword_label').val();
    if (label !== '') {
      var description = $('#new_keyword_description').val();
      var type_id = $('#new_keyword_type_id').val();
      var source = $('#new_keyword_source').val();
      // create a new keyword button
      var new_button = $('#kw_button_div').clone();
      var id = 'nk-' + new_kw_counter;
      // put all information needed to create a new keyword in the DB in the value field
      // use ::: as a separator
      $(new_button).find('input').attr({'id': id, 'value': id+':::'+label+':::'+description+':::'+type_id+':::'+source, 'label': label});
      $(new_button).find('span').html(label);
      $(new_button).find('input').click(function(e){
        assignKeyword($(this).attr('id'), $(this).attr('label'));
      });
      $(new_button).attr('data-content', '<b>Description:</b> ' + description).popover({html: true, container: 'body', trigger:"hover"});
      $('#kw_button_wrapper_'+type_id).append(new_button);
      new_kw_counter++;
    }

    $("#add_keyword_div").hide();
  });

  $('#kw_cancel_btn').click(function() {
    $("#add_keyword_div").hide();
  });

</script>
{% endblock body %}