{% extends "layout.html" %}
{% set cur = "curator" %}
{% block body %}

<div id="comments" hidden>
  <div id="comments_header" class="window-header">
    <span id="comments_title"></span><span class='close_comments_btn close_btn'>X</span>
  </div>
  <div id="comments_body">
    <p id="comments_text"></p>
  </div>
</div>

<div class="border">
<div class="content">

<h2 style="float:left;">Curator Page</h2>

<a target="_blank" style="float:right; margin-top: 20px;" href="{{url_for('curator_help')}}" class="btn btn-primary">Help</a>
<div style="clear:both"></div>

{% for msg in message %}
  <div class="alert alert-success" style="width:800;">
    <h4>{{msg}}</h4>
  </div>
{% endfor %}
{% if landing_page %}
  <div class="alert alert-success" style="width:800;">
    <h4><a target="_blank" href="{{landing_page}}">Click here to view landing page</a></h4>
  </div>
{% endif %}
{% if error %}
  <div class="alert alert-danger" style="width:800;">
    <h4>{{error}}</h4>
  </div>
{% endif %}

{% if need_login %}
    
<div class="container">
      
  <h4>Curator Login </h4>

  <div id="container">
    <h5>
      Sign in using an authorized curator account
    </h5>
    <div id="buttons">
      <a href="{{ url_for('login_google') }}" class="loginBtn loginBtn--google w3-btn w3-round w3-text-shadow">
        Google
      </a>
      <a href="{{ url_for('login_orcid') }}" class="loginBtn loginBtn--orcid w3-btn w3-round w3-text-shadow">
        <span style="color:gray; font-weight:bolder">ORC</span>iD
      </a>
    </div>
  </div>

      
{% else %}
  <a href="{{url_for('logout', type='curator')}}" style="float:right">Log out</a>

  {% if json %}

    <a onclick="waitCursor()" href="{{url_for('curator')}}">Back to list</a>
      <div class="tab">
        {% if type == 'dataset' %}
          <button class="tablinks" onclick="openTab(event, 'jsonTab')" {% if tab == 'json' %} id="defaultOpen" {% endif %}>JSON</button>
          <button class="tablinks" onclick="openTab(event, 'sqlTab')" {% if tab == 'sql' %} id="defaultOpen" {% endif %}>SQL</button>
          <button class="tablinks" onclick="openTab(event, 'readmeTab')"  {% if tab == 'readme' %} id="defaultOpen" {% endif %}>README</button>
          <button class="tablinks" onclick="openTab(event, 'keywordsTab')"  {% if tab == 'keywords' %} id="defaultOpen" {% endif %}>Assign Keywords</button>
          <button class="tablinks" onclick="openTab(event, 'spatialTab')"  {% if tab == 'spatial' %} id="defaultOpen" {% endif %}>Update Spatial Bounds / Award</button>
          <button class="tablinks" onclick="openTab(event, 'dcxmlTab')"  {% if tab == 'dcxml' %} id="defaultOpen" {% endif %}>DataCite XML</button>
          <button class="tablinks" onclick="openTab(event, 'isoxmlTab')"  {% if tab == 'isoxml' %} id="defaultOpen" {% endif %}>ISO XML</button>
        {% elif type == 'project' %}
          <button class="tablinks" onclick="openTab(event, 'projectJsonTab')" {% if tab == 'project_json' %} id="defaultOpen" {% endif %}>JSON</button>
          <button class="tablinks" onclick="openTab(event, 'projectSqlTab')" {% if tab == 'project_sql' %} id="defaultOpen" {% endif %}>SQL</button>
          <button class="tablinks" onclick="openTab(event, 'projectSpatialTab')"  {% if tab == 'spatial' %} id="defaultOpen" {% endif %}>Update Spatial Bounds / Award</button>
          <button class="tablinks" onclick="openTab(event, 'difxmlTab')"  {% if tab == 'difxml' %} id="defaultOpen" {% endif %}>DIF XML</button>
        {% endif %}
          <button class="tablinks" onclick="openTab(event, 'emailTab')"  {% if tab == 'email' %} id="defaultOpen" {% endif %}>Send Email</button>
          <button class="tablinks" onclick="openTab(event, 'statusTab')"  {% if tab == 'status' %} id="defaultOpen" {% endif %}>Change Status / Comments</button>
      </div>
    <form method="post" enctype="multipart/form-data">

      <div id="jsonTab", class="tabcontent active">
          <h4>{{filename}}</h4>
        <button type="submit" name="submit" value="make_sql" onclick="waitCursor()">Create SQL and Readme</button>
        <table>
        <tr>
           <td>
               <textarea id="json" name="json" cols="130" rows="50">{{ json }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="sqlTab", class="tabcontent">
        <h4>SQL for {{filename}}</h4>
        <button type="submit" name="submit" value="import_to_db" title="Import to DB and copy uploaded files" onclick="waitCursor()">Import to Database Only</button>
        <table>
        <tr>
           <td>
               <textarea id="sql" name="sql" cols="130" rows="50">{{ sql }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="readmeTab", class="tabcontent">
        <h4>Read Me text for {{readme_file}}</h4>
        <input type="hidden" name="readme_file" value="{{readme_file}}">
        <button type="submit" name="submit" value="save_readme" onclick="waitCursor()">Save Readme File</button>
        <table>
        <tr>
           <td>
               <textarea id="readme" name="readme" cols="130" rows="50">{{ readme }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="keywordsTab", class="tabcontent">
        {% if db_imported %}
          <div id="add_keyword_div" hidden>
            <div id="add_keyword_header" class="window-header">
              <span id="add_keyword_title"></span>
            </div>
            <div class="add_keyword_body">
                Label:<input id="new_keyword_label" class="form-control" type="text" name="label"/>
                Description:<textarea id="new_keyword_description" rows="2" class="form-control" type="text" name="description"></textarea>
                Type ID:<input id="new_keyword_type_id" class="form-control" type="text" value=""/>
                Source:<input id="new_keyword_source" class="form-control" type="text" value="Curator Keyword"/>
                <button type="button" id="kw_cancel_btn" class='cancel-add-keyword-btn'>Cancel</button>
                <button type="button" id="kw_add_btn" class='do-add-keyword-btn'>Add</button>
            </div>
            
          </div>

          <h4>Assign keywords for {{uid}}</h4>
          <div class="bordered-div">
            <div id="assigned">
              <h5>Selected keywords:</h5>
              <i>Keywords already in the database are shown in grey and can not be removed</i><br/>
              {% for kw in dataset_keywords %}
                <span class="assigned_kw_db">{{kw.keyword_label}}</span>
              {% endfor %}  
            </div>
            <br/>
            <button type="submit" name="submit" value="assign_keywords" onclick="waitCursor()">Add to Database</button>
          </div>
          {% for kw_type in keywords %}
            <button type="button" id="btn_{{kw_type.id|safe}}" class="btn kw-type-btn">
              <span style="color:white" data-toggle="popover" data-placement="right" data-content="<b>Description:</b> {{kw_type.keyword_type_description}} <br/><b>Source:</b> {{kw_type.keyword_type_source}}">{{kw_type.keyword_type_label}}</span>
            </button>
            <br/>
            <div id="{{kw_type.id|safe}}" class="w3-container w3-hide">
              <div id="kw_button_wrapper_{{kw_type.keyword_type_id|safe}}">
                {% for kw in kw_type.keywords if kw.keyword_id not in dataset_keywords|safe %}
                  <div id="kw_button_div" class="ck-button" data-toggle="popover" data-placement="top" data-content="<b>Description:</b> {{kw.keyword_description}}">
                    <label>
                      <input type="checkbox" name="assigned_keyword" id="{{kw.keyword_id|safe}}" value="{{kw.keyword_id|safe}}" label="{{kw.keyword_label|safe}}" class="kw-btn">
                        <span>{{kw.keyword_label}}</span>
                      </input>
                    </label>
                  </div>
                {% endfor %}
                {% for kw in kw_type.keywords if kw.keyword_id in dataset_keywords|safe %}
                  <span class="assigned_kw_db">{{kw.keyword_label}}</span>
                {% endfor %}
              </div>
              <div style="clear:both"></div>
              <button type="button" class="add-keyword-btn" id="add_{{kw_type.keyword_type_id}}_btn" name="{{kw_type.keyword_type_label}}"><b>Add keyword</b></button>
            </div>
          {% endfor %}
        {% else %}
          <h4>You will be able to assign keywords after Database import</h4>
        {% endif %}
      </div>

      <div id="spatialTab", class="tabcontent">
        {% if db_imported %}
          <div>
            <b>Spatial Bounds of Data</b> <br/>Use decimal degrees. Longitudes must be in -180 to 180 range. Example:<br /> Ross Sea is between 160 and -150
            <table style="border:0">
              <tbody>
                <tr>
                  <td align="center">
                    &nbsp;N: <input type="text" name="geo_n" id="geo_n" size="5" value="{{coords.get('geo_n','')}}"> <br>
                    W: <input type="text" name="geo_w" id="geo_w" size="6" value="{{coords.get('geo_w','')}}"> &nbsp; &nbsp; &nbsp;&nbsp; E: <input type="text" name="geo_e" id="geo_e" size="6" value="{{coords.get('geo_e','')}}"> <br>
                    S: <input type="text" name="geo_s" id="geo_s" size="5" value="{{coords.get('geo_s','')}}">
                  </td>
                  <td>
                    <span style="margin: 20px">
                      <input type="checkbox" name="entire_region"> Entire Antarctic Region</input><br/>
                    </span>
                    <span style="margin: 20px">
                     <input type="checkbox" name="cross_dateline" {% if coords.get('cross_dateline') %}checked{% endif %}> Check if your bounds cross the International Date Line</input>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <br/>
            <button type="submit" name="submit" value="spatial_bounds" onclick="waitCursor()">Update Spatial Bounds</button>
          </div>
          <br/><br/>
          <div>
            <b>Award Number</b><br/>
            <input type="text" name="award" id="award">
            <br/><br/>
            <button type="submit" name="submit" value="award" onclick="waitCursor()">Add Award</button>
          </div>
        {% else %}
          <h4>You will be able to update spatial bounds and awards after Database import</h4>
        {% endif %}
      </div>

      <div id="dcxmlTab", class="tabcontent">
        <h4>DataCite XML for {{dc_uid}}</h4>
        <input type="hidden" name="dcxml_file" value="{{dcxml_file}}">
        <input type="hidden" name="dc_uid" value="{{dc_uid}}">
        <button type="submit" name="submit" value="generate_dcxml" onclick="waitCursor()">Generate DataCite XML from DB</button>
        <button type="submit" name="submit" value="submit_to_datacite" onclick="waitCursor()">Submit To DataCite</button>
        {%if replaced_dataset %}
          <button type="submit" name="submit" value="update_replaced_dcxml" onclick="waitCursor()">Update XML For Replaced Dataset {{replaced_dataset}}</button>
        {% endif %}
        <table>
        <tr>
           <td>
               <textarea id="dcxml" name="dcxml" cols="130" rows="50">{{ dcxml }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="isoxmlTab", class="tabcontent">
        <h4>ISO XML for {{dc_uid}}</h4>
        <input type="hidden" name="dcxml_file" value="{{dcxml_file}}">
        <input type="hidden" name="isoxml_file" value="{{isoxml_file}}">
        <button type="submit" name="submit" value="generate_isoxml" onclick="waitCursor()">Generate ISO XML from Datacite XML</button>
        <button type="submit" name="submit" value="save_isoxml" onclick="waitCursor()">Save in Watch Directory</button>
        {%if replaced_dataset %}
          <button type="submit" name="submit" value="update_replaced_isoxml" onclick="waitCursor()">Update ISO XML For Replaced Dataset {{replaced_dataset}}</button>
        {% endif %}
        <table>
        <tr>
           <td>
               <textarea id="isoxml" name="isoxml" cols="130" rows="50"> {{ isoxml }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="emailTab", class="tabcontent">
        <h4>Send email to creator (and editor) of {{uid}}</h4>
 
        <div>
          <b>Recipients</b><br/>
          <textarea id="email_recipients" name="email_recipients" cols="100" rows="3">{{email_recipients}}</textarea>
          <br/><br/>
          <b>Subject</b><br/>
          <textarea id="email_subject" name="email_subject" cols="100" rows="1">{{email_subject}}</textarea>  
          <br/><br/>
          <b>Text</b><br/>
          <textarea id="email_text" name="email_text" cols="100" rows="15">{{email_text}}</textarea>
          <br><br>
          <button type="submit" name="submit" value="send_email" onclick="waitCursor()">Send</button>
        </div>
      </div>


      <div id="statusTab", class="tabcontent">
        <h4>Change the submission status or edit a comment</h4>
 
        <div>
          <b>Status</b><br/>
          <select name='status'>
            {% for opt in status_options %}
              <option value="{{opt}}" {% if opt == status %} selected {% endif %}>{{opt}}</option>
            {% endfor %}
          </select>
          <br><br>
          <b>Comments</b><br/>
          <textarea id="comment_text" name="comment_text" cols="100" rows="5">{{comments}}</textarea>
          <br><br>
          <button type="submit" name="submit" value="change_status" onclick="waitCursor()">Update</button>
        </div>
      </div>
      

      <div id="projectJsonTab", class="tabcontent active">
          <h4>{{filename}}</h4>
        <button type="submit" name="submit" value="make_project_sql" onclick="waitCursor()">Create SQL</button>
        <table>
        <tr>
           <td>
               <textarea id="proj_json" name="proj_json" cols="130" rows="50">{{ json }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="projectSqlTab", class="tabcontent">
        <h4>SQL for {{filename}}</h4>
        <button type="submit" name="submit" value="import_project_to_db" title="Import to DB" onclick="waitCursor()">Import to Database</button>
        <table>
        <tr>
           <td>
               <textarea id="proj_sql" name="proj_sql" cols="130" rows="50">{{ sql }}</textarea>
           </td>
        </tr>
        </table>
      </div>

      <div id="projectSpatialTab", class="tabcontent">
        {% if db_imported %}
          <div>
            <b>Spatial Bounds of Data</b> <br/>Use decimal degrees. Longitudes must be in -180 to 180 range. Example:<br /> Ross Sea is between 160 and -150
            <table style="border:0">
              <tbody>
                <tr>
                  <td align="center">
                    &nbsp;N: <input type="text" name="proj_geo_n" id="proj_geo_n" size="5" value="{{coords.get('geo_n','')}}"> <br>
                    W: <input type="text" name="proj_geo_w" id="proj_geo_w" size="6" value="{{coords.get('geo_w','')}}"> &nbsp; &nbsp; &nbsp;&nbsp; E: <input type="text" name="proj_geo_e" id="proj_geo_e" size="6" value="{{coords.get('geo_e','')}}"> <br>
                    S: <input type="text" name="proj_geo_s" id="proj_geo_s" size="5" value="{{coords.get('geo_s','')}}">
                  </td>
                  <td>
                    <span style="margin: 20px">
                      <input type="checkbox" name="proj_entire_region"> Entire Antarctic Region</input><br/>
                    </span>
                    <span style="margin: 20px">
                     <input type="checkbox" name="proj_cross_dateline" {% if coords.get('cross_dateline') %}checked{% endif %}> Check if your bounds cross the International Date Line</input>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <br/>
            <button type="submit" name="submit" value="project_spatial_bounds" onclick="waitCursor()">Update Database</button>
          </div>
          <br/><br/>
          <div>
            <b>Award Number</b><br/>
            <input type="text" name="proj_award" id="proj_award">
             <input type="checkbox" name="proj_main_award" checked> Main Award</input><br/>
            <br/><br/>
            <button type="submit" name="submit" value="project_award" onclick="waitCursor()">Add Award</button>
          </div>
        {% else %}
          <h4>You will be able to update spatial bounds and awards after Database import</h4>
        {% endif %}
      </div>

      <div id="difxmlTab", class="tabcontent">
        <h4>DIF XML for {{uid}}</h4>
        <input type="hidden" name="difxml_file" value="{{difxml_file}}">
        <button type="submit" name="submit" value="generate_difxml" onclick="waitCursor()">Generate DIF XML from DB</button>
        <button type="submit" name="submit" value="save_difxml" onclick="waitCursor()">Save in Watch Directory</button>
        <button type="submit" name="submit" value="dif_to_db" onclick="waitCursor()">Add DIF to DB</button>
        <table>
        <tr>
           <td>
               <textarea id="difxml" name="difxml" cols="130" rows="50">{{ difxml }}</textarea>
           </td>
        </tr>
        </table>
      </div>

    </form>

  {% else %}


    {% if type == 'addUser' %}
      <a onclick="waitCursor()" href="{{url_for('curator')}}">Back to list</a>
      <h3>Add User To Dataset / Project</h3>

      <form action="{{url_for('curator')}}" method="post" enctype="multipart/form-data">
        <div id="projects" hidden>{{projects|tojson}}</div>
        <div id="datasets" hidden>{{datasets|tojson}}</div>
        <div id="persons" hidden>{{persons|tojson}}</div>
        <div id="orgs" hidden>{{orgs|tojson}}</div>

        <div>
          
          <div class="input-group form-group required">
            <b>Dataset / Project:</b><br>
              <input class="input-sm form-control" type="text" id="dataset_or_project" name="dataset_or_project" size="150"/> 
          </div>

          <div class="w3-card-2" style="width:55%; padding:15px">
            <header >
              <h4>User Details</h4>
            </header>

            <div class="form-group required" style="margin:10px 0 10px 0">
              Name:<br>
              <div class="input-group">
                <input required class="input-sm form-control" type="text" size=8 id="name_last" name="name_last" placeholder="Last Name" /> 
                <span  class="input-group-addon">,</span>
                <input required class="input-sm form-control" type="text" size=8 id="name_first" name="name_first" placeholder="First Name" />
              </div>
            </div>

            <div class="input-group form-group required">
              Email:<br>
              <input class="input-sm form-control" type="text" id="email" name="email"/> 
            </div>

            <div class="input-group form-group">
              ORCID:<br>
              <input class="input-sm form-control" type="text" id="orcid" name="orcid"/> 
            </div>
            
            <div class="input-group form-group">
              Institution:<br>
              <input class="input-sm form-control" type="text" id="org" name="org"/> 
            </div>

            <div class="input-group form-group">
              Role:<br>
              <select class="input-sm form-control removable" name="role" id="role" style="margin-bottom:6px">
                <option value="">(Select Role)</option>
                {% for r in roles %}
                  <option value="{{r.id}}">{{r.id}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <br/><br/>
          <button type="submit" name="submit" value="add_user" onclick="waitCursor()">Add User</button>
        </div>
      </form>



    {% else %}

    <div style="padding:10px;">
      <a class="btn btn-primary" href="{{url_for('curator',fnc='addUser')}}">Add User To Dataset / Project</a>
    </div>

      <div id='dif-browser-table'>
        <table class='sortable' >
             <thead class="w3-striped w3-bordered w3-hoverable">
              <tr>
                <th>Submission</th>
                <th>Submitted Date</th>
                <th>Last Update</th>
                <th>Status</th>
                <th>Comments</th>
                <th>Landing Page</th>
                <th hidden>comments_text</th>
              </tr>
            </thead>

            {% for sub in submissions %}
                <tr {% if sub['status'] not in no_action_status %} style="font-weight: bold" {% endif %}>
                    <td><a onclick="waitCursor()" href="{{url_for('curator',uid=sub['id'])}}">{{sub.id}} </a></td>
                    <td>{{sub.date}}</td>
                    <td>{{sub.last_update}}</td>
                    <td>{{sub.status}}</td>
                    <td>{% if sub.comments %}
                        <button type="button" class="in-table-button abstract-button" id="comments_btn" onclick="showComments(this);"><b>View Comments</b></button>{% endif %}</td>
                    <td>{% if sub.landing_page %} <a target="_blank" href={{sub['landing_page']}}>{{sub.landing_page}}</a> {% endif %}</td>
                    <td hidden>{{sub.comments}}</td>
                </tr>
            {% endfor %}
        </table>
      </div>
    {% endif %}
  {% endif %}
  
{% endif %}

</div>
</div>

<script>

  $(document).ready(function(){
    //Make the DIV element draggagle:
    dragElement(document.getElementById(("comments")));
    
    //for keywords tab
    $('[data-toggle="popover"]').popover({html: true, container: 'body', trigger:"hover"});
    new_kw_counter = 1;

    //for spatial bounds tab
    var check = $('input[name="entire_region"]');
    var w = $('input[name="geo_w"]');
    var e = $('input[name="geo_e"]');
    var s = $('input[name="geo_s"]');
    var n = $('input[name="geo_n"]');
    check.on('click', function() {
      if (check.prop('checked')) {
        w.val('-180');
        e.val('180');
        s.val('-90');
        n.val('-60');
      } else {
          w.val('');
          e.val('');
          s.val('');
          n.val('');
      }
    });

    var proj_check = $('input[name="proj_entire_region"]');
    var proj_w = $('input[name="proj_geo_w"]');
    var proj_e = $('input[name="proj_geo_e"]');
    var proj_s = $('input[name="proj_geo_s"]');
    var proj_n = $('input[name="proj_geo_n"]');
    proj_check.on('click', function() {
      if (proj_check.prop('checked')) {
        proj_w.val('-180');
        proj_e.val('180');
        proj_s.val('-90');
        proj_n.val('-60');
      } else {
          proj_w.val('');
          proj_e.val('');
          proj_s.val('');
          proj_n.val('');
      }
    });

    if ($("#projects").text() != '') {
      var project_rows = JSON.parse($("#projects").text());
      var dataset_rows = JSON.parse($("#datasets").text());

      var d_ps = [];
      var d_p;
      for (var r of project_rows) {
        if (r.uid) {
          d_p = r.uid + ': ' + r.title;
          d_ps.push(d_p);
        }
      }
      for (r of dataset_rows) {
        if (r.uid) {
          d_p = r.uid + ': ' + r.title;
          d_ps.push(d_p);
        }
      }

      var persons_rows = JSON.parse($("#persons").text());
      var persons = [];
      for (r in persons_rows) {
          row = persons_rows[r];
          persons.push(row.id);
      }

      var orgs_rows = JSON.parse($("#orgs").text());
      var orgs = [];
      for (r in orgs_rows) {
        org = orgs_rows[r];
        orgs.push(org.name);
      }

      autocomplete(document.getElementById("dataset_or_project"), null, d_ps);
      autocomplete(document.getElementById("name_last"), document.getElementById("name_first"), persons);
      autocomplete(document.getElementById("org"), null, orgs);


    }

  });

  function waitCursor() {
    $("html").addClass("wait");
  }

  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  // Get the element with id="defaultOpen" and click on it
  if (document.getElementById("defaultOpen")) document.getElementById("defaultOpen").click();

  //accordian function for keyword types
  function keywordAccordian(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
  }

  function assignKeyword(id, label) {
    var wrapper = $('#assigned');
    var kw_btn = $('#'+id);
    if (kw_btn.is(':checked')) {
      var kw = $('<span/>', {'class' : 'assigned_kw', 'id': 'as_'+id, 'html': label});
      $(wrapper).append(kw);
    } else {
      $('#as_'+id).remove();
    }
  }

  $('.kw-type-btn').each(function(){
    $(this).click(function(){
      keywordAccordian($(this).attr('id').replace('btn_',''));
    });
  });

  $('.kw-btn').each(function(){
    $(this).click(function(e){
       assignKeyword($(this).attr('id'), $(this).attr('label'));
    });
  });

  // open add keyword window
  $('.add-keyword-btn').click(function(event) {
    $("#add_keyword_title").text("Add new keyword for keyword type: " + $(this).attr('name'));
    $('#new_keyword_label').val('');
    $('#new_keyword_description').val('');
    var type_id = $(this).attr('id').replace('add_','').replace('_btn', '');
    $("#new_keyword_type_id").attr('value', type_id);

    var x = event.pageX;
    var y = event.pageY;
    $("#add_keyword_div").css({top:y-400+"px", left:x+"px"}).show();
  });


  // add new keyword button
  $('#kw_add_btn').click(function() {
    var label = $('#new_keyword_label').val();
    if (label !== '') {
      var description = $('#new_keyword_description').val();
      var type_id = $('#new_keyword_type_id').val();
      var source = $('#new_keyword_source').val();
      // create a new keyword button
      var new_button = $('#kw_button_div').clone();
      var id = 'nk-' + new_kw_counter;
      // put all information needed to create a new keyword in the DB in the value field
      // use ::: as a separator
      $(new_button).find('input').attr({'id': id, 'value': id+':::'+label+':::'+description+':::'+type_id+':::'+source, 'label': label});
      $(new_button).find('span').html(label);
      $(new_button).find('input').click(function(e){
        assignKeyword($(this).attr('id'), $(this).attr('label'));
      });
      $(new_button).attr('data-content', '<b>Description:</b> ' + description).popover({html: true, container: 'body', trigger:"hover"});
      $('#kw_button_wrapper_'+type_id).append(new_button);
      new_kw_counter++;
    }

    $("#add_keyword_div").hide();
  });

  $('#kw_cancel_btn').click(function() {
    $("#add_keyword_div").hide();
  });



  function autocomplete(inp, inp2, arr) {
    /*the autocomplete function takes three arguments,
    two text field elements and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    [inp, inp2].forEach(function(elem) {
      if (elem === null) return;
      elem.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].toUpperCase().indexOf(val.toUpperCase()) != -1) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
                  var selected;
                  if (inp2 !== null) {
                    /*insert the value for the autocomplete text field:*/
                    //split the name at the comma
                    selected = this.getElementsByTagName("input")[0].value.split(',');
                    inp.value = selected[0].trim();
                    inp2.value = selected[1].trim();
                  }
                  else {
                    selected = this.getElementsByTagName("input")[0].value;
                    inp.value = selected;
                  }
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });

      /*execute a function presses a key on the keyboard:*/
      elem.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
      });
    });

    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false;
      /*start by removing the "active" class on all items:*/
      removeActive(x);
      if (currentFocus >= x.length) currentFocus = 0;
      if (currentFocus < 0) currentFocus = (x.length - 1);
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
      }
    }
    function closeAllLists(elmnt) {
      /*close all autocomplete lists in the document,
      except the one passed as an argument:*/
      var x = document.getElementsByClassName("autocomplete-items");
      for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
          x[i].parentNode.removeChild(x[i]);
        }
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
  }

  function showComments(el) {
    var header = $(el).closest('table').find('th');
    var comments_ind = 999;
    for (var i in header) {
      if (header[i].tagName != "TH") continue;
      var label = header[i].innerText;
      if (label == "comments_text") comments_ind = i;
    }

    var row = $(el).closest('tr');
    var comments = row.children('td').eq(comments_ind).text();
    $("#comments_text").html(comments);
    var x = event.pageX;
    var y = event.pageY;


    $("#comments_title").text('Comments');
    $("#comments").css({top:y+"px", left:x-400+"px"}).show();   
  }

  $('.close_comments_btn').click(function() {
    $("#comments").hide();
  });

  /*
    functions to hangle dragging an element by its header
  */
  function dragElement(elmnt) {
    if (elmnt === null) return;
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    if (document.getElementById(elmnt.id + "_header")) {
      /* if present, the header is where you move the DIV from:*/
      document.getElementById(elmnt.id + "_header").onmousedown = dragMouseDown;
    } else {
      /* otherwise, move the DIV from anywhere inside the DIV:*/
      elmnt.onmousedown = dragMouseDown;
    }

    function dragMouseDown(e) {
      e = e || window.event;
      // get the mouse cursor position at startup:
      pos3 = e.clientX;
      pos4 = e.clientY;
      document.onmouseup = closeDragElement;
      // call a function whenever the cursor moves:
      document.onmousemove = elementDrag;
    }

    function elementDrag(e) {
      e = e || window.event;
      // calculate the new cursor position:
      pos1 = pos3 - e.clientX;
      pos2 = pos4 - e.clientY;
      pos3 = e.clientX;
      pos4 = e.clientY;
      // set the element's new position:
      elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
      elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
    }

    function closeDragElement() {
      /* stop moving when mouse button is released:*/
      document.onmouseup = null;
      document.onmousemove = null;
    }
  }
</script>
{% endblock body %}