{% extends "layout.html" %}
{% set cur = "data_repo" %}
{% block body %}
<div class="content">
		<!-- InstanceBeginEditable name="contentArea" -->
		<h3>Repositories for Antarctic and Southern Ocean Data </h3>
			<p style="margin-bottom: 0;">&nbsp;</p>
<h3 style="margin-top: 0;"><strong>Digital Repositories</strong></h3>
<blockquote>
  <p style="margin-bottom: 0;"><strong>Climate  observations</strong></p>
  <p style="margin-top:0;"><em><a href="https://www.clivar.org/resources/data/dacs">CLIVAR Data Assembly Centres (DACs)</a>.</em> Archives of various climate observation datasets.</p>
  <p style="margin-bottom: 0;"><strong>Cryospheric  data </strong></p>
  <p style="margin-top:0;"><em><a href="https://nsidc.org/">National Snow  and Ice Data Center (NSIDC)</a>.</em> Cryospheric databases and other information gathered from such sources as  remote sensing instruments, ground measurements, and models. </p>
  <p style="margin-bottom: 0;"><strong>Geochemical  data</strong></p>
  <p style="margin-top:0;"><em><a href="https://www.earthchem.org/">EarthChem</a>.</em> Online database of chemical analyses  of rocks from around the globe. </p>
  <p style="margin-bottom: 0;"><strong>Geodetic data</strong></p>
  <p style="margin-top:0;"><em><a href="https://www.unavco.org/">University NAVSTAR Consortium (UNAVCO)</a>.</em> Online archive of GPS data and data  products. </p>
  <p style="margin-bottom: 0;"><strong>Maps, aerial  photographs, and related information</strong> </p>
  <p style="margin-top:0;"><em><a href="https://usarc.usgs.gov/">United States Antarctic Resource Center (USARC)</a></em> at the U.S. Geological Survey.&nbsp; Comprehensive collection of antarctic maps, charts, satellite  images and photographs. The USARC is the United States' contribution to the  SCAR (Scientific Committee on Antarctic Research) Library system. </p>
  <p style="margin-top:0;"><em><a href="https://www.pgc.umn.edu">Polar Geospatial Center (PGC)</a></em> at the University of Minnesota. &nbsp; Provides GIS services to both science and operations for the United States Antarctic Program (USAP).  Responsible for creating and archiving maps, conducting GIS analysis and support, and providing logistics solutions to USAP science and operations, while also conducting research in the McMurdo Dry Valleys.</p>
  <p style="margin-bottom: 0;"><strong>Marine geophysical data.</strong></p>
  <p style="margin-top:0;"><em><a href="https://www.marine-geo.org/portals/antarctic/">Marine Geoscience Data System (MGDS)</a>.</em> Online database of Antarctic marine  bathymetry data, maps, and trackline geophysical data. </p>
  <p style="margin-bottom: 0;"><strong>Paleobotany</strong></p>
  <p style="margin-top:0;"><em><a href="https://biodiversity.ku.edu/paleobotany/collections">Antarctic Paleobotany Collection</a>.</em> Online database and collection of Antarctic fossil plants.</p>
  <p style="margin-bottom: 0;"><strong>Paleoclimatology</strong></p>
  <p style="margin-top:0;"><em><a href="https://www.ncdc.noaa.gov/paleo/">World Data Center for Paleoclimatology</a>.</em> Online archive of paleoclimate date derived from multiple proxies.</p>
  <p style="margin-bottom: 0;"><strong>Paleomagnetic data </strong></p>
  <p style="margin-top:0;"><em><a href="https://www2.earthref.org/MagIC">Magnetics Information Consortium (MagIC)</a>.</em> Data range from individual measurements to specimen, sample or site level results, and include a wide variety of derived parameters or associated rock magnetic measurements.</p>
  <p style="margin-bottom: 0;"><strong>Seismic data</strong></p>
  <p style="margin-top:0;"><em><a href="https://www.iris.edu/hq/">Incorporated  Research Institutions for Seismology (IRIS</a>).</em> Online archive of seismic data. </p>
  <p style="margin-bottom: 0;"><strong>Sample registration</strong></p>
  <p style="margin-top:0;"><em><a href="https://www.geosamples.org/">System for Earth Sample Registration (SESAR)</a></em>. System for  sample registry that generates unique sample identifiers. </p>
  </blockquote>
<p style="margin-bottom: 0;">&nbsp;</p>
<h3 style="margin-top: 0;"><strong>Sample  Repositories</strong></h3>
<blockquote>
  <p style="margin-bottom: 0;"><strong>Ice cores</strong> </p>
  <p style="margin-top:0;"><em><a href="https://icecores.org/">U.S. National Ice Core Laboratory (NICL)</a></em> supported by NSF-OPP and the USGS-Geological Division, houses approximately 12,000 meters of ice cores recovered from Greenland and Antarctica that are available for study. </p>
  <p style="margin-bottom: 0;"><strong>Sedimentary  cores and grab samples; ocean bottom and continental cores</strong> </p>
  <p style="margin-top:0;"><em><a href="https://osu-mgr.org/"> OSU Marine and Geology Repository (OSU MGR)</a>, </em>Oregon State University. Shipboard coring supported by the United States Antarctic Program over four decades has produced the world's largest collection of antarctic  piston cores, housed at the Antarctic Research Facility. </p>
  <p style="margin-bottom: 0;"><strong>Rock samples</strong></p>
  <p style="margin-top:0;"><em><a href="https://prr.osu.edu/">U.S. Polar Rock Repository (USPRR)</a>.</em> Byrd  Polar Research Center, The Ohio State University. The repository houses rock  collections from Antarctica and the Arctic, along with associated materials  such as field notes, annotated photos and maps, raw analytic data,  paleomagnetic cores, ground rock and mineral residues, thin sections, and  microfossil mounts, microslides and residues. </p>
  <p style="margin-bottom: 0;"><strong>Biological  specimens</strong></p>
  <p style="margin-top:0;">More than 31,000  samples comprising 300,000 specimens of antarctic benthic invertebrates,  plankton, algae, and fish collected by USAP researchers are  available for study and identification. The collection also includes the  primary types of more than 400 antarctic invertebrate species. The <a href="https://naturalhistory.si.edu/research/invertebrate-zoology"><em>Smithsonian  Institution</em></a> Department of Invertebrate Zoology handles the collection and  maintains a database of cataloged material.</p>
  <p style="margin-bottom: 0;"><strong>Meteorite  samples</strong></p>
  <p style="margin-top:0;">More than half  the world's meteorites available to science have been recovered from Antarctica  since 1969. Samples collected under USAP sponsorship are  managed, described, curated, and made available for research at <a href="https://www-curator.jsc.nasa.gov/antmet/"><em>Johnson Space  Center,</em></a> NASA, under an interagency agreement between NSF, NASA, and the  Smithsonian Institution.  </p>
  </blockquote>
<p>Thanks for your time and for your submission.</p>
	  <!-- InstanceEndEditable -->		</div>

{% endblock body %}