{% extends "layout.html" %}
{% set cur = "dif_browser" %}
{% block dif_body %}

<div id="titles" hidden>{{titles|tojson}}</div>
<div id="pi_names" hidden>{{pi_names|tojson}}</div>
<div id="awards" hidden>{{awards|tojson}}</div>
<div id="dif_ids" hidden>{{dif_ids|tojson}}</div>


<div id="abstract" hidden>
  <div id="abstract_header" class="window-header">
    <span id="abstract_title"></span><span id='close_btn'>X</span>
  </div>
  <div id="abstract_body">
    <p id="abstract_text"></p>
  </div>
</div>


<div>

  <h2 class="title">Metadata DIF browser (beta)</h2>
  <h5> Search includes AMD DIF records managed through USAP-DC.</h5>
  <h5><b>Note:</b> Includes records formerly managed through AGDC. Not all records contain links to datasets.</h5>

  <br/>

  <form action="{{url_for('dif_browser')}}" method="POST" enctype="multipart/form-data">
    <div style="margin:5px;"><b>PI Name: </b> 
      <input type="text" name="pi_name" id="pi_name" {% if pi_name != "None" %} value="{{pi_name}}" {% endif %}/> 
      <i> <font size=2>(Last Name OR First Name OR Last Name, First Initial)</font></i>
    </div>

    <div style="margin:5px;"><b>Title (free text): </b> 
       <input type="text" name="title" id="title" {% if title != "None" %} value="{{title}}" {% endif %}/>
    </div> 

    <div style="margin:5px;"><b>Abstract (free text): </b> 
       <input type="text" size="50" name="summary" id="summary" {% if summary != "None" %} value="{{summary}}" {% endif %}/>
    </div> 

    <div style="margin:5px;"><b>Award: </b> 
      <span class="select-editable-award">
        <select id="award" onchange="this.nextElementSibling.value=this.value">
          <option value='Any award' {% if award =='' or award =='Any award' %} selected {% endif %}>Any award</option>
          {% for row in awards %}
            {% if row['award'] != "" %}
              <option value="{{row['award']}}" {% if row['award'] == award %} selected {% endif %}> {{row['award']}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <input name="award" id="award-input" type="text" value="{{award}}" />
      </span>
    </div>

    <div style="margin:5px;"><b>DIF ID: </b> 
      <span class="select-editable-dif-id">
        <select id="dif_id" onchange="this.nextElementSibling.value=this.value">
          <option value='Any DIF ID' {% if award =='' or award =='Any DIF ID' %} selected {% endif %}>Any DIF ID</option>
          {% for row in dif_ids %}
            <option value="{{row['dif_id']}}" {% if row['dif_id'] == dif_id %} selected {% endif %}> {{row['dif_id']}}</option>
          {% endfor %}
        </select>
        <input name="dif_id" id="dif_id-input" type="text" value="{{dif_id}}" />
      </span>
    </div>

    <div style="margin:5px;">
      <input type="radio" name="all_selected" id="all_selected" value="1" {% if all_selected %} checked {% endif %}> All records
      <input type="radio" name="all_selected" id="usap_selected" value="0" {% if not all_selected %} checked {% endif %}> USAP-DC only
    </div>


    <div style="margin-top: 10px"><input type="submit" value="Search"/>
  </form>

  {% if dif_records|length > 0 %}

    <div>
      <i><font size=2 color=gray>({{dif_records|length}} AMD DIF record(s)) </font></i>

      <h5> To sort the table of search results, click the header of the column you wish to search by. </h5>
    </div>

    <div id='dif-browser-table'>
      <table class='sortable' preserve_style='row'>
    
        <tr>
          <th width="20%">DIF ID</th>
          <th width="7%">NSF Award</th>
          <th width="8%">Date Created</th>
          <th width="10%">PI (CoPIs)</th>
          <th width="20%">Title</th>
          <th width="25%">List of Datasets</th>
          <th width="10%">Repositories</th>
          <th width="10%" hidden>Abstract</th>
        </tr>
    
        {% for val in dif_records %}
   
          <tr class='w3-border'>
            {% set dif_url = "https://gcmd.gsfc.nasa.gov/search/Metadata.do?entry=" + val['dif_id'] + "&amp;subset=GCMD" %}

            <td><a target='_blank' href='{{dif_url}}'>{{val['dif_id']}}</a></td>

            {% if val['award'] != "" %}
              {% set award_url = "http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=" + val['award_7d'] %}
              <td><a target='_blank' href='{{award_url}}'>{{val['award']}}</a></td>
            {% else %}
              <td></td>
            {% endif %}
            <td>{{val['date_created']}}</td>
            <td>{{val['authors']}}</td>
            {% set abstract = val['summary'] | safe %}
            <td>{{val['title']}}<br/><button type="button" class="abstract-button">Abstract</button></td>

            <td><font size=2>
              {% if val['datasets']|length == 0 %}
                No data link provided
              {% endif %}
              {% for ds in val['datasets'] %}
                {% if ds['url'] == '' %}
                  No data link provided
                {% elif ds['title'] == '' %}
                  <a target='_blank' href="{{ds['url']}}">Access to data</a><br/>
                {% else %}
                  <a target='_blank' href="{{ds['url']}}">{{ds['title']}}</a><br/>
                {% endif %}
              {% endfor %}
            </font></td>

            <td><font size=2>
              {% for repo in val['repositories'] %}
                {{repo}}<br/>
              {% endfor %}
            </font></td>

            <td hidden>{{val['summary']}}</td>
          </tr>
        {% endfor %}

      </table>
    </div>
  {% else %}
    <td colspan="4"><br/><br/><i>No records found, please try again.</i></td>
  {% endif %}
</div>
</div>

<script type="text/javascript">
  
</script>

{% endblock dif_body %}