{% extends "layout.html" %}
{% set cur = "dataset_error" %}
{% block body %}


<style>
  #main {
  margin-left: 250px;
  padding: 20px;
  }

 #sidebar-div {
   margin-top: 20px; 
 }
</style>

<div class="container">
  <div id="sidebar-div">
    {% if name %}
      {% include 'sidebar.html' %}
    {% endif %}
  </div>
  <!-- END HEADER -->
  <div id="main">
    {{error_message|safe}}
    <br/><br/>
    <button onclick="goBack()">Go Back</button>
    <script>
      function goBack() {
      window.history.back();
      }
    </script>
    {% if back_url %}
    {% endif %}
  </div>
</div>
{% endblock body %}