{% extends "layout.html" %}
{% set cur = "home" %}
{% block home %}

<div id="div_extents" hidden>{{json_dumps(spatial_extents)}}</div>

{% if session.googleSignedIn %} 
    <div class="alert alert-danger alert-dismissible" style="width:800;">
        <a href="{{url_for('home', google='false')}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h4>If you are using a public computer, please make sure you <a onclick="logoutGoogle()" href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue={{url_for('home', google='false', _external=True)}}">sign out</a> of your Google account before leaving.</h4>
     </div>
{% endif %}

<div class="usap-dc-banner">

  <table style="width:80%; margin:auto">
    <tr>

      <td style="width:30%">
        <div class="shadow-container"  onclick="location.href='{{url_for('search')}}';">
          <div class="container">
            <a href="{{url_for('search')}}" class="image"><img src="{{url_for('static',filename='imgs/search-icon.png')}}" alt="Search"/></a>
            <br/><br/><p>Search Data</p>
          </div>
        </div>
      </td>

      <td style="width:30%">
        <div class="shadow-container"  onclick="location.href='{{url_for('project')}}';">
          <div class="container">
            <a href="{{url_for('project')}}" class="image"><img src="{{url_for('static',filename='imgs/register-icon.png')}}" alt="Register"/></a>
            <br/><br/><p>Register Project</p>
          </div>
        </div>
      </td>

      <td style="width:30%">
        <div class="shadow-container" onclick="location.href='{{url_for('dataset')}}';">
          <div class="container">
            <a href="{{url_for('dataset')}}" class="image"><img src="{{url_for('static',filename='imgs/upload-icon.png')}}" alt="Contribute"/></a>
            <br/><br/><p>Deposit Dataset</p>
          </div>
        </div>
      </td>

    </tr>
  </table>

</div>


<div class="content">

  <div id="mapserver" hidden>{{mapserver}}</div>

  <div style="clear:both"></div>

  <h2>Welcome</h2>
  <p>The U.S. Antarctic Program Data Center (USAP-DC) supports investigators funded by the National Science Foundation in documenting, preserving, and disseminating their research results. We provide a central USAP Project Catalog for all projects funded by the NSF Antarctic program and a Data Repository for research datasets derived from these projects. Data managed include the NSF research related glaciology data collection formerly managed  through NSIDC. We register datasets in the 
    Antarctic Metadata Directory (<a class="external" href="https://search.earthdata.nasa.gov/portal/amd/search">AMD</a>) to comply with the <a class="external" href="https://www.ats.aq/">Antarctic Treaty</a> and represent the U.S. in Scientific Committee on Antarctic Research (<a class="external" href="https://www.scar.org/data-products/scadm">SCAR</a>) activities.</p><br/>



  

  <div class="split">

    <div class="left">
      <h3>Recent News</h3>
      <div style="font-size:1.2em">
        <ul>
          {% for news in news_dict %}
          {% if loop.index < 6 %}
          <li><h5><b>{{news.date}}</b><p>{{news.news|safe}}</p></h5></li>
          {% endif %}
          {% endfor %}
        </ul>
        <a class="read-more-button" href="{{url_for('news')}}">READ MORE »</a>
      </div> 

      <h3>Recent Data</h3>
      <div style="font-size:1.2em">
        <ul>
          {% for data in data_dict %}
          {% if loop.index < 6 %}
          <li><h5><b>{{data.date}}</b><p>{{data.link|safe}}&nbsp;{{data.authors}}&nbsp;{{data.title}}</p></h5></li>
          {% endif %}
          {% endfor %}
        </ul>
        <a class="read-more-button" href="{{url_for('data')}}">READ MORE »</a>
      </div>
    </div>
    <div class="right">
      <div class="map-container">
        <div class="map-btn-container">
          <em>Map shows datasets registered with the USAP-DC. Dots show the locations of the centroid of the geographic bounding box  for each data set or the point locations for datasets from single sites (e.g. ice cores). Click on  centroid locations to view the full bounding box as provided by the contributing scientists as well as more information about the datasets.</em>
        </div>
        <div id="map-box">
        <div id="map">
          <div id="drawing-buttons">
            <div id="drag-icon" data-mode="None" class="drawing-button draw-active">
              <img src="{{url_for('static', filename='imgs/drag-icon.png')}}">
            </div>
            <div id="rect-icon" data-mode="Box" class="drawing-button">
              <img src="{{url_for('static', filename='imgs/rectangle-icon.png')}}">
            </div>
            <div id="polygon-icon" data-mode="Polygon" class="drawing-button">
              <img src="{{url_for('static', filename='imgs/Maps-Polygon-icon.png')}}">
            </div>
          </div>
          <form method="get" action="/dataset_search">
            <input name="spatial_bounds" type="hidden"/>
            <input name="spatial_bounds_interpolated" type="hidden"/>
            <div id="clear-search-buttons">
              <button type="submit" class="btn btn-primary btn-sm"  id="search-button">Search</button>
              <button type="button" class="btn btn-primary btn-sm"  id="clear-button">Clear</button>
            </div> 
          </form>
        </div>
        </div>  
      </div>
    </div>

  </div>


</div>

{% endblock home %}
