{% extends "layout.html" %}
{% set cur = "invalid_user" %}
{% block body %}

<style type="text/css">
 #main {
     padding: 20px;
 }

 #sidebar-div {
     margin-top: 20px;
 }
</style>

<div class="wrapper">
  {% if name %}
  <div id="sidebar-div">
    {% include 'sidebar.html' %}
  </div>
  {% endif %}
  <!-- END HEADER -->
  <div id="main">
    <h3 style="text-align: center">Your account is not currently associated with this Dataset.<br><br>Please contact <a href="mailto: info@usap-dc.org?subject=Request to edit dataset {{dataset_id}}">info@usap-dc.org</a> if you wish to update the metadata.
    <br><br>Please include the <b>email address</b> or <b>ORCID iD</b>* you wish to use to sign in.</h3>

  </div>
  <i>*Your ORCID id can be found on your <a target="_blank" href="https://orcid.org/my-orcid">ORCID homepage</a>, in the left column, under your name.</i>
</div>

{% endblock body %}