{% extends "layout.html" %}
{% set cur = "issues" %}
{% block body %}

<div class="border">
	<div class="content">
        {% if need_login %}
    
        <div class="container">
              
          <h4>Curator Login </h4>
        
          <div id="container">
            <h5>
              Sign in using an authorized curator account
            </h5>
            <div id="buttons">
              <a href="{{ url_for('login_google') }}" class="loginBtn loginBtn--google w3-btn w3-round w3-text-shadow">
                Google
              </a>
              <a href="{{ url_for('login_orcid') }}" class="loginBtn loginBtn--orcid w3-btn w3-round w3-text-shadow">
                <span style="color:gray; font-weight:bolder">ORC</span>iD
              </a>
            </div>
          </div>
        
              
        {% else %}
          {% if type == 'newIssue' %}
            <a onclick="waitCursor()" href="{{url_for('issues')}}">Back to list</a>
            <h3>New Issue</h3>
            <form method="post" enctype="multipart/form-data" action="{{url_for('issues')}}">
              <input type='text' id="new_title" name="new_title" size="130" placeholder="Title"></input><br><br>
              <textarea id="new_comment" name="new_comment" cols="130" rows="10" placeholder="Comments"></textarea>
              <br>
              <button type="submit" name="submit" value="submit_issue" onclick="waitCursor()">Submit new issue</button>
            </form>

          {% elif not issue %}
            <a href="{{url_for('logout', type='curator')}}" style="float:right">Log out</a>

            <h1 class="title">Issues</h1>
            <div style="padding:10px;">
              <a class="btn btn-primary" href="{{url_for('issues',fnc='newIssue')}}">New Issue</a>
             </div>
            <div id='dif-browser-table'>
              <table class='sortable' >
                <thead class="w3-striped w3-bordered w3-hoverable">
                  <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Created Date</th>
                    <th>Comments</th>
                    <th>State</th>
                  </tr>
                </thead>
                {% for issue in issues %}

                <tr {% if issue.state == 'open' %} style="font-weight: bold" {% endif %}>
                  <td>{{issue.number}}</td>
                  <td><a onclick="waitCursor()" href="{{url_for('issues',issue_num=issue.number)}}">{{issue.title}}</a></td>
                  <td>{{issue.created_at}}</td>
                  <td>{{issue.comments}}</td>
                  <td>{{issue.state}}</td>
                </tr>
                {% endfor %}
              </table>
            </div>

          
          
          {% else %}
            <a onclick="waitCursor()" href="{{url_for('issues')}}">Back to list</a>
            <h1><b>{{issue.title}}</b> #{{issue.number}} ({{issue.state}})</h1><br>
            <b>created at: </b>{{issue.created_at}}<br>
            <b>updated at: </b>{{issue.updated_at}}<br>
            <b>originator: </b>{% if sender %} {{sender}} {% else %} {{issue.user.login}} {% endif %}<br>
            <b>html_url: </b>{{issue.html_url}}<br>
            <textarea readonly cols="130" rows="5">{{issue.body}}</textarea><br><br>
            <h3>Comments</h3>
            {% for comment in comments %}
              <b>created at: </b>{{comment.created_at}}<br>
              <b>commenter: </b>{{commenters[comment.id]}}<br>
              <textarea readonly cols="130" rows="5">{{comment.body}}</textarea><br>
              <hr>
            {% endfor %}
            {% if issue.state == 'open' %}
              <h3>Add Comment</h3>
              <form method="post" enctype="multipart/form-data">
                <textarea id="new_comment" name="new_comment" cols="130" rows="5"></textarea>
                <br>
                <button type="submit" name="submit" value="close_issue" onclick="waitCursor()">Close Issue</button>
                <button type="submit" name="submit" value="comment" onclick="waitCursor()">Comment</button>
              </form>
            {% elif issue.state == 'closed' %}
              <form method="post" enctype="multipart/form-data">
                <button type="submit" name="submit" value="reopen_issue" onclick="waitCursor()">Reopen Issue</button>
              </form>  
            {% endif %}
          {% endif %}
        {% endif %}

		



    </div>
</div>
{% endblock body %}