{% extends "layout.html" %}
{% set cur = "landing_page" %}
{% block body %}

<script type="text/javascript">

  $(document).ready(function() {
    $('.download').click(function() {
      window.open($(this).attr('data-url'), '_blank');
    });

    // add schema.org json_ld for google searches
    var el = document.createElement('script');
    el.type = 'application/ld+json';
    el.text = $("#div_jsonld").text();
    document.querySelector('head').appendChild(el);
  });
</script>

<div id="div_extents" hidden>{{json_dumps(data['spatial_extents'])}}</div>
<div id="div_jsonld" hidden >{{json_dumps(data['json_ld'])}}</div>

<div id="metadata">
  <div class="header">
    Dataset Information
    <div style="float:right"><button class="download" data-url="/edit/dataset/{{data.id}}">Edit</button></div>
  </div>
  <table class="borderless-table">
    <tr>
      <td width="75%">


        {% if data.replaced_by %}
          <div class="lprow-no-margin ">
            <div class="value-inline title" style="color:red">
              A newer version exists for this dataset.  Click <a href="{{url_for('landing_page',dataset_id=data.replaced_by)}}">here</a> to go to its landing page.</h3>
            </div>
          </div>
        {% endif %}


        <div class="lprow-no-margin ">
          <div class="value-inline title">
            <b>{{data.title}}</b>
          </div>
        </div>

        {% if data['doi'] %}
          <div class="lprow-no-margin">
            <div class="field">
              Data DOI:
            </div>
            <div class="value-inline">
              {{data.doi}}
            </div>
          </div>
        {% endif %}

        {% if data['citation'] %}
          <div class="lprow">
            <div class="field">
              Cite as
            </div>
            <div class="value">
              {{data.citation}}
            </div>
          </div>
        {% endif %}

        {% if len(data['dif_records']) > 0 %}
        <div class="lprow">
          <div class="field">
            AMD - DIF Record(s)
          </div>
          <div class="value">
            {% for record in data['dif_records'] %}
            <a target=_new href="https://gcmd.nasa.gov/search/Metadata.do?entry={{record['dif_id']}}">{{record['dif_id']}}</a><br/>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% if data.get('abstract') %}
        <div class="lprow">
          <div class="field">
            Abstract
          </div>
          <div class="value">
            {{data['abstract']}}
          </div>
        </div>
        {% endif %}

        {% if data.get('creator') %}
        <div class="lprow">
          <div class="field">
            Creator(s):
          </div>
          <div class="value-inline">
            {{data['creator']}}
            {% if data['creator_orcid'] %}
            &nbsp&nbsp (<a href="orcid.org/{{data['creator_orcid']}}">ORCID</a>)
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if data.get('date_created') %}
        <div class="lprow">
          <div class="field">
            Date Created:
          </div>
          <div class="value-inline">
            {{data.date_created}}
          </div>
        </div>
        {% endif %}

        <div class="lprow">
          <div class="field">
            Repository:
          </div>
          <div class="value-inline">
            USAP-DC (current)
            {% if data.superset != 'usap-dc' %}
            - {{data.superset|upper}} (original)
            {% endif %}
          </div>
        </div>

        {% if data.get('spatial_extents') %}
        <div class="lprow">
          <div class="field">
           Spatial Extent(s)
         </div>
         <div class="value">
           {% for ex in data.spatial_extents %}
            West: {{ex.west}}, East: {{ex.east}}, South: {{ex.south}}, North: {{ex.north}}<br/>
           {% endfor %}
         </div>
        </div>
        {% endif %}

        {% if data.get('temporal_extents') %}
        <div class="lprow">
          <div class="field">
          	Temporal Extent(s)
          </div>
          <div class="value">
          	{% for ex in data.temporal_extents %}
              Start: {{ex.start_date}} - End: {{ex.stop_date}}<br/>
            {% endfor %}
         </div>
        </div>
        {% endif %}

        {% set awards = filter_awards(data['awards']) %}

        {% if len(awards) > 0 %}
        <div class="lprow">
          <div class="field">
          	Award(s)
          </div>
          <div class="value">
          	{% for aw in awards %}
           <a target=_new href="https://www.nsf.gov/awardsearch/showAward?AWD_ID={{aw['award']}}">NSF {{aw['award']}}</a><br/>
           {% endfor %}
         </div>
        </div>
        {% endif %}

        {% if data.get('version') %}
        <div class="lprow">
          <div class="field">
            Version:
          </div>
          <div class="value-inline">
            {{data['version']}}
          </div>
        </div>
        {% endif %}


        {% if len(data['rel_projects']) > 0 %}
        <div class="lprow">
          <div class="field">
            Related Project(s)
          </div>
          <div class="value">
            {% for p in data['rel_projects'] %}
            <a target=_new href="{{url_for('project_landing_page', project_id=p.proj_uid)}}">{{p.title}}</a><br/>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% if len(data['references']) > 0 %}
        <div class="lprow">
          <div class="field">
          	References
          </div>
          <div class="value">
          	<ol>
             {% for r in data.references %}
             <li>
               {{r.ref_text}} 
               {% if r.doi %}
                (<a target="=_blank" href="https://doi.org/{{r.doi}}">{% if r.doi[0:3]|upper != "DOI" %}doi:{% endif %}{{r.doi}}</a>) {% endif %}
             </li>
             {% endfor %}
           </ol>
         </div>
        </div>
        {% endif %}
      </td>

      {% if data.get('spatial_extents') %}
      <td valign="top">
        <div id="map"></div>
      </td>
      {% endif %}

    </tr>
  </table>

  {% if data.get('url_extra') %}
  <div id="supplement">
    <div class="header small">
      Supplemental Docs
    </div>
    <div class="lprow2">
      <div class="col1">
        <div class="download" data-url="/readme/{{data.id}}">
          View
        </div>      
      </div>
      <div class="col2_short">
        <div class="download" data-url="/readme-download/{{data.id}}">
          Download
        </div>  
      </div>
      <div class="col3">
        {{data['url_extra']}}
      </div>
    </div>
  </div>
  {% endif %}

  <div id="files">
    <div class="header small">
      Data Files
    </div>
    <div id="file-rows">

      {% for f in data.files %}
      <div class="lprow2">
       <div class="col1">
        <div class="download" data-url="{{f['url']}}">
         {% if f['url'].startswith('http://www.usap-dc.org/') %}
         Download
         {% else %}
         External
         {% endif %}
       </div>
     </div>
     <div class="col2">
      {{f['size']}}
    </div>
    <div class="col3">
     {{f['name']}}
   </div>
  </div>
  {% endfor %}
  </div>

</div>

{% if data.downloads >= 0 %}
<div class="field">
  This dataset has been downloaded {{data.downloads}} time{%if data.downloads != 1 %}s{% endif %} since March 2017 (based on unique date-IP combinations)
</div>
{% endif %}


{% endblock body %}