{% extends "layout.html" %}
{% set cur = "links" %}
{% block body %}

<div class="content">
		<!-- InstanceBeginEditable name="contentArea" -->
<!--
	<h3>Table of Contents<a name="top"></a></h3>
			<ul id="toc">
				<a href="#nsf">NSF</a> | <a href="#usap">U.S. Antarctic Program</a> | <a href="#intl">International Organizations</a> | <a href="#data">Data Resources</a> | <a href="#other">Other Resources</a> | <a href="#listserv">List Server</a> | <a href="#news">News</a>
			</ul>
-->
			<h3>1. NSF<a name="nsf"></a></h3>
			<ul>
				<li><a class="external" href="http://www.nsf.gov/div/index.jsp?div=PLR">Division of Polar Programs</a></li>
				<li><a class="external" href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=13420&amp;org=PLR">Antarctic Astrophysics and Geospace Sciences</a></li>
				<li><a class="external" href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=8173&amp;org=PLR">Antarctic Earth Sciences</a></li>
				<li><a class="external" href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=12798&amp;org=PLR">Antarctic Glaciology</a></li>
				<li><a class="external" href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=503240&amp;org=PLR">Antarctic Integrated System Science</a></li>
				<li><a class="external" href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=13422&amp;org=PLR">Antarctic Ocean and Atmospheric Sciences</a></li>
				<li><a class="external" href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=13421&amp;org=PLR">Antarctic Organisms and Ecosystems</a></li>
			</ul>
			<a class="top" href="#top">top</a>
						
			<h3>2. U.S. Antarctic Program<a name="usap"></a></h3>
			<ul>
				<li><a class="external" href="http://www.usap.gov/">U.S. Antarctic Program (USAP) Portal</a></li>
				<li><a class="external" href="https://www.leidos.com/antarctic-support-contract">Leidos - Antarctic Support Contract</a></li>
				<li><a class="external" href="http://nas-sites.org/us-ipy/">U.S. International Polar Year (IPY) Portal</a></li>
			</ul>
			<a class="top" href="#top">top</a>
						
			<h3>3. Int'l Organizations<a name="intl"></a></h3>
			<ul>
				<li><a class="external" href="http://www.scar.org/scadm">Standing Committee on Antarctic Data Management</a></li>
				<li><a class="external" href="http://www.antarctica.ac.uk/about_antarctica/geopolitical/treaty/">Antarctic Treaty</a></li>
				<li><a class="external" href="http://www.scar.org/">Scientific Committee on Antarctic Research</a></li>
			</ul>
			<a class="top" href="#top">top</a>
			
			<h3>4. Data Resources<a name="data"></a></h3>
			<h4>U.S. Based</h4>
			<ul>
				<li><a class="external" href="http://nsidc.org/data/velmap/">Antarctic Ice Velocity Data</a>, <acronym title="National Snow and Ice Data Center">NSIDC</acronym> – Compilation of recent ice velocity data of the Antarctic ice sheet.</li>
				<li><a class="extrenal" href="https://nsidc.org/data/agdc">Antarctic Glaciological Data Center</a> (AGDC) – access to Glaciological data collected by the U.S. Antarctic Program including MOA images.</li>
				<li><a class="external" href="http://amrc.ssec.wisc.edu/">Antarctic Meteorology Research Center &amp; Antarctic Weather Stations Project</a>, University of Wisconsin – Antarctic meteorological data for USAP, Iceberg imagery, Real-time meterological data.</li>
				<li><a class="external" href="http://www.arf.fsu.edu/">Antarctic Research Facility</a>, Florida State University – Repository for core and dredge samples from polar regions.</li>
				<li><a class="external" href="http://www.bco-dmo.org/">Biological and Chemical Oceanography Data Management Office</a> (BCO-DMO) – Repository for biological, chemical, physical oceanographic, and marine ecosystem data.</li>
				<li><a class="external" href="http://www.earthchem.org/">EarthChem</a> – Data management for Solid Earth Geochemistry.</li>
				<li><a class="external" href="http://geonames.usgs.gov/antarctic/">Geographical Names Information System</a>, <acronym title="United States Geological Survey">USGS</acronym> – Search for names of geographic features in Antarctica. </li>
				<li><a class="external" href="http://hess.ess.washington.edu/iced/map/">ICE-D Antarctica</a> - informal cosmogenic-nuclide exposure-age database. </li>
				<li><a class="external" href="http://www.iris.edu/data/data.htm">Incorporated Research Institutions for Seismology</a> (<acronym title="Incorporated Research Institutions for Seismology">IRIS</acronym>) – Archive for seismographic data including from the Global Seismographic Network and PASSCAL programs.</li>
				<li><a class="external" href="http://www.marine-geo.org/portals/antarctic/">Marine Geoscience Data System</a> (<acronym title="Marine Geoscience Data System">MGDS</acronym>), part of IEDA - Repository for geophysical data including the Global Multi-Resolution Topography (GMRT) synthesis.</li>
				<li><a class="external" href="http://www.esrl.noaa.gov/gmd/">NOAA Global Monitoring Division</a>, South Pole Observatory.</li>
				<li><a class="external" href="http://www.mcmlter.org/">Long Term Ecological Research Network</a> (<acronym title="Long Term Ecological Research Network">LTERnet</acronym>), McMurdo Dry Valleys.</li>
				<li><a class="external" href="https://www.pgc.umn.edu/">Polar Geospatial Center</a> (<acronym title="Polar Geospatial Center">PGS</acronym>) - geospatial support, mapping, and GIS/remote sensing solutions.</li>
				<li><a class="external" href="https://www.pgc.umn.edu/data/rema/">Reference Elevation Model of Antarctica</a> (<acronym title="Reference Elevation Model of Antarctica">REMA</acronym>) - high resolution, time-stamped Digital Surface Model (DSM) of Antarctica. </li>
				<li><a class="external" href="http://www.rvdata.us/">Rolling Deck to Repository</a> - (<acronym title="Rolling Deck to Repository">R2R</acronym>), Master catalog of U.S. research cruises including USAP vessels. </li>
				<li><a class="external" href="http://usarc.usgs.gov/">USGS U.S. Antarctic Resource Center</a> (<acronym title="USGS U.S. Antarctic Resource Center">USARC</acronym>) – Collection of Antarctic maps, charts, satellite images, and photographs, provided by <acronym title="United States Geological Survey">USGS</acronym>.</li>
				<li><a class="external" href="http://facility.unavco.org/project_support/polar/polar.html">University NAVSTAR Consortium</a> (<acronym title="University NAVSTAR Consortium">UNAVCO</acronym>) Polar Programs – GPS technology support to USAP and geodetic data archive.</li>
				<li><a class="external" href="http://globec.whoi.edu/jg/dir/globec/soglobec">U.S. GLOBEC Data System</a> – Biological, physical and chemical data collected during <acronym title="Global Ocean Ecosystem Dynamics">GLOBEC</acronym> programs.</li>
				 <li><a class="external" href="http://photolibrary.usap.gov/">Antarctic Photo Library</a>, <acronym title="United States Antarctic Program">USAP</acronym></li>
			</ul>
			
			<h4>International</h4>
			<ul>
				<li><a class="external" href="https://www.bas.ac.uk/data/">British Antarctic Survey</a> – Polar Data Centre</li>
				<li><a class="external" href="http://apps3.awi.de/eBathy/">Alfred-Wegener-Institut (AWI) Bathymetry &amp; Geodesy Group</a></li>
				<li><a class="external" href="http://data.aad.gov.au/">Australian Antarctic Division</a> – Data management and spatial data services to Australia's Antarctic program.</li>
				<li><a class="external" href="http://sdls.ogs.trieste.it/">Antarctic Seismic Data Library System for Cooperative Research</a> (<acronym title="Antarctic Seismic Data Library System for Cooperative Research">SDLS</acronym>) – International collaborative effort to archive seismic reflection data from around Antarctica.</li>
			</ul>
			<a class="top" href="#top">top</a>
			
			<h3>5. Other Resources<a name="other"></a></h3>
			<ul>
				<li><a class="external" href="http://www.andrill.org/">Antarctic Geological Drilling</a> (<acronym title="Antarctic Geological Drilling">ANDRILL</acronym>) – Multinational collaboration to Recover Stratigraphic Records from the Antarctic Margin.</li>
				<li><a class="external" href="http://bprc.osu.edu/">Byrd Polar Research Center</a>, The Ohio State University. </li>
				<li><a class="external" href="http://bprc.osu.edu/geo/">Antarctic Geology and Geophysics Working Group</a></li>
				<li><a class="external" href="https://www.cresis.ku.edu/index.php">Center for Remote Sensing of Ice Sheets</a>, University of Kansas.</li>
				<li><a class="external" href="http://www.erdc.usace.army.mil/Locations/CRREL/">Cold Regions Research and Engineering Laboratory</a> (<acronym title="Cold Regions Research and Engineering Laboratory">USACE</acronym>), including CRREL Library.</li>
				<li><a class="external" href="http://www.mcmlter.org/">McMurdo Dry Valleys Long-Term Ecologic Research</a></li>
				<li><a class="external" href="https://swfsc.noaa.gov/AERD-Data/">NOAA Fisheries Service</a> – Antarctic Ecosystem Research Division.</li>
				<li><a class="external" href="http://pal.lternet.edu/">Palmer Station Long-Term Ecological Research</a></li>
				<li><a class="external" href="http://www.ccpo.odu.edu/Research/globec_menu.html">Southern Ocean Global Ocean Ecosystems Dynamics</a></li>
				<li><a class="external" href="https://www.ig.utexas.edu/polar-and-planetary/">Institute for Geophysics</a>, University of Texas – Antarctic Projects.</li>
				<li><a class="external" href="http://nsidc.org/data/waiscores/data.html">WAISCORES: Deep Ice Coring in West Antarctica</a> – Access to
			     WAISCORES data and metadata.</li>
			</ul>
			<a class="top" href="#top">top</a>
						
			<h3>6. List Server<a name="listserv"></a></h3>
			<p style="text-align:left">The U.S. SCAR Office maintains the ANtarctic Science WEb Resource (<acronym title="ANtarctic Science WEb Resource">ANSWER</acronym>), a list server
			intended to disseminate information about Antarctica, communicate
			opportunities, solicit input on important issues, and to
			promote Antarctic polar science. To subscribe, send 
			email to: <a href="mailto:answer-subscribe@usscar.org">answer-subscribe@usscar.org</a>.  A digest of past news is available <a href="http://usscar.org/category/news">online</a>.</p>
			
			<a class="top" href="#top">top</a>
			
			<h3>7. News<a name="news"></a></h3>
			<ul>
				<li><a class="external" href="http://antarcticsun.usap.gov/">The Antarctic Sun</a> – Online newsletter published during the austral summer at
			     McMurdo Station, Antarctica.</li>
				<li><a class="external" href="http://www.antarctic-circle.org/">The Antarctic Circle</a> – Forum and resource on historical, literary,
			     bibliographical, artistic and cultural aspects of Antarctica<br> and the South
			     Polar regions.</li>
				<li><a class="external" href="http://astro.uchicago.edu/cara/vtour/">Virtual Tour of Antarctica</a> from <acronym title="Center for Astrophysical Research in Antarctica">CARA</acronym>, University of Chicago.</li>
			</ul>
			<a class="top" href="#top">top</a>
		<!-- InstanceEndEditable -->
		</div>
{% endblock body %}