{% extends "layout.html" %}
{% set cur = "login" %}
{% block body %}

<style>
 #container {
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
     width: 320px;
     position: relative;
     height: 120px;
     text-align: center;
 }
 
 #buttons {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
</style>

<div class="border">

  {% if session.next == "/submit/dataset" %}
  <div class="content">
    <h3>Deposit Your Dataset</h3>
    <p>USAP-DC accepts data submissions for any Antarctic datasets and provides repository services, including data publication in the <a href="http://www.doi.org/">DOI&reg; system</a> and long-term archiving.</p>
  </div>
  
  {% elif session.next == "/submit/project" %}
  <div class="content">
    <h3>Register Your Project</h3>
    <p style="text-align:left">
      Register your project in the Antarctic Master Directory (AMD). Sign in below with your ORCID or Google account and fill out a brief Web form.  We will create the AMD record required for your NSF final report.
    </p>
  </div>
  {% endif %}


  <div id="container">
    <h3>
      Sign in with
    </h3>
    <div id="buttons">
      <a href="{{ url_for('login_google') }}" class="loginBtn loginBtn--google w3-btn w3-round w3-text-shadow">
        Google
      </a>
      <a href="{{ url_for('login_orcid') }}" class="loginBtn loginBtn--orcid w3-btn w3-round w3-text-shadow">
        <span style="color:gray; font-weight:bolder">ORC</span>iD
      </a>
    </div>
  </div>
  {% if session.next == "/submit/dataset" %}
  <div class="content">
    <p><strong>Note:</strong> <a href="{{url_for('contact')}}" title="contact us">Contact us</a> if other disciplinary repositories may be more appropriate for your datatype, e.g. those in <a href="{{url_for('repo_list')}}"> this list</a>.
    </p>
  </div>
  {% endif %}
</div>


{% endblock body %}