{% extends "layout.html" %}
{% set cur = "login" %}
{% block body %}


<style>
 #container {
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
     width: 220px;
     position: relative;
     height: 150px;
     text-align: center;
 }
 
 #buttons {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
</style>

{% if session.next == "/submit/dataset" %}
<div class="content">
  <h3>Deposit Your Dataset</h3>
  <p>Choose one of the following options:<ol>
    <li>All glaciology and cryospheric datasets should be submitted directly to USAP-DC. Sign in below with your ORCID or Google account.</li>
    <li>Other data types should be submitted to one of our partner repositories from <a href="/repo_list"><u>this list</u></a> if possible.</li>
    <li>If no known repository exists for your data type, you may submit to USAP-DC. Sign in below with your ORCID or Google account.</li>
  </ol></p>
</div>
{% elif session.next == "/submit/project" %}
<div class="content">
  <h3>Register Your Project</h3>
  <p style="text-align:left">
    Register your project in the Antarctic Master Directory (AMD). Sign in below with your ORCID or Google account and fill out a brief Web form.  We will create the AMD record required for your NSF final report.
  </p>
</div>
{% endif %}


<div id="container">
  <h3>
    Sign in with
  </h3>
  <div id="buttons">
    <a href="{{ url_for('login_google') }}" class="loginBtn loginBtn--google w3-btn w3-round w3-text-shadow">
      Google
    </a>
    <a href="{{ url_for('login_orcid') }}" class="loginBtn loginBtn--orcid w3-btn w3-round w3-text-shadow">
      <span style="color:gray; font-weight:bolder">ORC</span>iD
    </a>
  </div>
</div>
{% endblock body %}