{% extends "layout.html" %}
{% set cur = "login" %}
{% block body %}

<style>
 #container {
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
     width: 299px;
     position: relative;
     height: 150px;
     text-align: center;
 }
 
</style>

<div class="border">

  {% if session.next == "/submit/dataset" %}
  <div class="content">
    <h3>Deposit Your Dataset</h3>
    <p>
      USAP-DC accepts data submissions for any <a target="_blank" href="https://www.nsf.gov/pubs/2022/nsf22106/nsf22106.jsp">NSF</a> funded Antarctic datasets and provides repository services, including data publication 
      in the <a href="https://www.doi.org/">DOI&reg; system</a> and long-term archiving 
      [<a target="_blank" href="{{url_for('submit_dataset_help')}}">more info</a>].
    </p>
  </div>
  
  {% elif session.next == "/submit/project" %}
  <div class="content">
    <h3>Register Your Project</h3>
    <p style="text-align:left">
        Register your project with USAP-DC! Submit additional project information for NSF awards,
        individual or collaborative. Sign in below with your ORCID and fill out a brief web form.
        You may save and revisit the form at any point of the process. Once completed,
        USAP-DC will create a project landing page within the Project Catalog and submit the project
        for an Antarctic Metadata Directory (AMD) record as is required for your NSF Final Report.
        For more help, visit [<a target="_blank" href="{{url_for('submit_project_help')}}">more info</a>].
    </p>
  </div>
  {% endif %}


  <div id="container">
    <h3>
      Sign in with
    </h3>
    <div id="buttons">
      <a id="login-orcid" href="{{ url_for('login_orcid') }}" class="loginBtn loginBtn--orcid w3-btn w3-round w3-text-shadow" style="height:60px; width: 260px; font-size:25px">
        <span style="color:gray; font-weight:bolder">ORC</span>iD
      </a>
      <p id="dislike-orcid" style="cursor:pointer;" onclick="document.getElementById('login-google').style.visibility = 'visible'; thisbtn = document.getElementById('dislike-orcid'); thisbtn.style.visibility = 'hidden'; thisbtn.style.display = 'none';">Click here to sign in with Google instead.</p>
      <a id="login-google" href="{{ url_for('login_google') }}" class="loginBtn loginBtn--google w3-btn w3-round w3-text-shadow" style="visibility:hidden; width:130px; height:30px; font-size:13px">
        Google
      </a>
    </div>
  </div>
  {% if session.next == "/submit/dataset" %}
  <div class="content">
    <p><strong>Note:</strong> <a href="{{url_for('contact')}}" title="contact us">Contact us</a> if other disciplinary repositories may be more appropriate for your datatype, e.g. those in <a href="{{url_for('repo_list')}}"> this list</a>.
    </p>
  </div>
  {% endif %}
</div>


{% endblock body %}
