{% extends "layout.html" %}
{% set cur = "overview" %}
{% block body %}


<div class="container">
       
	<h3>Overview</h3>
	<p>The United States is a signatory to the Antarctic Treaty, which calls upon nations to make scientific observations and results from Antarctica freely available. The U.S. Antarctic Program Data Center (USAP-DC) is funded by the NSF Office of Polar Programs to help in the management of data collected by U.S.-funded researchers and to make these data available in the spirit of the Treaty.</p>
	<p>USAP-DC offers Web interfaces for both <a href="{{url_for('search')}}">Finding</a> and <a href="{{url_for('submit')}}">Contributing</a> datasets from U.S.-funded research programs in Antarctica and the Southern Ocean.  We assist U.S. investigators is meeting their obligations under OPP <a class="external" href="https://www.nsf.gov/publications/pub_summ.jsp?ods_key=nsf16055">Data Requirements</a>, which includes both 1) submission of your dataset to a recognized long-term archive and 2) registration of your project with USAP-DC and the Antarctic Master Directory (AMD). The AMD is a node of the International Directory Network (IDN/GCMD) that provides a Web-based directory of datasets and download links submitted by Antarctic researchers from over 40 countries.</p>
	<p>USAP-DC serves as a National Antarctic Data Centre (NADC) in the framework of  the Scientific Committee on Antarctic Research (SCAR), and represents the U.S. at annual meetings of the SCAR Standing Committee on Antarctic Data Management.</p>
	<p>An overview of USAP-DC services is also available as a <a href="https://youtu.be/I9rwM0PeQlE">webinar recording on YouTube </a>.</p>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/I9rwM0PeQlE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
{% endblock body %}