{% extends "layout.html" %}
{% set cur = "project" %}
{% block body %}

<div class="content">

  <div class="container-fluid">
    <div class="row">

      {% include 'sidebar.html' %}
      
      <div id="main-content" class="col-xs-9">
        <!-- InstanceBeginEditable name="contentArea" -->
        <h2 class="title">Register Your Project</h2>


        <form method="post" action="/submit/project" method="POST" enctype="multipart/form-data" name="entry" id="entry" onLoad=reset()>
          <br>
          <select name="award" id="award">
            <option value="">(Select Award #)</option>
            {% for grant in nsf_grants %}
            {% set s = grant['award'] + " " + grant['name'] %}
            <option value="{{grant['award']}}">{{s}}</option>
            {% endfor %}
          </select>

          <i>(from NSF FastLane database)</i>
          <br>
          Title:<br>
          <textarea name="title" id="title" rows="1" cols="80"></textarea>
          <br>
          PI Name:<br>
          <input type="text" name="name" id="name" size="40">
          <br>
          Institution:<br>
          <textarea name="org" id="org" rows="1" cols="80"></textarea>
          <br>
          Email:<br>
          <input type="text" name="email" id="email" size="40">
          <br>
          Co-PI(s):  <i>(at your institution only)</i><br>
          <input type="text" name="copi" id="copi" size="40">
          <br>
          Start Date:<br>
          <input type="text" name="start" id="start" size="10">
          <br>
          End Date:<br>
          <input type="text" name="end" id="end" size="10">
          &nbsp; &nbsp; &nbsp; <input type="checkbox" name="iscr" id="iscr"> Collaborative Research
          &nbsp; &nbsp; &nbsp; <input type="checkbox" name="isipy" id="isipy"> IPY Project
          <br>
          Abstract:<br>
          <textarea name="sum" id="sum" rows="10" cols="80"></textarea>

          <br><br>
          Location(s): &nbsp;<i>(terms from the <a class="external" href="http://gcmd.gsfc.nasa.gov/Resources/valids/archives/keyword_list.html">GCMD</a> Keyword list)</i><br>
          <div id="locations">
            <select name="location1" id="location1">
              <option value="">(Select Term 1)</option>
              {% for k in locations %}
              {% set s = ' > '.join(k['terms']) %}
              <option value="{{s}}">{{s}}</option>
              {% endfor %}
            </select>
          </div>
          <button type="button" id="add-location">Add Term</button>

        </td></tr></tbody></table>

        <br>
        Data Type(s): &nbsp;<i>(terms from the <a class="external" href="http://gcmd.gsfc.nasa.gov/Resources/valids/archives/keyword_list.html">GCMD</a> Keyword list)</i><br>
        <div id="parameters">
          <select name="parameter1" id="parameter1" style="width:40em">
            <option value="">(Select Term 1)</option>
            {% for k in parameters %}

            {% set s = ' > '.join(k['terms']) %}
            <option value="{{s}}">{{s}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="button" id="add-parameter">Add Term</button>
        <br><br>
        Repository:<br>
        <div id="repositories">
          <div id="repo1">
            <input type="radio" name="repo1" value="USAP-DC"> I submitted my data to USAP-DC (this Web site).<br>
            <input type="radio" name="repo1" value="other"> I submitted my data to a <a href=/repo_list>different repository</a>:<br>
            &nbsp; &nbsp; &nbsp; <input type="text" name="repo_other_name1" size="40"> Name<br>
            &nbsp; &nbsp; &nbsp; <input type="text" name="repo_other_id1" size="40"> Dataset ID#<br>
          </div>
        </div>

        <input type="radio" name="nodata"> This is an interim report - my data aren't ready yet.
        <br><br>
        <button value="Submit" name="entry">Submit</button>
      </form>


    </div>
  </div>
</div></div>
  {% endblock body %}