{% extends "layout.html" %}
{% set cur = "project" %}
{% block body %}

<div id="persons" hidden>{{persons|tojson}}</div>
<div id="orgs" hidden>{{orgs|tojson}}</div>
<div id="main_award" hidden>{% if project_metadata['award']|length > 0 %}{{project_metadata['award']}}{% endif %}</div>
<div id="awards_list" hidden>{% if project_metadata['other_awards']|length > 0 %}{{project_metadata['other_awards']|tojson}}{% endif %}</div>
<div id="copis_list" hidden>{% if project_metadata['copis']|length > 0 %}{{project_metadata['copis']|tojson}}{% endif %}</div>
<div id="websites_list" hidden>{% if project_metadata['websites']|length > 0 %}{{project_metadata['websites']|tojson}}{% endif %}</div>
<div id="deployments_list" hidden>{% if project_metadata['deployments']|length > 0 %}{{project_metadata['deployments']|tojson}}{% endif %}</div>
<div id="locations_list" hidden>{% if project_metadata['locations']|length > 0 %}{{project_metadata['locations']|tojson}}{% endif %}</div>
<div id="parameters_list" hidden>{% if project_metadata['parameters']|length > 0 %}{{project_metadata['parameters']|tojson}}{% endif %}</div>
<div id="publications_list" hidden>{% if project_metadata['publications']|length > 0 %}{{project_metadata['publications']|tojson}}{% endif %}</div>
<div id="datasets_list" hidden>{% if project_metadata['datasets']|length > 0 %}{{project_metadata['datasets']|tojson}}{% endif %}</div>

<div class="content fixed-width">

  <div class="container-fluid">
    <div class="row">

      {% include 'sidebar.html' %}
      
      <div id="main-content" class="col-xs-9">
        {% if success|length > 0 %}
        <div class="alert alert-success" style="width:800;">
          <h4>{{success}}</h4>
        </div>
        {% endif %}
        {% if error|length > 0 %}
        <div class="alert alert-danger" style="width:800;">
          <h4>{{error}}</h4>
        </div>
        {% endif %}

        <form method="post" action="/submit/project" method="POST" enctype="multipart/form-data" name="entry" id="entry" onLoad=reset()>
          <input class="form-control" type="hidden" name="edit" value="{{edit}}"/>
          <input class="form-control" type="hidden" name="project_id" value="{{project_metadata.project_id}}"/>

          <h2 style="float:left;" class="title">{% if edit %}Edit{% else %}Register{% endif %} Your Project</h2>

          <div style="float:right; margin-top: 1.44em;">
            <button class="btn btn-default" type="submit" name="action" value="save">Save current session</button>
            <button class="btn btn-default" type="submit" name="action" value="restore">Restore saved session</button>
            <a target="_blank"  href="{{url_for('submit_project_help')}}" class="btn btn-primary">Help</a>
          </div>

          <!-- <a target="_blank" style="float:right; margin-top: 20px;" href="{{url_for('submit_help')}}" class="btn btn-primary">Help</a> -->
          <div style="clear:both"></div>
          <span class="required" style="font-family: Georiga,'Times New Roman',Times,serif; color: #002783; float: right"> indicates a required field</span>


          <div class="form-group">
            <b>Main Award (from NSF FastLane database)</b>
            <div class="awardTemplate">
              <div id='extraAwardLine' style="height:5px;font-size:5px;display:none;">&nbsp;</div>
              <div class="dropdown" id="award-dropdown">
                <input type="hidden" id="award" name="award" class="award_input" value="{{project_metadata.get('award','None')}}"/>
                <button type="button" id="award_dropdown" data-toggle="dropdown" class="dropdown-toggle btn btn-default form-control removable">
                  {{project_metadata.get('award','None')}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a data-toggle="tooltip" data-placement="right">None</li></li>
                  <li><a data-toggle="tooltip" title="Select this option if you cannot find your NSF Award in this list" data-placement="right">Not In This List</li></li>
                  {% for grant in nsf_grants %}
                  {% set s = grant['award'] + " " + grant['name'] %}
                  <li><a data-toggle="tooltip" title="{{grant['title']}}" data-placement="right">{{s}}</a></li>
                  {% endfor %}
                </ul>
                <a href="#awardForm" id="removeAwardRow" class="remover"><i class="fa fa-remove"></i></a>
                <input class="input-sm form-control removable user_award_input" type="hidden" style="margin-bottom:10px" size=10 id="user_award" name="user_award" placeholder="Enter Award Number"/> 
                <div id="previous_award_div" style="display:none;">
                  <label for="previous_award" style="font-weight:normal" data-toggle="tooltip" data-placement="top" title="Check this if this award has been replaced by a more recent continuation award">Previous Award </label>
                  <input type="checkbox" name="previous_award" id="previous_award">
                </div>
                <div style="clear:both"></div>

              </div>
            </div>
            <div id="more_awards"></div>
            <a href="#awardsForm" id="addAwardRow"><i class="fa fa-plus">&nbsp;</i><span id="add_another_award">Add additional award linked to project</span></a>
          </div>
   
          <div class="form-group required">
            <b>Title:</b><br>
            <textarea class="form-control" name="title" id="title" rows="2" {% if edit %} readonly {% endif %}>{{project_metadata.get('title','')}}</textarea>
          </div>

          <div class="form-group">
            <b>Short Title:</b><br>
            <input class="form-control" type="text" name="short_title" id="short_title" value="{{project_metadata.get('short_title','')}}">
          </div>  
          <div class="form-group required" style="margin:10px 0 10px 0">
            <b>Main Contact:</b><br>
            <div class="input-group">
              <input class="input-sm form-control" type="text" size=8 id="pi_name_last" name="pi_name_last" value="{{full_name.last_name}}" placeholder="Last Name" /> 
              <span class="input-group-addon">,</span>
              <input class="input-sm form-control" type="text" size=8 id="pi_name_first" name="pi_name_first" value="{{full_name.first_name}}" placeholder="First Name" />
            </div>
          </div>


          <div class="input-group form-group">
            <b>Institution:</b><br>
              <input class="input-sm form-control" type="text" id="org" name="org" value="{{project_metadata.get('org','')}}"/> 
          </div>

   
          <div class="form-group required">
            <b>Email:</b><br>
            <input class="form-control" type="text" name="email" id="email" value="{{email}}" >
          </div>


          <div class="form-group" name="copiForm">
            <label for="author">Additional Personnel:</label> 
            <div class="authorTemplate">
              <div id='extraAuthorLine' style="height:5px;font-size:5px;display:none;">&nbsp;</div>
     
              <table>
                <tr>
                  <td width="10%"><i>Name&nbsp;</i></td>
                  <td>
                    <div class="input-group removable" style="margin-bottom:2px">
                      <input class="input-sm form-control" type="text" size=50 id="copi_name_last" name="copi_name_last" value="" placeholder="Last Name"/> 
                      <span  class="input-group-addon">,</span>
                      <input class="input-sm form-control" type="text" size=50 id="copi_name_first" name="copi_name_first" value="" placeholder="First Name"/>
                    </div>
                    <a href="#authorsForm" id="removeAuthorRow" class="remover"><i class="fa fa-remove"></i></a>
                  </td>
                </tr>
                <tr>
                  <td><i>Institution&nbsp;</i></td>
                  <td>
                    <div class="input-group removable">
                      <input class="input-sm form-control" type="text" size=70 id="copi_org" name="copi_org" value="" placeholder="Institution" style="margin-bottom:2px"/> 
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><i>Role&nbsp;</i></td>
                  <td>
                    <select class="input-sm form-control removable" name="copi_role" id="copi_role" style="margin-bottom:6px">
                      <option value="">(Select Role)</option>
                      {% for r in roles %}
                        <option value="{{r.id}}">{{r.id}}</option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
              </table>             
              <div style="clear:both"></div>
            </div>
            <div id="more_authors"></div>
            <a href="#authorsForm" id="addAuthorRow"><i class="fa fa-plus">&nbsp;</i><span id="add_another_author">Add another person</span></a>
          </div>

          <table>
            <tr>
              <th class="required">Start Date:</th>
              <th width="40px"></th>
              <th class="required">End Date:</th>
            </tr>
            <tr>
              <td><input  type="date" name="start" id="start" size="20" value="{{project_metadata.get('start','')}}"></td>
              <td></td>
              <td><input  type="date" name="end" id="end" size="20" value="{{project_metadata.get('end','')}}"></td>
            </tr>
          </table>

          <br>
          <b>Special Science Program:</b><br>
          <i>if not in list, please make a note in the comment box</i><br>
          <select name="program" id="program">
            <option value="">(Select Program)</option>
            {% for p in programs %}
              <option value="{{p}}" {% if project_metadata.program and p.id == project_metadata.program.id %}selected{% endif %}>{{p.id}}</option>
            {% endfor %}
          </select><br><br>

          <div class="form-group" name="websiteForm">
            <label for="website">Project Website:</label>
            <div class="websiteTemplate">
              <div id='extraWebsiteLine' style="height:10px;font-size:10px;display:none;">&nbsp;</div>
              <table>
                <tr>
                  <td width="10%"><i>Title&nbsp;</i></td>
                  <td><input class="removable" type="text" name="website_title" id="website_title" size="90" style="margin-bottom:2px">
                      <a href="#websiteForm" id="removeWebsiteRow" class="remover"><i class="fa fa-remove"></i></a></td>
                </tr>
                <tr>
                  <td><i>URL&nbsp;</i></td>
                  <td><input class="removable" type="text" name="website_url" id="website_url" size="90"></td>
                </tr>
              </table>
              <div style="clear:both"></div>
            </div>
            <div id="more_websites"></div>
            <a href="#websitesForm" id="addWebsiteRow"><i class="fa fa-plus">&nbsp;</i><span id="add_another_website">Add another website</span></a>
          </div>
        
          <div id="deployments" class="form-group" name="deploymentForm">
            <b>Deployment:</b><br>
            <i>add only if project has field work</i><br>
            <div class="deploymentTemplate">
              <div id='extraDeploymentLine' style="height:10px;font-size:10px;display:none;">&nbsp;</div>
              <table>
                <tr>
                  <td width="10%"><i>Name&nbsp;</i></td>
                  <td><input class="removable" type="text" name="deployment_name" id="deployment_name" size="90" style="margin-bottom:2px">
                      <a href="#deploymentForm" id="removeDeploymentRow" class="remover"><i class="fa fa-remove"></i></a></td>
                </tr>
                <tr>
                  <td><i>Type&nbsp;</i></td>
                  <td>          
                    <select name="deployment_type" id="deployment_type">
                      <option value="">(Select Type)</option>
                      {% for t in deployment_types %}
                        <option value="{{t.deployment_type}}">{{t.deployment_type}}</option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><i>URL&nbsp;</i></td>
                  <td><input class="removable" type="text" name="deployment_url" id="deployment_url" size="90"></td>
                </tr>
              </table>
              <div style="clear:both"></div>
            </div>
            <div id="more_deployments"></div>
            <a href="#deploymentsForm" id="addDeploymentRow"><i class="fa fa-plus">&nbsp;</i><span id="add_another_deployment">Add another deployment</span></a>
          </div>

          <div>
            <b>Upload Data Management Plan</b>
            <br>
            {% if project_metadata.dmp_file %}
              <i>Current uploaded DMP: </i><input type="text" name="current_dmp" value ="{{project_metadata.dmp_file}}" disabled>
              <br>
            {% endif %}
            <input type="file" name="dmp" style="font-size: 1em;">
          </div>
          <br>

          <b class="required">Abstract:</b> <br>
          <i>(Please modify the original NSF award abstract to better describe the project results, if applicable)</i><br>
          <textarea name="sum" id="sum" rows="10" cols="80" {% if edit %} readonly {% endif %}>{{project_metadata.sum}}</textarea>

          <br><br>

          <!-- Locations -->
          <div class="form-group required">
            <label for="location">Location</label>
            <div class="locationTemplate">
              <div id='extraLocationLine' style="height:5px;font-size:5px;display:none;">&nbsp;</div>
              <div class="dropdown" id="location-dropdown" style="width:240px;">
                <input type="hidden" id="location" name="location" class="location_input" value="{{project_metadata.get('locations',['None'])[0]}}"/>
                <button type="button" id="location_dropdown" style="text-align:left; width:225px;" data-toggle="dropdown" class="right-caret dropdown-toggle btn btn-default form-control removable">
                  {{project_metadata.get('locations',['None'])[0]}}
                  <span class="right-caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a data-toggle="tooltip" data-placement="right">None</a></li>
                  <li><a data-toggle="tooltip" title="Select this option if you cannot find your location in this list" data-placement="right">Not In This List</a></li>
                  {% for location in locations %}
                    {% set loc = location.keyword_label %}
                    <li><a {% if location.keyword_description %} data-toggle="tooltip" title="{{location.keyword_description}}" data-placement="right" {% endif %}>{{loc}}</a></li>
                  {% endfor %}
                </ul>
                <a href="#locationForm" id="removeLocationRow" class="remover"><i class="fa fa-remove"></i></a>
                <input class="input-sm form-control removable user_location_input" type="hidden" size=10 id="user_location" name="user_location" placeholder="Enter Location"/> 
                <div style="clear:both"></div>

              </div>
            </div>
            <div id="more_locations"></div>
            <a href="#locationsForm" id="addLocationRow"><i class="fa fa-plus">&nbsp;</i><span id="add_another_location">Add another locations</span></a>
          </div>

        <div class="form-group required">
          <b>GCMD Keyword(s):</b> &nbsp;<i>(terms from the <a class="external" href="https://earthdata.nasa.gov/earth-observation-data/find-data/idn/gcmd-keywords" target="_blank">GCMD</a> Keyword list)</i><br>
          <div id="parameters">
            <select name="parameter1" id="parameter1" style="width:40em;margin-bottom: 3px">
              <option value="">(Select Term 1)</option>
              {% for k in parameters %}
                <option value="{{k.id}}">{{k.id}}</option>
              {% endfor %}
            </select>
          </div>
          <button type="button" id="add-parameter">Add Term</button>
        </div>
        <br>

        <div>
          <b>Spatial Bounds of Data</b> <br/>Use decimal degrees. Longitudes must be in -180 to 180 range. Example:<br /> Ross Sea is between 160 and -150
          <table style="border:0">
            <tbody>
              <tr>
                <td align="center">
                  &nbsp;N: <input type="number" step="any" name="geo_n" class="coord-element" id="geo_n" min="-90" max="90" value="{{project_metadata.get('geo_n','')}}"> <br>
                  W: <input type="number" step="any" name="geo_w" class="coord-element" id="geo_w" min="-180" max="180" value="{{project_metadata.get('geo_w','')}}"> &nbsp; &nbsp; &nbsp;&nbsp; E: <input type="number" step="any" name="geo_e" class="coord-element" id="geo_e"  min="-180" max="180" value="{{project_metadata.get('geo_e','')}}"> <br>
                  S: <input type="number" step="any" name="geo_s" class="coord-element" id="geo_s" min="-90" max="90" value="{{project_metadata.get('geo_s','')}}">
                </td>
                <td>
                  <span style="margin: 20px">
                    <input type="checkbox" name="entire_region" class="coord-element"> Entire Antarctic Region</input><br/>
                  </span>
                  <span style="margin: 20px">
                   <input type="checkbox" name="cross_dateline" class="coord-element" id="cross_dateline" {% if project_metadata.get('cross_dateline') %}checked{% endif %}> Check if your bounds cross the International Date Line</input>
                  </span>
                   <br><button id="show_on_map_btn" type ="button" class="btn btn-default btn-sm map-btn">Show on Map</button>
                 </td>
               </tr>
             </tbody>
           </table>
           

          <div id="geometry">
            <div id="geometry_header" class="window-header">
              <span id="geometry_title"></span><span class='close_geom_btn close_btn'>X</span>
            </div>
            <div id="map">
              <button id="confirm_btn" type="button" class="btn btn-primary btn-sm confirm-btn close_geom_btn">Confirm Coordinates</button>
            </div>
          </div>
        </div>

        <br>
        <div class="form-group" name="publicationsForm">
          <label for="publication">Project Publications</label>
          <span><i>Include DOI where known</i></span>
          
          <button type="button" id="crossref_btn" style="margin-bottom:2px">Search Crossref for publications associated with linked awards</button>
          <div id="crossref">
            <div id="crossref_header" class="window-header">
              <span id="crossref_title"></span><span id='crossref_x_btn' class='close_btn'>X</span>
            </div>
            <div id="crossref_body"></div>
            <div id="crossref_footer">
              <button id="close_crossref_btn" type="button" class="btn btn-primary btn-sm confirm-btn close_crossref_btn"></button>
            </div>
          </div>

          <div class="publicationTemplate">
            <div id='extraPubLine' style="height:10px;font-size:10px;display:none;">&nbsp;</div>
            <textarea id="publication" name="publication" class="form-control removable" style="margin-bottom:2px"></textarea>
            <a href="#publicationsForm" id="removePubRow" class="remover"><i class="fa fa-remove"></i></a>
            <input class="input-sm form-control removable pub_doi" type="text" size=10 id="pub_doi" name="pub_doi" value="" placeholder="DOI"/> 
            <div style="clear:both"></div>
          </div>
          <div id="more_publications"></div>
          <a href="#publicationsForm" id="addPubRow"><i class="fa fa-plus">&nbsp;</i><span id="add_another_pub">Add another publication</span></a>
        </div>

        <div id="datasets" class="form-group" name="datasetsForm">
          <label>Datasets</label>
          <span><i>Include DOI where known</i></span>
          <div class="datasetTemplate">
            <div id='extraDatasetLine' style="height:10px;font-size:10px;display:none;">&nbsp;</div>
            <table>
              <tr>
                <td width="20%"><a target="_blank" href="{{url_for('repo_list')}}"><i>Repository</i></a></td>
                <td><input class="input-sm form-control removable" type="text" id="ds_repo" name="ds_repo"  style="margin-bottom:2px"/>
                  <a href="#datasetForm" id="removeDatasetRow" class="remover"><i class="fa fa-remove"></i></a></td>
              </tr>

              <tr>
                <td><i>Title</i></td>
                <td><textarea class="input-sm form-control removable" name="ds_title" id="ds_title" rows="1" cols="74" style="margin-bottom:2px"></textarea></td>
              </tr>
              <tr>
                <td><i>URL</i></td>
                <td><textarea class="input-sm form-control removable" name="ds_url" id="ds_url" rows="1" cols="74" style="margin-bottom:2px"></textarea></td>
              </tr>
              <tr>
                <td><i>DOI</i></td>
                <td><input class="input-sm form-control removable" type="text" id="ds_doi" name="ds_doi" style="margin-bottom:2px"/></td>
              </tr>
            </table>
            <div style="clear:both"></div>
          </div>
          <div id="more_datasets"></div>
          <a href="#datasetsForm" id="addDatasetRow"><i class="fa fa-plus">&nbsp;</i><span id="add_another_dataset">Add another dataset</span></a>
        </div>
       <!--  <input type="checkbox" name="nodata"> This is an interim report - my data aren't ready yet.
        <br><br> -->

        <b>Other comments relevant for data submission:</b><br>
        <textarea name="other_comments" rows="3" cols="80">{{project_metadata.other_comments}}</textarea><br>
        <br>

        <button type="submit" name="action" value="Submit">Submit</button>
        <button type="submit" name="action" value="save">Save current session</button>
      </form>

    </div>
  </div>
</div>
</div>

{% endblock body %}