{% extends "layout.html" %}
{% set cur = "repo_list" %}
{% block body %}

<div class="content">
	Disciplinary repositories offer data services for the following data types and should be used if appropriate for your data set:<br />
<br />
    <ul class="list-group">
	<li class="list-group-item">
	    <a href="https://www.bco-dmo.org/how-get-started">BCO-DMO</a> for bio/chem oceanographic data
	</li>
	<li class="list-group-item">
	    <a href="https://cchdo.ucsd.edu/submit">CCHDO</a> for hydrographic data
	</li>
	<li class="list-group-item">
	    <a href="https://earthchem.org/ecl/">EarthChem</a> for geochemical and chronological data
	</li>
	<li class="list-group-item">
	    <a href="https://www.ncbi.nlm.nih.gov/genbank/submit/">GenBank</a> for sequence data
	</li>
	<li class="list-group-item">
	    <a href="https://ds.iris.edu/ds/nodes/dmc/forms/assembled-id/">IRIS</a> for seismological data
	</li>
	<li class="list-group-item">
	    <a href="http://ilikai.soest.hawaii.edu/sadcp/submit.html">JASADCP</a> for ocean current data
	</li>
	<li class="list-group-item">
	    <a href="https://www.marine-geo.org/submit/">MGDS</a> for marine geological & geophysical data
	</li>
	<li class="list-group-item">
	    <a href="https://www.ncdc.noaa.gov/data-access/paleoclimatology-data/contributing">NCEI</a> for paleoclimate data
	</li>
	<li class="list-group-item">
	    <a href="https://www.geosamples.org/getigsn">SESAR</a> for sample information and registration
	</li>
	<li class="list-group-item">
	    <a href="https://www.unavco.org/data/data-help/submission/submission.html">UNAVCO</a> for geodetic data
	</li>
    </ul>

    
</div>
{% endblock body %}