{% extends "layout.html" %}
{% set cur = "dataset_error" %}
{% block body %}


<div class="container">

  <div>
    <img id="roadworks" alt="under going maintenance" height="400px" src="{{ url_for('static', filename='imgs/roadworks.png') }}" style="margin:auto;" class="center"/>
    <p>
        <h3 style="text-align:center"><b> This page is undergoing planned maintenance.  Please return soon.</b></h3>
    </p>
    <br/><br/>
   
    <button onclick="goBack()">Go Back</button>
    <script>
      function goBack() {
      window.history.back();
      }
    </script>
    {% if back_url %}
    {% endif %}
  </div>
</div>
{% endblock body %}