{% extends "layout.html" %}
{% set cur = "sdls" %}
{% block body %}


<div class="container">
       
    <h2>Antarctic Seismic Data Library System (SDLS)</h2>

    <h3>About SDLS</h3>
    <p>The <a target="_blank" href="https://sdls.ogs.trieste.it/">Antarctic Seismic Data Library System</a> (SDLS) works under the auspices of Scientific Committee on Antarctic Research (<a target="_blank" href="http://www.scar.org/">SCAR</a>) and the Antarctic Treaty (<a target="_blank" href="http://www.ats.aq/e/ats.htm">ATCM XVI-12</a>) to provide open access to all multichannel seismic-reflection data collected south of 60° S to study the structure of the earth's crust of Antarctica. This page provides links to answers for many common questions about the SDLS, and how the library system can be used by all researchers.</p>

    <p>The SDLS is under the mandates of the Antarctic Treaty System, and as such, all institutions that collect MCS data in Antarctica are requested to submit their MCS data to the SDLS. The formal guidelines that govern the SDLS are outlined in general in <a target="_blank" href="http://www.ats.aq/e/ats.htm">Antarctic Treaty Consultative Meeting Resolution XVI-12</a>, and in particular in <a target="_blank" href="https://www.scar.org/scar-library/reports-and-bulletins/scar-reports/4182-scar-report-9/">SCAR Report No 9</a>.</p>

    <p>The main SDLS database is currently hosted by <a target="_blank" href="http://www.ogs.trieste.it/">OGS</a>, Italy. They maintain a website that allows searching, viewing and downloading for existing and available multi-channel seismic data. Free registration is required for downloading data. Copies of the data area also hosted at the SDLS library branches in different countries.</p>

    <table>
        <td>
            <a target="_blank" href="http://sdls.ogs.trieste.it">
                <img id="sdls" alt="Antarctic Seismic Map" src="{{ url_for('static', filename='imgs/SDLS_map_orig.png') }}" style="width:90%" class="center" />
            </a>
        </td>
        <td>
            <a target="_blank" href="http://www.geomapapp.org">
                <img id="sdls" alt="Antarctic Seismic Map" src="{{ url_for('static', filename='imgs/Antarctic-Seismic.png') }}" style="width:80%" class="center" />
            </a>
        </td>
    </table>
    <br/>
    <p><i>Screenshots of locations of all the seismic tracks in the SDLS as shown in the <a target="_blank" href="http://sdls.ogs.trieste.it">SDLS data browser</a> (left) and the available, publicly released data in <a target="_blank" href="http://www.geomapapp.org">GeoMapApp</a> (right).</i></p>

    <h3>Lamont SDLS branch</h3>
    <p>The SCAR Seismic Data Library System (SDLS) has branches worldwide. The US branches are hosted by USGS (Menlo Park, CA) and Lamont-Doherty Earth Observatory (Palisades, NY).</p>

    <h3>Services at the Lamont SDLS branch</h3>
    <ul>
        <li>Local DVD copies of multi-channel seismic data in the SDLS system for scientist to review</li>

        <li>Provide assistance with submissions of seismic data to the SDLS</li>

        <li>Integrate SDLS publicly available seismic data into <a target="_blank" href="http://www.geomapapp.org/">GeoMapApp</a> for viewing and browsing
        (in GeoMapApp choose the Antarctic basemap. Then select Portals -> Digital seismic reflection profiles and select Antarctic SDLS
        or choose Data Layers -> Geophysics -> Antarctic Seismic reflection tracks for an overview of existing lines)</li>
    </ul>

    Contact Frank Nitsche - fnitsche@ldeo.columbia.edu


</div>
{% endblock body %}