{% extends "layout.html" %}
{% set cur = "stats" %}
{% block body %}

<div id="download_numfiles_bytes" hidden>{{download_numfiles_bytes|tojson}}</div>
<div id="download_users_downloads" hidden>{{download_users_downloads|tojson}}</div>
<div id="submission_submissions" hidden>{{submission_submissions|tojson}}</div>
<div id="projects_created" hidden>{{projects_created|tojson}}</div>

<div class="content">

  <form>
    Start Date:
    <input type="date" name="start_date" id="start_date" value={{start_date}} max={{end_date}}>
    End Date:
    <input type="date" name="end_date" id="end_date" value={{end_date}} min={{start_date}}>
    <button type="submit">Submit</button>
  </form>

  <div id="sm_submissions_chart_div"></div>

  <div id="sm_projects_chart_div"></div>

  <div id="dl_users_downloads_chart_div"></div>
  <div class="stats-limits-div" id="dl_users">
    <input type="hidden" class="options">
    <input type="hidden" class="data">
    <input type="hidden" class="target">
    <b>IP addresses </b> 
    Min: <input type="number" class="ymin1">
    Max: <input type="number" class="ymax1">
    <b>Downloads </b> 
    Min: <input type="number" class="ymin2">
    Max: <input type="number" class="ymax2">
    <button type="button" onclick="replot(this)">Replot</button>
  </div>

  <div id="dl_numfiles_bytes_chart_div"></div>
  <div class="stats-limits-div" id="dl_files">
    <input type="hidden" class="options">
    <input type="hidden" class="data">
    <input type="hidden" class="target">
    <b>Number of files </b> 
    Min: <input type="number" class="ymin1">
    Max: <input type="number" class="ymax1">
    <b>MB </b> 
    Min: <input type="number" class="ymin2">
    Max: <input type="number" class="ymax2">
    <button type="button" onclick="replot(this)">Replot</button>
  </div>
 
  <!-- only curators can see stats below -->
  {% if session.user_info and session.user_info.is_curator %}
    <p class="stats-text"> Number of downloads for each dataset (based on unique date-IP combinations)*</p>
    <div class="scrollable-window">
      <table style="width:98%" class="nested_table">
        <tr>
          <th style="width:4em;">Count</th>
          <th style="width:7em;">ID</th>
          <th style="width:55%;">Title</th>
          <th>Creator(s)</th>
          <th style="width:7.5em;">Date Released</th>
        </tr>
        {% for d in download_numbers %}
        <tr>
          <td>{{d.count}}</td>
          <td><a href={{url_for('landing_page', dataset_id=d.id)}} target="_blank">{{d.id}}</a></td>
          <td>{{d.title}}</td>
          <td>{{d.creator}}</td>
          <td>{{d.release_date}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <p class="stats-text">Search Statistics**</p>

    <div class="search-stats">
        <table class="nested_table">
          <tr>
            <th style="width:4em;">Count</th>
            <th>Repository</th>
          </tr>
          {% for k,v in searches.repos|dictsort(false, 'value', reverse=true) %}
          <tr>
            <td>{{v}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    <div class="search-stats">
        <table class="nested_table">
          <tr>
            <th style="width:4em;">Count</th>
            <th>Science Programs</th>
          </tr>
          {% for k,v in searches.sci_progs|dictsort(false, 'value', reverse=true) %}
          <tr>
            <td>{{v}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
    </div>

    <div class="search-stats">
        <table class="nested_table">
          <tr>
            <th style="width:4em;">Count</th>
            <th>NSF Programs</th>
          </tr>
          {% for k,v in searches.nsf_progs|dictsort(false, 'value', reverse=true) %}
          <tr>
            <td>{{v}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
    </div>

    <div class="search-stats">
        <table class="nested_table">
          <tr>
            <th style="width:4em;">Count</th>
            <th>Person</th>
          </tr>
          {% for k,v in searches.persons|dictsort(false, 'value', reverse=true) %}
          <tr>
            <td>{{v}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
    <div class="search-stats">
        <table class="nested_table">
          <tr>
            <th style="width:4em;">Count</th>
            <th>Award</th>
          </tr>
          {% for k,v in searches.awards|dictsort(false, 'value', reverse=true) %}
          <tr>
            <td>{{v}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
    </div>

    <div class="search-stats">
        <table class="nested_table">
          <tr>
            <th style="width:4em;">Count</th>
            <th>Title</th>
          </tr>
          {% for k,v in searches.titles|dictsort(false, 'value', reverse=true) %}
          <tr>
            <td>{{v}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
    </div>

    <div class="search-stats">
        <table class="nested_table">
          <tr>
            <th style="width:4em;">Count</th>
            <th>Free Text</th>
          </tr>
          {% for k,v in searches.free_texts|dictsort(false, 'value', reverse=true) %}
          <tr>
            <td>{{v}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
    </div>
  <!--   <div class="search-stats">
        <table class="nested_table">
          <tr>
            <th style="width:4em;">Count</th>
            <th>Spatial Bounds</th>
          </tr>
          {% for k,v in searches.spatial_bounds|dictsort(false, 'value', reverse=true) %}
          <tr>
            <td>{{v}}</td>
            <td>{{k}}</td>
          </tr>
          {% endfor %}
        </table>
    </div> -->

    <div>
      <p><b>
        * Download statistics collection began in March 2017
      </b></p>
        <p><b>
        ** Search statistics collection began in May 2019
      </b></p>
    </div>
  </div>
{% endif %}


<script type="text/javascript">
  google.load("visualization", "1", {packages: ["corechart","table","annotatedtimeline"] });
 
 


  //downloads: number of files and MB
  var dl_numfiles_bytes_array= JSON.parse($("#download_numfiles_bytes").text());
  for (var i in dl_numfiles_bytes_array) {
    row = dl_numfiles_bytes_array[i];
    row[0] = makeDate(row[0]);
    row[2] /= (1024 * 1024); 
  }

  //downloads: unique ip addresses and unique downloads
  var dl_users_downloads_array= JSON.parse($("#download_users_downloads").text());
  for (i in dl_users_downloads_array) {
    row = dl_users_downloads_array[i];
    row[0] = makeDate(row[0]);
  }

  //submissions: number of dataset submissions
  var sm_submissions_array= JSON.parse($("#submission_submissions").text());
  for (i in sm_submissions_array) {
    row = sm_submissions_array[i];
  }  

  //submissions: number of project submissions
  var sm_projects_array= JSON.parse($("#projects_created").text());
  for (i in sm_projects_array) {
    row = sm_projects_array[i];
  }  

  google.setOnLoadCallback(function() {
    drawChart(sm_submissions_array, 'USAP-DC Quartely Dataset Submissions', 'Quarter', 'Number of submissions', 'sm_submissions_chart_div');

    drawChart2_quarterly(sm_projects_array, 'USAP-DC Quarterly Projects Created', 'Quarter', 'Number of registrations', 'Cumulative registrations',
                         'Before', 'After USAP-DC Project Catalog launch (May 2019)', 'Cumulative', 'sm_projects_chart_div');

    drawChart2(dl_users_downloads_array, 'USAP-DC Monthly Data Download Requests*', 'Month', 'IP addresses', 'Downloads', 'Unique IP addresses', 'Unique data downloads', 'dl_users_downloads_chart_div', $("#dl_users"));

    drawChart2(dl_numfiles_bytes_array, 'USAP-DC Monthly Data Downloads*', 'Month', 'Number of files', 'MB', 'Total number of files downloaded', 'Total volume of data files downloaded (MB)', 'dl_numfiles_bytes_chart_div', $("#dl_files"));
   
  });

  function makeDate(date_str) {
    var date = new Date(date_str);
    var userTimezoneOffset = date.getTimezoneOffset() * 60000;
    return new Date(date.getTime() + userTimezoneOffset);
  }

  function replot(elem){
    var thisDiv = $(elem).parent();
    var ymin1 = thisDiv.children(".ymin1").val();
    var ymax1 = thisDiv.children(".ymax1").val();
    var ymin2 = thisDiv.children(".ymin2").val();
    var ymax2 = thisDiv.children(".ymax2").val();
    var d_data = new google.visualization.DataTable(thisDiv.children(".data").val());
    var d_options = JSON.parse(thisDiv.children(".options").val());
    var target = thisDiv.children(".target").val();
    d_options.vAxes[0].viewWindow = {min: ymin1, max: ymax1};
    d_options.vAxes[1].viewWindow = {min: ymin2, max: ymax2};
    var d_chart= new google.visualization.AreaChart(document.getElementById(target));
    d_chart.draw(d_data,d_options);
  }

  function drawChart(d_array, title, x_title, y_title, target) {
    var d_data = new google.visualization.DataTable();
    d_data.addColumn('string', 'Quarter');
    d_data.addColumn('number', y_title);
    d_data.addRows(d_array);
    var d_options = {
      legend: 'none',
      title: title,
      height: 350,
      hAxis: {title: x_title},
      vAxis: {
        title: y_title,
        viewWindowMode:'explicit'
      }
    };
    var d_chart= new google.visualization.AreaChart(document.getElementById(target));
    d_chart.draw(d_data,d_options);
  }

  function drawChart2_quarterly(d_array, title, x_title, y_title1, y_title2, legend1, legend2, legend3, target) {
    var d_data = new google.visualization.DataTable();
    d_data.addColumn('string', 'Quarter');
    d_data.addColumn('number', legend1);
    d_data.addColumn('number', legend2);
    d_data.addColumn('number', legend3);
    d_data.addRows(d_array);
    var d_options = {
      legend: 'top',
      title: title,
      height: 350,
      hAxis: {
        title: x_title
      },
      vAxes: {0: {title: y_title1},
              1: {title: y_title2, gridlines: {color:'none'}},
      },
      series: {0: {targetAxisIndex: 0},
               1: {targetAxisIndex: 0},
               2: {targetAxisIndex: 1}
      }
    };
    var d_chart= new google.visualization.AreaChart(document.getElementById(target));
    d_chart.draw(d_data,d_options);
  }

  function drawChart2(d_array, title, x_title, y_title1, y_title2, legend1, legend2, target, replotDiv) {
    var d_data = new google.visualization.DataTable();
    d_data.addColumn('date', 'Month');
    d_data.addColumn('number', legend1);
    d_data.addColumn('number', legend2);
    d_data.addRows(d_array);
    var d_options = {
      title: title,
      hAxis: {title: x_title},
      height: 350,
      vAxes: {0: {title: y_title1},
              1: {title: y_title2, gridlines: {color:'none'}},
      },
      series: {0: {targetAxisIndex: 0},
               1: {targetAxisIndex: 1}}
    };
    var d_chart= new google.visualization.AreaChart(document.getElementById(target));
    d_chart.draw(d_data,d_options);

    var chartLayout = d_chart.getChartLayoutInterface();
    var chartBounds = chartLayout.getChartAreaBoundingBox();
    var min_value1 = 0;//Math.round(chartLayout.getVAxisValue(chartBounds.top + chartBounds.height, 0));
    var max_value1 = Math.round(chartLayout.getVAxisValue(chartBounds.top, 0));
    var min_value2 = 0;//Math.round(chartLayout.getVAxisValue(chartBounds.top + chartBounds.height, 1));
    var max_value2 = Math.round(chartLayout.getVAxisValue(chartBounds.top, 1));
    replotDiv.children(".ymin1").val(min_value1);
    replotDiv.children(".ymax1").val(max_value1);
    replotDiv.children(".ymin2").val(min_value2);
    replotDiv.children(".ymax2").val(max_value2);
    replotDiv.children(".data").val(d_data.toJSON());
    replotDiv.children(".options").val(JSON.stringify(d_options));
    replotDiv.children(".target").val(target);
  }

  $(document).ready(function() {
    $("#start_date").change(function() {
      $("#end_date").attr("min", $("#start_date").val());
    });

    $("#end_date").change(function() {
      $("#start_date").attr("max", $("#end_date").val());
    });
  });

</script>
{% endblock body %}