{% extends "layout.html" %}
{% set cur = "stats" %}
{% block body %}

<div id="download_numfiles_bytes" hidden>{{download_numfiles_bytes|tojson}}</div>
<div id="download_users_downloads" hidden>{{download_users_downloads|tojson}}</div>
<div id="submission_submissions" hidden>{{submission_submissions|tojson}}</div>

<div class="content">

  <form>
    Start Date:
    <input type="date" name="start_date" id="start_date" value={{start_date}} max={{end_date}}>
    End Date:
    <input type="date" name="end_date" id="end_date" value={{end_date}} min={{start_date}}>
    <button type="submit">Submit</button>
  </form>

  <div id="sm_submissions_chart_div"></div>
  <div id="dl_users_downloads_chart_div"></div>
  <div id="dl_numfiles_bytes_chart_div"></div>

</div>


<script type="text/javascript">
  google.load("visualization", "1", {packages: ["corechart","table","annotatedtimeline"] });

  //downloads: number of files and MB
  var dl_numfiles_bytes_array= JSON.parse($("#download_numfiles_bytes").text());
  for (var i in dl_numfiles_bytes_array) {
    row = dl_numfiles_bytes_array[i];
    row[0] = makeDate(row[0]);
    row[2] /= (1024 * 1024); 
  }

  //downloads: unique ip addresses and unique downloads
  var dl_users_downloads_array= JSON.parse($("#download_users_downloads").text());
  for (i in dl_users_downloads_array) {
    row = dl_users_downloads_array[i];
    row[0] = makeDate(row[0]);
  }

  //submissions: number of submissions
  var sm_submissions_array= JSON.parse($("#submission_submissions").text());
  for (i in sm_submissions_array) {
    row = sm_submissions_array[i];
    row[0] = makeDate(row[0]);
  }  

  google.setOnLoadCallback(function() {
    drawChart(sm_submissions_array, 'USAP-DC Monthly Submissions', 'Month', 'Number of submissions', 'sm_submissions_chart_div');

    drawChart2(dl_numfiles_bytes_array, 'USAP-DC Monthly Data Downloads', 'Month', 'Number of files', 'MB', 'Total number of files downloaded', 'Total volume of data files downloaded (MB)', 'dl_numfiles_bytes_chart_div');

    drawChart2(dl_users_downloads_array, 'USAP-DC Monthly Data Download Requests', 'Month', 'IP addresses', 'Downloads', 'Unique IP addresses', 'Unique data downloads', 'dl_users_downloads_chart_div');
   
  });

  function makeDate(date_str) {
    var date = new Date(date_str);
    var userTimezoneOffset = date.getTimezoneOffset() * 60000;
    return new Date(date.getTime() + userTimezoneOffset);
  }

  function drawChart(d_array, title, x_title, y_title, target) {
    var d_data = new google.visualization.DataTable();
    d_data.addColumn('date', 'Month');
    d_data.addColumn('number', y_title);
    d_data.addRows(d_array);
    var d_options = {
      legend: 'none',
      title: title,
      hAxis: {title: x_title},
      vAxis: {
        title: y_title,
        viewWindowMode:'explicit'
      }
    };
    var d_chart= new google.visualization.AreaChart(document.getElementById(target));
    d_chart.draw(d_data,d_options);
  }


  function drawChart2(d_array, title, x_title, y_title1, y_title2, legend1, legend2, target) {
    var d_data = new google.visualization.DataTable();
    d_data.addColumn('date', 'Month');
    d_data.addColumn('number', legend1);
    d_data.addColumn('number', legend2);
    d_data.addRows(d_array);
    var d_options = {
      title: title,
      hAxis: {title: x_title},
      vAxes: {0: {title: y_title1, minValue: 0},
              1: {title: y_title2, minValue: 0},
  
      },
      series: {0: {targetAxisIndex: 0},
               1: {targetAxisIndex: 1}}
    };
    var d_chart= new google.visualization.AreaChart(document.getElementById(target));
    d_chart.draw(d_data,d_options);
  }

  $(document).ready(function() {
    $("#start_date").change(function() {
      $("#end_date").attr("min", $("#start_date").val());
    });

    $("#end_date").change(function() {
      $("#start_date").attr("max", $("#end_date").val());
    });
  });

</script>
{% endblock body %}