{% extends "layout.html" %}
{% set cur = "help" %}
{% block body %}

<div class="container justify"> 
    <h1 class="title">Procedure for registering a project with USAP-DC</h1>
    <i>For frequently asked questions see also <a href="{{url_for('faq')}}">FAQ page</a></i>
    <br><br>

    <h3>Overview</h3>
    <p>
        The USAP-DC Project Catalog is a catalog of projects (awards or collaborative research awards) funded by the NSF US Antarctic 
        Program with links to project related information, citations and  research datasets generated during each  project.
    </p>

    <p>
        <a target="_blank" href="https://www.nsf.gov/publications/pub_summ.jsp?ods_key=nsf16055">NSF guidelines</a> 
        require that PIs who receive an award from the NSF US Antarctic Program register their project with the USAP-DC Project Catalog 
        using their award number as well as any related award numbers for collaborative research projects. New projects should be 
        registered soon after NSF has made an award (note that awards made in or after 2020 need to include links to their project page 
        in their year-one annual reports). The project page is intended to be updated throughout the lifetime of the project as new 
        research data are submitted for preservation and as publications become available.
    </p>

    <h3>Project Registration</h3>
    <p>
        Project registration is completed using a simple web form that asks for project information including co-Investigators, location 
        and project summary and, once available, field programs, resulting datasets and publications  
        (<a target="_blank" href="{{url_for('project_landing_page',project_id='p0010018')}}">see example</a>). To start the registration 
        process, after login, you will be asked to select your NSF award from a pull-down menu. The award number will be used to pre-populate 
        the submission form with information available from the NSF fastlane award database.
    </p>

    <h3>Collaborative Research</h3>
    <p>
        If this is a collaborative research award that includes multiple award numbers, e.g. to different institutions, you can use the 
        “Add additional award linked to project” option to add these additional awards. Likewise, you can add additional people using the 
        “add another person” option.  
    </p>

    <h3>Large Programs</h3>
    <p>
        If your project/award is part of an overarching science project (e.g. ANDRILL, WAIS Divide Ice Core, Thwaites-ITGC), 
        please select the initiative from the drop-down menu for selecting a Special Science Program. This will enable users 
        to search and filter for projects that are part of these initiatives.
        If your overarching science project or initiative is not listed, please add this in the comment box at the end of the 
        webform and we will add it to the menu of options.
    </p>

    <h3>Keywords</h3>
    <p>
        Location and GCMD keywords are selected from pre-populated lists. The latter is based on the GCMD/AMD keyword vocabulary 
        and will be used to prepare your project entry for the Antarctic Master Directory.  
    </p>

    <h3>Adding Links to Data and Publications</h3>
    <p>
        If datasets, references or other information are not yet available, they can be added at a later time to the project record 
        using the “Edit” button on your Project Catalog page (see below for details). 
    </p>

    <p>
        If you have submitted your project-related research data to USAP-DC, we will automatically link your dataset to your project. 
        If your datasets are submitted to other repositories, please provide the dataset title and repository dataset-link. 
    </p>

    <h3>After Submission</h3>
    <p>
        After you submit your project registration form, USAP-DC staff will check your submission before your project page is published. 
        Usually, this takes 1-2 business days. Staff may contact you if we have any questions regarding your submission. 
    </p>

    <h3>Editing your Project Page</h3>
    <p>
        After the initial project page has been created you can update it at any time using the “Edit” button located in the top right 
        corner of the page. The Edit button links to a pre-populated form with all the information previously entered for your project, 
        where edits and updates can be made. The submitted updates will be checked by a USAP-DC data curator before they are published 
        on your project page.  
    </p>

    <p>
        Note that only users linked to the project by email address or ORCID can make edits. If a user tries to edit a project page to 
        which the user is not linked or for whom the authentication on file is insufficient, the user will be presented with an option 
        to request this access.
    </p>

    <h3>Registration within the AMD</h3>
    <p>
        Based on the project information, USAP-DC will create a metadata record in the required format (DIF) and submit it to the 
        <a href="{{url_for('amd')}}">Antarctic Master Directory (AMD)</a>. This is required for the final project report to NSF, and will usually be done after the first 
        datasets have been linked to the project page.   
    </p>

    <p>
        If you run into problems or have questions, please  <a href="{{url_for('contact')}}">contact us.</a>
    </p>
</div>
{% endblock body %}