{% extends "layout.html" %}
{% set cur = "submit" %}
{% block body %}

<style>
  .button-div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10px 0px 10px 0px;
  }
</style>

<div class="border">
	{% if session.googleSignedIn %}	
    	<div class="alert alert-danger alert-dismissible" style="width:800;">
        	<a href="{{url_for('submit', google='false')}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    <h4>If you are using a public computer, please make sure you <a onclick="logoutGoogle()" href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue={{url_for('submit', google='false', _external=True)}}">sign out</a> of your Google account before leaving.</h4>
		 </div>
	{% endif %}
	<div class="content">
		<h3 style="float:left">How to Contribute Data</h3> 
		<a target="_blank" style="float:right; margin-top: 20px;" href="{{url_for('submit_help')}}" class="btn btn-primary">Help</a>
		<div style="clear:both"></div>
		<br />
		<h4>Step #1: Deposit Your Dataset</h4>
		<p>USAP-DC accepts data submissions for any Antarctic datasets and provides repository services, including data publication in the <a href="http://www.doi.org/">DOI&reg; system</a> and long-term archiving.</p>
		<p><strong>Note:</strong> <a href="{{url_for('contact')}}" title="contact us">Contact us</a> if other disciplinary repositories may be more appropriate for your datatype, e.g. those in <a href="{{url_for('repo_list')}}"> this list</a>.
		</p>
		<div class="button-div">
			<a href="/submit/dataset" class="btn btn-lg btn-primary">Deposit</a>
		</div>
		<br />
		<h4 style="margin-top: 0;">Step #2: Register Your Project</h4>
		<p style="text-align:left">
			Register your project in the Antarctic Master Directory (AMD). Click on the "Register" button below to fill out a brief Web form, and we will create the AMD record required for your NSF final report.
		</p>
		<div class="button-div">
			<a href="/submit/project" class="btn btn-lg btn-primary">Register</a>
		</div>
		<br />


		<h4 style="margin-top: 0;">Step #3: Wait</h4>
		<p style="text-align:left">
			Each AMD submission is verified by AMD staff and it takes usually several business days from submitting a record until a record goes live.
		</p>
		<br/>
	</div>
</div>

{% endblock body %}