{% extends "layout.html" %}
{% set cur = "webinars" %}
{% block body %}


<div class="container">
       
	<h1 class="title">Webinars</h1>

    <h4>USAP-DC webinar May 14, 2025</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/KeDBF76KUkE?si=bRgvmr_tQ9UbJbnc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br><br>

    <h4>USAP-DC webinar May 9, 2024</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zyCmt1oeqBc?si=vxtpuiC1gOqF9GZK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br><br>

    <h4>USAP-DC webinar May 2, 2023 Part 1</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OsXMNRjWeug?si=o_Ev65EPV4sMiUW7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br><br>

    <h4>USAP-DC webinar May 2, 2023 Part 2</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xObBmywO2nU?si=6IXgtM6eM7IxfW3l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br><br>
	
	<!-- <h4>An overview of USAP-DC services</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I9rwM0PeQlE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    <br><br> 

    <h4>USAP-DC webinar November 11, 2020 Part 1: Introduction and data search</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_bb0rEhDRQ8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br>

    <h4>USAP-DC webinar November 11, 2020 Part 2: Register a project and deposit datasets</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XbwzpMDU_QI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br>

</div>
{% endblock body %}