{% extends "layout.html" %}
{% set cur = "webinars" %}
{% block body %}


<div class="container">
       
	<h3>Webinars</h3>
	
	<!-- <h4>An overview of USAP-DC services</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I9rwM0PeQlE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br> -->

    <h4>USAP-DC webinar November 11, 2020 Part 1: Introduction and data search</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_bb0rEhDRQ8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br>

    <h4>USAP-DC webinar November 11, 2020 Part 2: Register a project and deposit datasets</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XbwzpMDU_QI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br><br>

</div>
{% endblock body %}